{
    "types": [
        "Type1",
        "Type2"
    ],
    "nodes": [
        "Node1",
        "Node2"
    ],
    "edges": [
        {
            "id": "PersonToProject",
            "name": "Edge1",
            "source": "Node1",
            "target": "Node2",
            "desc": "Edge Description"
        }
    ],
    "meta": {
        "Type1": {
            "groups": [
                {
                    "id": "group1",
                    "name": "Group 1",
                    "desc": "Group 1 Description"
                }
            ],
            "variables": [
                {
                    "id": "Field1",
                    "name": "Field 1",
                    "desc": "Field 1 Description"
                }
            ]
        }
    },
    "transformable": {
        "Type1": [
            "Field1",
            "Field2"
        ],
        "Type2": [
            "Field1_1",
            "Field2_1"
        ]
    },
    "transformations": {
        "Type1": [
            {
                "x": "Field3",
                "t": "SQRT"
            }
        ],
        "Type2": []
    },
    "tests": {
        "Person": [
            {
                "y": "Field2",
                "x": "Field1",
                "test": "boxplot"
            }
        ],
        "Project": [
            {
                "y": "Field1_1",
                "x": "Field2_1",
                "yOp": "AVG"
            }
        ]
    }
}
