<div id="tabs">
  <ul>
    <li><a href="#tabs-1">GSMS PDF Upload</a></li>
    <li><a href="#tabs-2">Reviewer Assignment</a></li>
    <li><a href="#tabs-3">Student Stats Edit</a></li>
    <li><a href="#tabs-4">GSMS CSV</a></li>
    <li><a href="#tabs-5">GSMS Notes</a></li>
</ul>
  <div id="tabs-1">
<%= subview('studentImport') %>
  </div>
  <div id="tabs-2">
<%= subview('reviewerImport') %>
  </div>
  <div id="tabs-3">
<%= subview('editBio') %>
  </div>
  <div id="tabs-4">
<%= subview('gsmsOutcomeImport') %>
  </div>
  <div id="tabs-5">
<%= subview('gsmsNotesImport') %>
  </div>
</div>
