<% if(models.length > 0){ %>
    <table>
        <tr>
            <th align="left" width="100">Type</th>
            <th align="left" width="100">Value</th>
            <th align="left" width="100">Delete?</th>
        </tr>
    <% _.each(models, function(r){ %>
        <tr id="<%= r.cid %>">
            <td>
                <select name="type">
                    <option value="ROLE" <% if(r.get('type') == "ROLE"){ %>selected<% } %>>Role</option>
                    <option value="SUB-ROLE" <% if(r.get('type') == "SUB-ROLE"){ %>selected<% } %>><%= subRolesTerm %></option>
                    <option value="PROJ" <% if(r.get('type') == "PROJ"){ %>selected<% } %>>Project</option>
                    <option value="PHASE" <% if(r.get('type') == "PHASE"){ %>selected<% } %>>Phase</option>
                    <option value="LOC" <% if(r.get('type') == "LOC"){ %>selected<% } %>>Location</option>
                </select>
            </td>
            <td>
                <select name="value">
                    <% if(r.get('possibleValues').groups != undefined){ %>
                        <% _.each(_.uniq(r.get('possibleValues').groups), function(g){ %>
                            <% if(g != null){ %>
                                <optgroup label="<%= g %>">
                                    <% _.each(r.get('possibleValues').ids, function(v, i){ %>
                                        <% if(r.get('possibleValues').groups[i] == g && r.get('possibleValues').names[i] != ""){ %>
                                            <option value="<%= v %>" <% if(r.get('value') == v){ %>selected<% } %>><%= r.get('possibleValues').names[i] %></option>
                                        <% } %>
                                    <% }) %>
                                </optgroup>
                            <% } %>
                        <% }) %>
                    <% } else { %>
                        <% _.each(r.get('possibleValues').ids, function(v, i){ %>
                            <option value="<%= v %>" <% if(r.get('value') == v){ %>selected<% } %>><%= r.get('possibleValues').names[i] %></option>
                        <% }) %>
                    <% } %>
                </select>
            </td>
            <td>
                <button class="deleteRule">X</button>
            </td>
        </tr>
    <% }) %>
    </table>
<% } %>
<button id="addNewRule">Add new Rule</button> <button id="saveRules">Save Rules</button>
