.htaccess
Classes/dompdf/lib/fonts/log.htm
Classes/securimage/database/securimage.sq3
behat/behat.yml
behat/bin/behat
behat/bin/selenium.jar
behat/bin/webunit
behat/composer.lock
behat/composer.phar
behat/output
behat/screenshots
behat/vendor
Photos/*.jpg
Photos/*.png
images/*
Classes/dompdf/lib/fonts/log.htm
Classes/dompdf/lib/fonts/*.afm.php
extensions/Cache/cache/
test.tmp
Path.php
Credentials.php
phpdoc.dist.xml
favicon.png
maintenance/install/*.csv
config/config.php
config/config_grand.php
config/config_age-well.php
config/config_agewell.php
config/config_glyconet.php
data/review-feedback
docs/_build/
/EducationModules/
/EducationResources/
extensions/AnnokiControl/query_log.txt
maintenance/expert/
maintenance/templates/bin
maintenance/templates/composer.*
maintenance/templates/files/
maintenance/templates/vendor/
maintenance/avoid_stuff/
maintenance/alloc.csv
maintenance/reminders.json
npm-debug.log
symfony/bin
symfony/behat.yml
symfony/composer.lock
symfony/composer.phar
symfony/docs/build
symfony/docs/cache
symfony/output
symfony/screenshots
symfony/vendor
symfony/phantomjs.log
symfony/phantomjs.pid
symfony/selenium.log
symfony/selenium.pid
extensions/MailingList/Newsletter/cache/*.html
extensions/GrandObjects/facultyMap.php
extensions/GlobalSearch/ExpertSearch/kf_error_log
extensions/GlobalSearch/ExpertSearch/expert
extensions/GlobalSearch/ExpertSearch/mapExperts.txt
extensions/GlobalSearch/ExpertSearch/Output
extensions/GlobalSearch/ExpertSearch/TopicModeling/output/*
extensions/GlobalSearch/ExpertSearch/Index/indexFile/
extensions/GlobalSearch/ExpertSearch/Index/conf/BuildConfFile_*
extensions/GlobalSearch/ExpertSearch/Index/conf/buildfile_*
extensions/GlobalSearch/ExpertSearch/Clustering/input/papers-doc-topics-weka.arff
extensions/GlobalSearch/ExpertSearch/Clustering/input/papers-doc-topics-weka.csv
extensions/GlobalSearch/ExpertSearch/Clustering/output/papers-clusters-out.arff
extensions/GlobalSearch/ExpertSearch/Clustering/output/papers-clusters.csv
extensions/GlobalSearch/ExpertSearch/Clustering/trecData/papers-clusters.trectext
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/klSmooth.supp
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/klSmooth.supp.mc
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/queryConf/kl/output/klOutfile.txt
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/queryConf/klSmooth.supp
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/queryConf/klSmooth.supp.mc
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/queryConf/query.ldf
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/conf/queryConf/query.trectext
extensions/GlobalSearch/ExpertSearch/CommunityBasedEF/output/
extensions/Reporting/Report/SpecialPages/AVOID/PharmacyMap/programs*.csv
