<?php

## Database credentials
$wgDBuser           = "";
$wgDBpassword       = "";

$wgDBadminuser           = "";
$wgDBadminpassword       = "";

## From MediaWiki manual:
##   "This value is used to generate a persistent cookie
##    for authentication that is resilient to spoofing."
$wgSecretKey = "";

