<span class="label" style="display:inline-block;">Title:</span> <%= HTML.TextBox(this, 'name', {size: '50'}) %>
<h2>People</h2>
<div id="contributionAuthors">
</div>
<h2>Description</h2>
<%= HTML.TextArea(this, 'description', {style: 'height:175px;width:650px;'}) %>
<table>
    <tr class="tooltip" title="The institution where the contribution was used">
        <td align="right"><b>Institution:</b></td>
        <td><%= HTML.TextBox(this, 'institution', {size: '40'}) %><br /></td>
    </tr>
    <tr class="tooltip" title="The province in which that institution is located">
        <td align="right"><b>Province:</b></td>
        <td><%= HTML.TextBox(this, 'province', {size: '40'}) %><br /></td>
    </tr>
    <tr>
        <td align="right"><b>Start Date:</b></td>
        <td><%= HTML.DatePicker(this, 'start', {format: 'yy-mm-dd', style: 'width:100px'}) %></td>
    </tr>
    <tr>
        <td align="right"><b>End Date:</b></td>
        <td><%= HTML.DatePicker(this, 'end', {format: 'yy-mm-dd', style: 'width:100px'}) %></td>
    </tr>
    <tr>
</table>
<table width="100%">
    <tr>
        <td valign="top" width="50%">
            <h2>Partners</h2>
            <% _.each(partners, $.proxy(function(partner, i){ %>
                <div class="warning" style="display:none;" id="warning<%= i %>"></div>
                <table id="partner<%= i %>">
                    <tr>
                        <td align="right"><b>Partner:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.name', {size: '50'}) %></td>
                    </tr>
                    <tr>
                        <td align="right"><b>Contact:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.contact', {size: '50'}) %></td>
                    </tr>
                    <tr>
                        <td align="right"><b>Sector:</b></td>
                        <td><%= HTML.Select(this, 'partners.' + i + '.industry', {options: ['','Industry','Community/Not for profit']}) %></td>
                    </tr>
                    <tr>
                        <td align="right"><b>Level:</b></td>
                        <td><%= HTML.Select(this, 'partners.' + i + '.level', {options: ['','Provincial','Federal']}) %></td>
                    </tr>
                    <tr>
                        <td align="right"><b>Type:</b></td>
                        <td><%= HTML.Select(this, 'partners.' + i + '.type', {options: [{value: '', option: '[Select Contribution Type]'},
                                                                                        'Cash',
                                                                                        'Cash and In-Kind',
                                                                                        'In-Kind',
                                                                                        'Grant',
                                                                                        'Research Chair',
                                                                                        'Scholarship',
                                                                                        'Fellowship',
                                                                                        'Contract']}) %></td>
                    </tr>
                    <tr id="subtype_inkind">
                        <td align="right"><b>Sub-Type:</b></td>
                        <td>
                            <%= HTML.Select(this, 'partners.' + i + '.subtype', {options: [{value: '', option: '[Select Contribution Sub-Type]'},
                                                                                           'Equipment, Software',
                                                                                           'Materials',
                                                                                           'Logistical Support of Field Work',
                                                                                           'Provision of Services',
                                                                                           'Use of Company Facilites',
                                                                                           'Salaries of Scientific Staff',
                                                                                           'Salaries of Managerial and Administrative Staff',
                                                                                           'Project-related Travel',
                                                                                           'Other']}) %>
                            <span id="other_subtype"><%= HTML.TextBox(this, 'partners.' + i + '.other_subtype') %></span>
                        </td>
                    </tr>
                    <tr id="subtype_cash">
                        <td align="right"><b>Sub-Type:</b></td>
                        <td>
                            <%= HTML.Select(this, 'partners.' + i + '.subtype', {options: [{value: '', option: '[Select Contribution Sub-Type]'},
                                                                                           'Salaries: Bachelors - Canadian and Permanent Residents',
                                                                                           'Salaries: Bachelors - Foreign',
                                                                                           'Salaries: Masters - Canadian and Permanent Residents',
                                                                                           'Salaries: Masters - Foreign',
                                                                                           'Salaries: Doctorate - Canadian and Permanent Residents',
                                                                                           'Salaries: Doctorate - Foreign',
                                                                                           'Salaries: Post-doctoral Canadian and Permanent residents',
                                                                                           'Salaries: Postdoctoral',
                                                                                           'Salaries: Other',
                                                                                           'Salary and benefits of incumbent (Canada Research Chairs only)',
                                                                                           'Professional and technical services/contracts',
                                                                                           'Equipment (incl. powered vehicles)',
                                                                                           'Materials, supplies and other expenditures',
                                                                                           'Travel',
                                                                                           'Other expenditures']}) %>
                        </td>
                    </tr>
                    <tr id="cash">
                        <td align="right"><b>Cash:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.cash', {style: 'width: 75px'}) %>$</td>
                    </tr>
                    <tr id="inkind">
                        <td align="right"><b>In-Kind:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.inkind', {style: 'width: 75px'}) %>$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="deletePartner" data-id="<%= i %>">Delete Partner</button></td>
                    </tr>
                </table>
                <hr />
            <% }, this)) %>
            <button id="addPartner">Add Partner</button>
            <div style="background:#EEE;padding:5px;">
                <h3 style="padding-top:0;">Total: $<span id="contributionTotal"><%= number_format(total) %></span></h3>
            </div>
        </td>
        <td valign="top" width="50%">
            <h2>Projects</h2>
            <div id="contributionProjects" style="margin-bottom: 150px;">
                <table>
                    <% _.each(this.projects.models, function(p){ %>
                        <tr>
                            <td class="label"><%= p.get('name') %>:</td>
                            <td class="checkboxCell" style="width:40px;">
                                <div class="checkboxOuter" data-project="<%= p.get('id') %>">
                                    <input id="projects_<%= p.get('name') %>" data-project="<%= p.get('id') %>" type="checkbox" name="project" <%= projectChecked(projects, p.get('id')) %> /><% if(projectChecked(projects, p.get('id')) != "" && p.get('subprojects').length > 0){ %><div data-project="<%= p.get('id') %>" class="showSubprojects">&#9660;</div><% } %>
                                    <% if(p.get('subprojects').length > 0){ %>
                                        <div style="display:none;" class="subprojectPopup popupBox">
                                            
                                        </div>
                                    <% } %>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    <tr>
                        <td class="label">Other:</td>
                        <td class="checkboxCell" align="center" style="width:40px;">
                            <div class="checkboxOuter">
                                <input class="other" name="other"  type="checkbox" <%= otherChecked(this) %> disabled /><div class="showOther">&#9660;</div>
                                <div style="display:none;" class="otherPopup popupBox">
                                    
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<div style="display:inline-block;">
    <button id="saveContribution"><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Contribution</button><span class="throbber" style="display:none;"></span>
</div>
<div style="display:inline-block;">
    <button id="cancel">Cancel</button>
</div>
