<span class="label" style="display:inline-block;">Title:</span> <%= HTML.TextBox(this, 'name', {size: '50'}) %>
<h2>People</h2>
<div id="contributionAuthors">
</div>
<% if(networkName != 'MTS'){ %>
    <h2>Description</h2>
    <%= HTML.TextArea(this, 'description', {style: 'height:175px;width:650px;'}) %>
<% } %>
<table>
    <tr class="tooltip" title="The institution where the contribution was used">
        <td align="right"><b>PI Institution:</b></td>
        <td><%= HTML.TextBox(this, 'institution', {size: '40'}) %><br /></td>
    </tr>
    <tr class="tooltip" title="The province in which that institution is located">
        <td align="right"><b>Province:</b></td>
        <td><%= HTML.TextBox(this, 'province', {size: '40'}) %><br /></td>
    </tr>
    <tr>
        <td align="right"><b>Start Date:</b></td>
        <td><%= HTML.DatePicker(this, 'start', {format: 'yy-mm-dd', style: 'width:100px'}) %></td>
    </tr>
    <tr>
        <td align="right"><b>End Date:</b></td>
        <td><%= HTML.DatePicker(this, 'end', {format: 'yy-mm-dd', style: 'width:100px'}) %></td>
    </tr>
    <tr>
</table>
<table width="100%">
    <tr>
        <td valign="top" width="50%">
            <h2>Partners</h2>
            <% _.each(partners, function(partner, i){ %>
                <div class="warning" style="display:none;" id="warning<%= i %>"></div>
                <table id="partner<%= i %>">
                    <tr>
                        <td align="right"><b>Partner:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.name', {size: '50', class: 'partner_name'}) %></td>
                    </tr>
                    <tr>
                        <td valign="top" style="padding-top:11px;width:100px;" align="right"><b>Contact:</b><br /><small style="line-height: 1em;">This information is for reporting purposes only. Partners will not be contacted.</small></td>
                        <td>
                            <table>
                                <tr>
                                    <td>Honorific:</td>
                                    <td><%= HTML.Select(this, 'partners.' + i + '.contact.honorific', {options: ['Mr.', 'Mrs.', 'Ms.', 'Dr.', 'Prof.', 'Mme', 'M.']}) %></td>
                                </tr>
                                <tr>
                                    <td>First Name:</td>
                                    <td><%= HTML.TextBox(this, 'partners.' + i + '.contact.first') %></td>
                                </tr>
                                <tr>
                                    <td>Last Name:</td>
                                    <td><%= HTML.TextBox(this, 'partners.' + i + '.contact.last') %></td>
                                </tr>
                                <tr>
                                    <td>Mailing Address:</td>
                                    <td><%= HTML.TextBox(this, 'partners.' + i + '.contact.address') %></td>
                                </tr>
                                <tr>
                                    <td>Phone Number:</td>
                                    <td><%= HTML.TextBox(this, 'partners.' + i + '.contact.phone') %></td>
                                </tr>
                                <tr>
                                    <td>Email Address:</td>
                                    <td><%= HTML.TextBox(this, 'partners.' + i + '.contact.email') %></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><b>Sector:</b></td>
                        <td><%= HTML.Select(this, 'partners.' + i + '.industry', {options: ['','Industry','Community/Not for profit','University']}) %></td>
                    </tr>
                    <tr>
                        <td align="right"><b>Level:</b></td>
                        <td><%= HTML.Select(this, 'partners.' + i + '.level', {options: ['','Provincial','Federal']}) %></td>
                    </tr>
                    <tr>
                        <td align="right"><b>Type:</b></td>
                        <td><%= HTML.Select(this, 'partners.' + i + '.type', {options: [{value: '', option: '[Select Contribution Type]'},
                                                                                        'Cash',
                                                                                        'Cash and In-Kind',
                                                                                        'In-Kind',
                                                                                        'Grant',
                                                                                        'Research Chair',
                                                                                        'Scholarship',
                                                                                        'Fellowship',
                                                                                        'Contract'],
                                                                              class: 'partner_type'}) %></td>
                    </tr>
                    <tr id="subtype_inkind">
                        <td align="right"><b>Sub-Type:</b></td>
                        <td>
                            <%= HTML.Select(this, 'partners.' + i + '.subtype', {options: [{value: '', option: '[Select Contribution Sub-Type]'},
                                                                                           'Equipment, Software',
                                                                                           'Materials',
                                                                                           'Logistical Support of Field Work',
                                                                                           'Provision of Services',
                                                                                           'Use of Company Facilites',
                                                                                           'Salaries of Scientific Staff',
                                                                                           'Salaries of Managerial and Administrative Staff',
                                                                                           'Project-related Travel',
                                                                                           'Other'],
                                                                                 id: 'partners_' + i + '_subtype_inkind',
                                                                                 class: 'partner_subtype'}) %>
                            <span id="other_subtype"><%= HTML.TextBox(this, 'partners.' + i + '.other_subtype') %></span>
                        </td>
                    </tr>
                    <tr id="subtype_cash">
                        <td align="right"><b>Sub-Type:</b></td>
                        <td>
                            <%= HTML.Select(this, 'partners.' + i + '.subtype', {options: [{value: '', option: '[Select Contribution Sub-Type]'},
                                                                                           'Salaries: Bachelors - Canadian and Permanent Residents',
                                                                                           'Salaries: Bachelors - Foreign',
                                                                                           'Salaries: Masters - Canadian and Permanent Residents',
                                                                                           'Salaries: Masters - Foreign',
                                                                                           'Salaries: Doctorate - Canadian and Permanent Residents',
                                                                                           'Salaries: Doctorate - Foreign',
                                                                                           'Salaries: Post-doctoral Canadian and Permanent residents',
                                                                                           'Salaries: Postdoctoral',
                                                                                           'Salaries: Other',
                                                                                           'Salary and benefits of incumbent (Canada Research Chairs only)',
                                                                                           'Professional and technical services/contracts',
                                                                                           'Equipment (incl. powered vehicles)',
                                                                                           'Materials, supplies and other expenditures',
                                                                                           'Travel',
                                                                                           'Other expenditures'],
                                                                                 id: 'partners_' + i + '_subtype_cash',
                                                                                 class: 'partner_subtype'}) %>
                        </td>
                    </tr>
                    <tr id="cash">
                        <td align="right"><b>Cash:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.cash', {style: 'width: 75px'}) %>$</td>
                    </tr>
                    <tr id="inkind">
                        <td align="right"><b>In-Kind:</b></td>
                        <td><%= HTML.TextBox(this, 'partners.' + i + '.inkind', {style: 'width: 75px'}) %>$</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="deletePartner" data-id="<%= i %>">Delete Partner</button></td>
                    </tr>
                </table>
                <hr />
            <% }.bind(this)) %>
            <button id="addPartner">Add Partner</button>
            <div style="background:#EEE;padding:5px;">
                <h3 style="padding-top:0;">Total: $<span id="contributionTotal"><%= number_format(total) %></span></h3>
            </div>
        </td>
        <td valign="top" width="50%">
            <h2>Projects</h2>
            <%= HTML.ProjectSelector(this, 'projects') %>
        </td>
    </tr>
</table>
<div style="display:inline-block;">
    <button id="saveContribution"><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Contribution</button><span class="throbber" style="display:none;"></span>
</div>
<div style="display:inline-block;">
    <button id="cancel">Cancel</button>
</div>
