table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
    background-color: white
}

div.DTFC_Blocker {
    background-color: white
}

div.DTFC_LeftWrapper {
	height: 100% !important;
}

div.DTFC_LeftHeadWrapper {
	border-right: 1px solid #C8C8C8;
	z-index: 1;
	position: -webkit-sticky !important;
  	position: sticky !important;
    top: 0 !important;
}
div.DTFC_LeftBodyWrapper {
	border-right: 1px solid #C8C8C8;
}

div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {
    margin-bottom: 0;
    z-index: 2
}

div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
    border-bottom: none
}

div.DTFC_ScrollWrapper {
	border-right: 1px solid #ccc;
}
