<table class="small" cellspacing="0" cellpadding="0">
    <tr>
        <td class="label">Institution:</td>
        <td><%= HTML.TextBox(this, 'part_institution') %></td>
    </tr>
    <tr>
        <td class="label">Province:</td>
        <td><%= HTML.TextBox(this, 'province') %></td>
    </tr>
    <tr>
        <td class="label">Country:</td>
        <td><%= HTML.TextBox(this, 'country') %></td>
    </tr>
    <tr>
        <td class="label">Committee:</td>
        <td><%= HTML.TextBox(this, 'committee_name') %></td>
    </tr>
    <tr>
        <td class="label">Fiscal Year:</td>
        <td><%= HTML.TextBox(this, 'fiscal_year') %></td>
    </tr>
    <tr>
        <td class="label">Organization Type:</td>
        <td><%= HTML.TextBox(this, 'org_type') %></td>
        <td><button id="delete">Delete</button></td>
    </tr>
</table>
<hr />
