<p>
    <h3>Title</h3>
    <%= HTML.TextBox(this, 'application_title', {size: '60'}) %>
    <h3>Description:</h3>
    <%= HTML.TextArea(this, 'application_summary', {style: 'height:175px;width:650px;'}) %>
</p>
<div id="preview" style="display:none;"></div>
<table>
    <tr>
        <td class="label">PI:</td>
        <td><a href="<%= this.person.get('url') %>"><%= this.person.get('fullName') %></a></td>
    </tr>
    <tr>
        <td class="label">Partners:</td>
        <td><%= _.pluck(partners, 'part_institution').join(', ') %></td>
    </tr>
    <tr>
        <td class="label">Fiscal Year:</td>
        <td><%= HTML.TextBox(this, 'fiscal_year', {size: '4'}) %></td>
    </tr>
    <tr>
        <td class="label">Competition Year:</td>
        <td><%= HTML.TextBox(this, 'competition_year', {size: '4'}) %></td>
    </tr>
    <tr>
        <td class="label">Amount:</td>
        <td><%= HTML.TextBox(this, 'amount', {size: 12}) %></td>
    </tr>
</table>
<button id="save"><% if(this.model.isNew()) { %>Create Grant Award<% } else { %>Save Grant Award<% } %></button><span class="throbber" style="display:none;"></span>
