<p>
    <%= nl2br(striphtml(application_summary)) %>
</p>
<table>
    <tr>
        <td class="label">PI:</td>
        <td><a href="<%= this.person.get('url') %>"><%= this.person.get('fullName') %></a></td>
    </tr>
    <% if(coapplicants != "") { %>
        <tr>
            <td class="label">Co-Applicants:</td>
            <td id="copi"><%= coapplicants %></td>
        </tr>
    <% } %>
    <% if(this.model.grant.get('id') != 0){ %>
    <tr>
        <td class="label">Grant:</td>
        <td><a href="<%= this.model.grant.get('url') %>"><%= this.model.grant.get('title') %></a></td>
    </tr>
    <% } %>
    <% if(partners.length > 0){ %>
    <tr>
        <td class="label">Partners:</td>
        <td><%= new GrantPartners(partners).pluck('part_institution').join(', ') %></td>
    </tr>
    <% } %>
    <% if(fiscal_year != ""){ %>
    <tr>
        <td class="label">Fiscal Year:</td>
        <td><%= fiscal_year %></td>
    </tr>
    <% } %>
    <% if(competition_year != ""){ %>
        <tr>
            <td class="label">Competition Year:</td>
            <td><%= competition_year %></td>
        </tr>
    <% } %>
    <tr>
        <td class="label">Amount:</td>
        <td>
            $<%= number_format(amount, 2) %>
        </td>
    </tr>
</table>
<br />
<button id="edit">Edit Grant Award</button>
