<p><a href="#/new" class="button">Create New Grant Award</a></p>
<table id="grantawards" frame="box" rules="all">
    <thead>
        <tr>
            <th>Title</th>
            <th>Fiscal Year</th>
            <th>Competition Year</th>
            <th>Amount ($)</th>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(grant){ %>
            <tr>
                <td><a href="<%= grant.get('url') %>"><%= grant.get('application_title') %></a><br /><%= grant.get('application_summary') %></td>
                <td><%= grant.get('fiscal_year') %></td>
                <td><%= grant.get('competition_year') %></td>
                <td align="right"><%= number_format(grant.get('amount')) %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
