<p>
    <b>NOTE: If you make any changes on this page and have other tabs open, the changes will not be reflected on those other tabs until you refresh the page.</b><br />
    <b>NOTE: This information is not currently used for the AR/FEC process.</b>
</p>
<p><a href="#/new" class="button">Add Awarded NSERC Application</a><span class="throbber" style="margin-left: 20px;"></span>&nbsp;<a href="<%= wgServer + wgScriptPath %>/index.php/Special:GrantPage" class="button">Show Grants</a></p>
<table id="grantawards" frame="box" rules="all">
    <thead>
        <tr style="white-space: nowrap;">
            <th>Title</th>
            <th>Timeframe</th>
            <th>Competition Year</th>
            <th>Amount ($)</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
