<p>
    <%= nl2br(striphtml(application_summary)) %>
</p>
<table>
    <tr>
        <td class="label">PI:</td>
        <td><a href="<%= this.person.get('url') %>"><%= this.person.get('fullName') %></a></td>
    </tr>
    <% if(coapplicants.length > 0) { %>
        <tr>
            <td class="label">Co-Applicants:</td>
            <td id="coapplicants"></td>
        </tr>
    <% } %>
    <% if(this.model.grant.get('id') != 0){ %>
    <tr>
        <td class="label">Grant:</td>
        <td><a href="<%= this.model.grant.get('url') %>"><%= this.model.grant.get('title') %></a></td>
    </tr>
    <% } %>
    <% if(partners.length > 0){ %>
    <tr>
        <td class="label">Partners:</td>
        <td><%= new GrantPartners(partners).pluck('part_institution').join(', ') %></td>
    </tr>
    <% } %>
    <% if(start_year != "" && end_year != ""){ %>
    <tr>
        <td class="label">Timeframe:</td>
        <td><%= start_year %> - <%= end_year %></td>
    </tr>
    <% } %>
    <% if(competition_year != ""){ %>
        <tr>
            <td class="label">Competition Year:</td>
            <td><%= competition_year %></td>
        </tr>
    <% } %>
    <% if(institution != ""){ %>
        <tr>
            <td class="label">Institution:</td>
            <td><%= institution %></td>
        </tr>
    <% } %>
    <% if(department != ""){ %>
        <tr>
            <td class="label">Department:</td>
            <td><%= department %></td>
        </tr>
    <% } %>
    <% if(country != ""){ %>
        <tr>
            <td class="label">Country:</td>
            <td><%= country %></td>
        </tr>
    <% } %>
    <% if(program_id != ""){ %>
        <tr>
            <td class="label">Program Id:</td>
            <td><%= program_id %></td>
        </tr>
    <% } %>
    <% if(program_name != ""){ %>
        <tr>
            <td class="label">Program Name:</td>
            <td><%= program_name %></td>
        </tr>
    <% } %>
    <% if(committee_name != ""){ %>
        <tr>
            <td class="label">Committee Name:</td>
            <td><%= committee_name %></td>
        </tr>
    <% } %>
    <% if(area_of_application_group != ""){ %>
        <tr>
            <td class="label">Area of Application Group:</td>
            <td><%= area_of_application_group %></td>
        </tr>
    <% } %>
    <% if(area_of_application != ""){ %>
        <tr>
            <td class="label">Area of Application:</td>
            <td><%= area_of_application %></td>
        </tr>
    <% } %>
    <% if(research_subject_group != ""){ %>
        <tr>
            <td class="label">Research Subject Group:</td>
            <td><%= research_subject_group %></td>
        </tr>
    <% } %>
    <tr>
        <td class="label">Amount:</td>
        <td>
            $<%= number_format(amount, 2) %>
        </td>
    </tr>
</table>
<br />
<button id="edit">Edit Awarded NSERC Application</button>
