<p><a href="#/new" class="button">Add Awarded NSERC Application</a><span class="throbber" style="margin-left: 20px;"></span>&nbsp;<a href="<%= wgServer + wgScriptPath %>/index.php/Special:GrantPage" class="button">Show Revenue Accounts</a></p>
<table id="grantawards" frame="box" rules="all">
    <thead>
        <tr style="white-space: nowrap;">
            <th>Title</th>
            <th>Timeframe</th>
            <th>Competition Year</th>
            <th>Amount ($)</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
