<td align="center" style="width:40px">
    <%= PublicName_Program %>
</td>
<td align="center" style="width:80em">
	<%= AgencyDescription %>
</td>
<td align="center" style="width:40px">
        <%= Eligibility %>
</td>
<td align="center" style="width:40px">
    <%= ParentAgency %>
</td>
<td style="width:40px">
	<%= PhysicalAddress1 %>
</td>
<td style="width:40px">
	Email: <a href='mailto:<%= EmailAddressMain %>'><%= EmailAddressMain %></a><br />
	Phone: <%= Phone1Number %><br />
	Website: <a href='<%=WebsiteAddress %>'><%=WebsiteAddress%></a>
</td>
