<p>
    <b>Using the Community Program Library</b>
</p>
<p>
    Hover your mouse over a community resource to see a description. The + symbol means the resource category expands
    further. Click on the resource to see sub-categories.
    When you can no longer expand, the map will show you specific locations for that resource within KFL&A. Contact the
    program or service for more information, or to sign up.
    If you want to go back to the main library page, click the blue link indicating the previous category.
</p>
<p class="">Have you used a formal or informal program recently that you don’t see in the library and wish to share
    with the community? <a style="font-size:1.4em;margin-left:0.8em;" href='<%= wgServer+wgScriptPath%>/index.php/Special:Report?report=SubmitProgram'
        class="program-button" title="Submit a Program">Submit a Program</a></p>
<div id="body_accordion">
    <div class="wrap" style="display:none;">
        <h3 id="accordionHeader" style='display:none;'><a href="#">Categories</a></h3>
        <div id="treemap-container" class="program-body">
            <div id="prev_category"></div>
        </div>
    </div>
</div>
<div class="modules">
    <div id="table" class="module-2cols-outer" style="flex: 1 1 auto;">
        <table id="listTable" frame="box" rules="all" style="float: left;">
            <thead style="display:none;">
                <tr>
                    <!--General data-->
                    <th>Name/Description</th>
                </tr>
            </thead>
            <tbody id="sopRows"></tbody>
        </table>
    </div>
    <div class="module-2cols-outer" style="flex: 1 1 auto;">
        <div id="address_bar">
            <span class='en' style=''>Address</span><span class='fr' style='display:none'>Adresse</span> <input type="text"
                id="lat" style="max-width:399px; width: 100%; box-sizing: border-box; margin-bottom: 2px;" />&nbsp<button id="findLocation"><span class='en' style=''>Find my
                    Location</span><span class='fr' style='display:none'>Trouver mon Endroit</span></button>&nbsp&nbsp&nbsp<button
                id="printMap"><span class='en' style=''>Print Map</span><span class='fr' style='display:none'>Imprimer
                    le Plan</span></button>
        </div>
        <br /><br />
        <div id="pharmacy-info">
            <table id="pharmacy-table"></table>
        </div>
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>
<div id="db_powered">
    Database Powered by<br />
    <img src="<%= wgServer + wgScriptPath %>/skins/cneo_logo.png" style="height: 150px;" />
</div>
