<div class='en'>
    <p>
    This page is for CAPS members to add their own local pharmacy to our national map, if their pharmacy is currently providing Mifepristone.  To add your pharmacy, fill in each box below and click the "Add Pharmacy" button. 
    </p>
    <p>
    </p>
</div>
<div class='fr'>
    <p>
Cette page s'adresse aux membres de CAPS pour ajouter leur propre pharmacie locale à notre carte nationale, si leur pharmacie fournit actuellement Mifepristone. Pour ajouter votre pharmacie, remplissez chaque case ci-dessous et cliquez sur le bouton "Ajouter une pharmacie".
    </p>
</div>
<br />
<table>
     <tbody>
	    <tr>
            <td align=right>
                <span class='en' style=''>Name of Pharmacy</span>
                <span class='fr' style='display:none'>Nom de la Pharmacie:</span>
            </td>
            <td> 
                <input type="text" id="name" style="width:399px" />
            </td>
            <td align=right>
                <span class='en' style=''>Phone Number:</span>
                <span class='fr' style='display:none'>Numéro de Téléphone</span>
            </td>
            <td> 
                <input type="text" id="phone" style="width:399px" />
            </td>
        </tr>
	    <tr>   
            <td align=right>
                <span class='en' style=''>Address</span>
                <span class='fr' style='display:none'>Adresse</span>
            </td>
            <td> 
                <input type="text" id="lat" style="width:399px" />
            </td>
            <td align=right>
                <span class='en' style=''>Hours of Operation:</span>
                <span class='fr' style='display:none'>Heures</span>
            </td>
            <td> 
                <input type="time" id="timefrom" style="width:100px" /> To 
                <input type="time" id="timeto" style="width:100px" />
            </td>
        </tr>
	    <tr>
            <td align=right>Province:</td>
            <td>
                    <% if(wgLang == 'en'){ %>
                            <%= HTML.Select(this, "province", {options: 
                                                                    ["Alberta", 
                                                                     "British Columbia", 
                                                                     "Manitoba",
                                                                     "New Brunswick",
                                                                     "New foundland and Labrador",
                                                                     "Northwest Territories",
                                                                     "Nova Scotia",
                                                                     "Nunavut",
                                                                     "Ontario",
                                                                     "Prince Edward Island",
                                                                     "Quebec",
                                                                     "Saskatchewan",
                                                                     "Yukon"]}) %>
                        <% } else if(wgLang == 'fr'){ %>
                            <%= HTML.Select(this, "province", {options: 
                                                                    ["Alberta", 
                                                                     "Colombie-Britannique", 
                                                                     "Manitoba",
                                                                     "Nouveau-Brunswick",
                                                                     "Terre-Neuve-et-Labrador",
                                                                     "(territoires du) Nord-Ouest",
                                                                     "Nouvelle-Écosse",
                                                                     "Nunavut",
                                                                     "Ontario",
                                                                     "l'île du Prince-Édouard",
                                                                     "Québec",
                                                                     "Saskatchewan",
                                                                     "Yukon"]}) %>
                    <% } %>
            </td>
        </tr>
     </tbody>
</table>
<div style="margin-bottom:3em; float:right">
            <button id="addPharmacy"><span class='en' style='display:none'>Add Community</span><span class='fr' style='display:none'>Ajouter une Pharmacie</span></button>
</div>
<div id="map-container">
    <div id="map"></div>
</div>
