
<div id="body_accordion">
<div class="wrap">
<h3><a href="#">Categories</a></h3>
<div id="treemap-container">
	<div id="prev_category"></div>
</div>
</div>
<div id="testing">
<div id="table">
<table id="listTable" frame="box" rules="all" style="float: left;">
    <thead>
        <tr>
            <!--General data-->
            <th>Name</th>
            <th>Program Description</th>
            <th>Eligibility</th>
	     <th>Organization</th>
	    <th>Address</th>
	    <th>Contact</th>
        </tr>
    </thead>
    <tbody id="sopRows"></tbody>
</table>
<br /><span id="db_powered" style="float:right;">Database Powered by <img src="<%= wgServer + wgScriptPath %>/skins/cneo_logo.png" height="60px"/></span>
</div>
<br />
<div id="address_bar">
<span class='en' style=''>Address</span><span class='fr' style='display:none'>Adresse</span> <input type="text" id="lat" style="width:399px" />&nbsp<button id="findLocation"><span class='en' style=''>Find my Location</span><span class='fr' style='display:none'>Trouver mon Endroit</span></button>&nbsp&nbsp&nbsp<button id="printMap"><span class='en' style=''>Print Map</span><span class='fr' style='display:none'>Imprimer le Plan</span></button></div>
</div>
<br /><br /><br />

<div id="pharmacy-info">
        <table id="pharmacy-table"></table>
</div>
<div id="map-container">
    <div id="map"></div>
</div>

</div>
</div>
</div>
