<a class="button" href="<%= wgServer + wgScriptPath %>/index.php/Special:EventPostingPage#" style="float: right;">Back to Event Postings</a>
<div>
    <table>
        <tr>
            <td class="label">Visibility:</td>
            <td><%= visibility.replace("Publish", "Published (public)").replace("Draft", "Draft (private)") %></td>
        </tr>
        <% if(articleLink != ""){ %>
            <tr>
                <td class="label">Article Link:</td>
                <td><a href="<%= articleLink %>" target="_blank"><%= articleLink %></a></td>
            </tr>
        <% } %>
        <tr>
            <td class="label">Start Date:</td>
            <td><%= startDate %></td>
        </tr>
        <tr>
            <td class="label">End Date:</td>
            <td><%= endDate %></td>
        </tr>
        <tr>
            <td class="label">Address:</td>
            <td><%= address %></td>
        </tr>
        <tr>
            <td class="label">City:</td>
            <td><%= city %></td>
        </tr>
        <% if(province != ""){ %>
            <tr>
                <td class="label">Province:</td>
                <td><%= province %></td>
            </tr>
        <% } %>
        <tr>
            <td class="label">Country:</td>
            <td><%= country %></td>
        </tr>
    </table>
    <% if(image != ""){ %>
        <h3><a href="<%= image %>" target="_blank"><img src="<%= image %>" style="max-width: 400px; max-height: 400px;" onerror="$(this).replaceWith('Attachment')" alt="Attachment" /></a></h3>
    <% } %>
    <h3>Summary</h3>
    <%= showLanguage(language, nl2br(summary), nl2br(summaryFr), "<br /><br />") %>
</div>
<% if(isAllowedToEdit){ %>
    <br />
    <button id='editPosting'>Edit Event Posting</button>&nbsp;<button id='deletePosting'>Delete Event Posting</button>
<% } %>
