<% if(isAllowedToCreateEventPostings){ %>
    <a href="#/new" class="button" id="add">Create an Event Item</a><br /><br />
<% } %>
<table id="postings" frame="box" rules="all">
    <thead>
        <tr>
            <th width="25%" style="white-space: nowrap;">Event Date</th>
            <!--th width="5%" style="white-space: nowrap;">Language</th-->
            <th width="15%">Address</th>
            <th width="54%">Posting</th>
            <% if(isAllowedToCreateEventPostings){ %>
                <th width="1%">Delete?</th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(event){ %>
            <tr>
                <td>
                    <span style="display:none;"><%= event.get('startDate') %></span>
                    <%= dateTimeHelpers.formatDate(event.get('startDate')) %><br />
                    (Posted: <%= dateTimeHelpers.formatDate(event.get('created')) %> by <a href="<%= event.get('user').url %>"><%= event.get('user').fullName %></a>)
                </td>
                <!--td align="center">
                    <%= event.getLanguage() %>
                </td-->
                <td>
                    <%= event.get('address') %><br />
                    <%= event.get('city') %>, <% if(event.get('province') != ''){ %> <%= event.get('province') %>, <% } %> <%= event.get('country') %>
                </td>
                <td>
                    <a href="<%= event.get('url') %>" ><%= showLanguage(event.get('language'), event.get('title'), event.get('titleFr')) %></a>
                </td>
                <% if(isAllowedToCreateEventPostings){ %>
                    <td align="center">
                        <% if(event.get('isAllowedToEdit')){ %>
                            <span id="<%= event.get('id') %>" class="delete-icon"></span>
                        <% } %>
                    </td>
                <% } %>
            </tr>
        <% }.bind(this)) %>
    </tbody>
</table>
<div id="editDialog" title="New Event Posting"></div>
