default:
    filters:
        tags: ~@grand
        tags: ~@glyconet
        tags: ~@agewell
    formatter:
        name: pretty,Behat\Behat\Formatter\MyHtmlFormatter
        parameters:
            output_path: null,output/output.html
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://grand.cs.ualberta.ca/~dwt/grand_forum_staging/
            files_path: "/opt/uploads"
            default_session: selenium2
            selenium2:
                wd_host: 'http://129.128.184.79:8643/wd/hub'
