/* Any custom styles should go here */

span#infinity {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

span#infinity:hover {
    cursor: pointer;
}

div.ui-dialog-content {
    padding: 0 !important;
}

div.ui-dialog-buttonpane {
    margin: 0 !important;
    padding: 0.5em 1em 0.5em !important;
}

table.wikitable {
    border: hidden !important;
    margin: 0;
    padding: 0;
}

table.wikitable tr.even {
    background: #FFFFFF;
}

table.wikitable tr.odd {
    background: #F2F2F2;
}

table.wikitable tr.deleted {
    background: #FEB8B8;
}

.relError, .hqpError {
    text-align: left;
    font-size: 12px;
    white-space: initial;
    color: #FF6600;
}

.orphansLabel {
    text-align: center; 
    font-size: 26px; 
    font-weight: bold; 
    color: #888; 
    font-family: Helvetica;
    padding: 0 !important;
    line-height: 0;
    overflow: hidden;
}

.relations {
    padding: 0 !important;
}

.relations > table > tr {
    cursor: move;
}

.relationsBackground, .ui-sortable-helper {
    background: #f3f3f3 !important; 
    box-shadow: inset 0 0 10px -5px black;
}

#relation_rows {
    height: 105px;
}

#orphans #relation_rows {
    height: auto;
}

.dots {
    text-shadow: 1px 1px 0 white;
    color: #888888;
    width: 100%;
    text-align: center;
    line-height: 0.5em;
    user-select: none;
}

.relationCell {
    min-width: 325px;
    max-width: 325px;
    width: 325px;
}

.startDateCell {
    min-width: 115px;
    max-width: 115px;
    width: 115px;
}

.endDateCell {
    min-width: 145px;
    max-width: 145px;
    width: 145px;
}

.deleteCell {
    min-width: 65px;
    max-width: 65px;
    width: 65px;
}

table#listTable tr.ar.even td {
    background-color: rgba(0, 100, 50, 0.15);
}

table#listTable tr.ar.odd td {
    background-color: rgba(0, 100, 50, 0.17);
}
