<!--div><b style="vertical-align:middle;">Language:</b> <%= HTML.Select(this, 'language', {style: "vertical-align:middle;", options: [{option: "English", value: "en"}, {option: "Français", value: "fr"}]}) %></div-->
<p>GlycoNet is committed to the principles of Equity, Diversity, and Inclusion (EDI). This survey will help to facilitate strategies and priorities for a diverse and inclusive working and learning environment to continuously support excellence in research and training.</p>

<p>As part of Canada’s effort to promote equity and diversity in the workplace, Innovation, Science and Economic Development Canada (ISED) has requested that GlycoNet provide an aggregated picture of the network's composition.</p>

<p>Your participation in this survey is important to identify where we are at in terms of representation and to inform next steps. Stringent controls are in place to ensure confidentiality is maintained and results will be used only on an aggregated basis. No one from GlycoNet’s Management, Board of Directors or committees has access to the survey’s responses, and only aggregated data are provided to these groups and individuals. If there are fewer than five people who identify as a particular demographic, GlycoNet will not receive absolute numbers as to protect the identities of these individuals. The personal information requested on this form is collected under the authority of Section 33 (c) of the Alberta Freedom of Information and Protection of Privacy Act and will be protected under Part 2 of that Act.</p>

<!-- Decline? -->
<h3>If for any reason(s) you do not wish to complete this census survey, please check this box.</h3>
<div class="answer">
    <%= HTML.CheckBox(this, 'decline', {value: 1}) %>
    <div id="reason" style="display:none;">
        <p><b>Please indicate why you have chosen not to complete the survey?</b></p>
        <%= HTML.TextArea(this, 'reason', {style: 'height:100px'}) %>
    </div>
</div>

<!-- Start Survey? -->
<div id="survey">

    <!-- Demographics -->
    <h2>Demographics</h2>
    <h3><span class="number">1.</span> What is your primary affiliation with GlycoNet? <span style="color: red;">(required)</span></h3>
    <div class="answer">
        <%= HTML.Radio(this, 'affiliation', {options: ["Network Investigator", "Highly Qualified Personnel", "Board and/or Committee Member", "Employee", {value: "Other", option: "Other, please specify:"}]}) %>
        <div style="margin-left: 17px;"><%= HTML.TextBox(this, 'affiliation') %></div>
        <%= HTML.Radio(this, 'affiliation', {options: ["I prefer not to answer"]}) %>
    </div>
    
    <!-- Age -->
    <h3><span class="number">2.</span> Indicate which age range applies to you.</h3>
    <div class="answer">
        <%= HTML.Radio(this, 'age', {options: ["Between 15-34", "Between 35-54", "Between 55-64", "65+", "I prefer not to answer"]}) %>
    </div>
    
    <!-- Gender -->
    <h3><span class="number">3.</span> Gender:</h3>
    <div class="answer">
        <b>Do you identify as (Select the option thats best describes your current gender identity)</b><br />
        <%= HTML.Radio(this, 'gender.value', {options: ["Gender-fluid", "Woman"]}) %>
        <div id="woman" class="answer">
            <%= HTML.Radio(this, 'gender.woman', {options: [
                {value: "Cisgender Woman", option: "Cisgender Woman (the gender you identify with matches the sex assigned to you at birth)"}, 
                "Transgender Woman", 
                "Woman - Other", 
                "Woman - Prefer not to say"
            ]}) %>
        </div>
        <%= HTML.Radio(this, 'gender.value', {options: ["Man"]}) %>
        <div id="man" class="answer">
            <%= HTML.Radio(this, 'gender.man', {options: [
                {value: "Cisgender Man", option: "Cisgender Man (the gender you identify with matches the sex assigned to you at birth)"}, 
                "Transgender Man", 
                "Man - Other", 
                "Man - Prefer not to say"
            ]}) %>
        </div>
        <%= HTML.Radio(this, 'gender.value', {options: ["Non-Binary", "Two-Spirit", {value: "Other", option: "I don't identify with any option provided. I identify as - specify"}]}) %>
        <div id="genderOther" style="margin-left: 17px;"><%= HTML.TextBox(this, 'gender.other') %></div>
        <%= HTML.CheckBox(this, 'gender.decline', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
    </div>
    
    <!-- Orientation -->
    <h3><span class="number">4.</span> Sexual Orientation:</h3>
    <div class="answer">
        <b>Do you identify as (Select the sexual orientation that best describes how you currently think of yourself):</b></p>
        <%= HTML.Radio(this, 'orientation.value', {options: ["Two-Spirit People", "Lesbian", "Gay", "Heterosexual", "Bisexual", "Transgender", "Pansexual", "Queer", "Intersex",  "Asexual", {value: "Other", option: "I don't identify with any option provided. I identify as - specify"}]}) %>
        <div id="orientationOther" style="margin-left: 17px;"><%= HTML.TextBox(this, 'orientation.other') %></div>
        <%= HTML.CheckBox(this, 'orientation.decline', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
    </div>
    
    <!-- Indigenous -->
    <h3><span class="number">5.</span> Indigenous/Aboriginal Person:</h3>
    <div class="answer">
        <p>In accordance with Statistics Canada and the Employment Equity Act, Aboriginal People are defined as First Nations (status, non-status, Treaty), Inuit, or Métis. Aboriginal People is designated by the federal government as an umbrella term for diverse Indigenous Peoples in Canada. However, this may not be how you identify. Instead, you may identify as Cree, Blackfoot, Mi'kmaq, Dene, or Nakota Sioux, etc. All of these identities are part of the umbrella term of Indigenous People.</p>
        <b>Do you identify as an Indigenous/Aboriginal Person?</b><br />
        <%= HTML.Radio(this, 'indigenous', {options: ["Yes", "No"]}) %>
        <%= HTML.CheckBox(this, 'indigenous', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
        <div id="indigenousApply">
            <br />
            <b>Select the group(s) that you identify with:</b><br />
            <%= HTML.MultiCheckBox(this, 'indigenousApply.values', {options: ["First Nations", "Métis", "Inuk (Inuit)", "Other"]}) %>
            <div style="margin-left: 17px;"><%= HTML.TextBox(this, 'indigenousApply.other') %></div>
            <%= HTML.CheckBox(this, 'indigenousApply.decline', {value: "Prefer not to say", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">Prefer not to say</span>
        </div>
    </div>
    
    <!-- Race -->
    <h3><span class="number">6.</span> Visible Minorities:</h3>
    <div class="answer">
        <p>By the Canada Employment Equity Act and Statistics Canada, the term “visible minority” is defined as individuals who are non-Caucasian in race or non-White in colour. It does not typically include Indigenous Peoples unless they are of mixed origin, with one parent a member of a visible minority group. We recognize that there may be a preference to instead identify as a “person of colour” or by an individual’s race or ethnicity. The options below are based on Canada Census categories and the Employment Equity Act.</p>
        <b>Do you identify as a member of a visible minority/person of colour?</b><br />
        
        <%= HTML.Radio(this, 'race.value', {options: ["Yes", "No"]}) %>
        <%= HTML.CheckBox(this, 'race.decline', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
    </div>
    
    <!-- Population Group -->
    <h3><span class="number">7.</span> Population Group:</h3>
    <div class="answer">
        <b>Select the population group(s) you identify with (choose all that apply):</b><br />
        <i>Note: if you answered “Yes” to question 5 (i.e., you are an Indigenous person), select “Population group not listed above” for this question. You can also select from the list any other population group that applies to you.</i><br />
        
        <%= HTML.MultiCheckBox(this, 'race.values', 
            {options: [
                {option: "South Asian (South Asian descent, e.g. East Indian, Pakistani, Bangladeshi, Sri Lankan, Indo-Caribbean, etc.)", value: "South Asian"},
                {option: "East/Southeast Asian (Chinese, Korean, Japanese, Taiwanese descent; Filipino, Vietnamese, Cambodian, Thai, Indonesian, other Southeast Asian descent)", value: "East/Southeast Asian"},
                "Black",
                "White",
                {option: "Latino (Latin American, Hispanic descent)", value: "Latino"},
                {option: "Middle Eastern (Arab, Persian, West Asian descent, e.g. Afghan, Egyptian, Iranian, Lebanese, Turkish, Kurdish, etc.)", value: "Middle Eastern"},
                {option: "Population group not listed above, I identify as – specify", value: "Other"}
            ]}) %>
            <div style="margin-left: 17px;"><%= HTML.TextBox(this, 'race.other') %></div>
            <%= HTML.CheckBox(this, 'race.decline2', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
    </div>
    
    <!-- Disability -->
    <h3><span class="number">8.</span> Disabilities:</h3>
    <div class="answer">
        <p style="margin-bottom:0;">The Accessible Canada Act defines disability as “any impairment, including a physical, mental, intellectual, cognitive, learning, communication or sensory impairment—or a functional limitation—whether permanent, temporary or episodic in nature, or evident or not, that, in interaction with a barrier, hinders a person’s full and equal participation in society.”</p>
        <b>Do you identify as a person with a disability?</b><br />
        <%= HTML.Radio(this, 'disability', {options: ["Yes", "No"]}) %>
        <%= HTML.CheckBox(this, 'disability', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
        <div id="disabilityVisibility">
            <br />
            <b>Please indicate which apply to you (select all that apply):</b><br />
            <%= HTML.MultiCheckBox(this, 'disabilityVisibility.values', {options: [
                "Communications",
                "Developmental",
                "Dexterity",
                "Flexibility",
                "Hearing",
                "Learning",
                "Memory",
                "Mental health-related",
                "Mobility",
                "Pain-related",
                "Seeing",
                "Disability not listed above"
            ]}) %>
            <%= HTML.CheckBox(this, 'disabilityVisibility.decline', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
        </div>
    </div>
    
    <!-- Immigration -->
    <h3><span class="number">9.</span> What is your immigration or resident status?</h3>
    <div class="answer">
        <b>Do you identify as (Select the sexual orientation that best describes how you currently think of yourself):</b></p>
        <%= HTML.Radio(this, 'immigration.value', {options: [
            "Canadian citizen by birth", 
            {value: "Immigrant", option: "Immigrant (persons who are, or who have ever been, landed immigrants or permanent residents. Such persons have been granted the right to live in Canada permanently by immigration authorities. Immigrants who have obtained Canadian citizenship by naturalization are included in this category.)"},
            {value: "Non-permanent resident", option: "Non-permanent resident (persons from another country with a usual place of residence in Canada and who have a work or study permit or who have claimed refugee status (asylum claimants))"},
            {value: "Other", option: "Immigrant - Other, please specify"}
        ]}) %>
        <div id="immigrationOther" style="margin-left: 17px;"><%= HTML.TextBox(this, 'immigration.other') %></div>
        <%= HTML.CheckBox(this, 'immigration.decline', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
    </div>
    
    <!-- Language -->
    <h3><span class="number">10.</span> Are you a member of an official language minority community? (English, French):</h3>
    <div class="answer">
        <%= HTML.Radio(this, 'languageMinority.value', {options: ["Yes"]}) %>
        <div id="languageMinorityYes" class="answer">
            <%= HTML.Radio(this, 'languageMinority.yes', {options: ["Anglophones in Quebec", "Francophones outside of Quebec"]}) %>
        </div>
        <%= HTML.Radio(this, 'languageMinority.value', {options: ["No"]}) %>
        <%= HTML.CheckBox(this, 'languageMinority.decline', {value: "I prefer not to answer", style: "vertical-align:middle;"}) %><span style="vertical-align:middle;">I prefer not to answer</span>
    </div>
    
    <!-- Additional Comments -->
    <h3><span class="number">11.</span> Additional comments</h3>
    <div class="answer">
        <p>We welcome any confidential comments or suggestions about the self-identification questionnaire</p>
        <%= HTML.TextArea(this, 'comments', {style: 'height:100px'}) %>
    </div>
</div><br />
<div id="diversityMessages"></div>
<button id="save" type="button">Save</button>
