The following Products have similar titles.  Please verify that they are unique.
<table frame="box" rules="all" width="100%" class="wikitable">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Date</th>
        <th>Delete?</th>
    </tr>
    <tr>
        <td><a href="<%= url %>" target="_blank"><%= title %></a></td>
        <td><%= type %></td>
        <td align="center"><%= date %></td>
        <td align="center"><% if(canDelete){ %><input type="checkbox" value="<%= id %>" /><% } %></td>
    </tr>
    <tr>
        <th colspan="4">Potential Duplicates</th>
    </tr>
<% duplicates.each(function(duplicate){ %>
    <tr>
        <td><a href="<%= duplicate.get('url') %>" target="_blank"><%= duplicate.get('title') %></a></td>
        <td><%= duplicate.get('type') %></td>
        <td align="center"><%= duplicate.get('date') %></td>
        <td align="center"><% if(duplicate.get('canDelete')){ %><input type="checkbox" value="<%= duplicate.get('id') %>" /><% } %></td>
    </th>
<% }) %>
</table>
<div id="duplicatesRemaining" style="text-align: right;"></div>
