<td class="checkboxCell" style="<% if(!hasProjects){ %> background: #ffeeaa; background-clip: padding-box; <% } %>" align="center">
    <%= HTML.ProjectSelector(this, 'projects', {otherOnly: true, 
                                                allProjects: this.allProjects, 
                                                projects: this.projects,
                                                otherProjects: this.otherProjects,
                                                oldProjects: this.oldProjects}) %>
</td>
<% _.each(this.parent.projects.models, function(p){ %>
    <td class="checkboxCell" style="<% if(!hasProjects){ %> background: #ffeeaa; background-clip: padding-box; <% } %>">
        <div class="checkboxOuter" data-project="<%= p.get('id') %>">
            <% var projectChecked = this.projectSelectorView.projectChecked(p.get('id')); %>
            <input id="projects_<%= p.get('name') %>" data-project="<%= p.get('id') %>" type="checkbox" name="project" <%= projectChecked %> /><% if(projectChecked != "" && p.get('subprojects').length > 0){ %><div data-project="<%= p.get('id') %>" class="showSubprojects">&#9660;</div><% } %>
            <% if(p.get('subprojects').length > 0){ %>
                <div style="display:none;" class="subprojectPopup popupBox">
                    
                </div>
            <% } %>
        </div>
    </td>
<% }, this) %>
<td style="border-left: 2px solid #C8C8C8;overflow:visible;max-width:none;" align="left">
    <span class="edit-icon" style="margin-right:3px;"></span><span class="copy-icon" title="Duplicate" style="margin-right:3px;"><span class="throbber" style="display:none;" ></span></span><span class="delete-icon" style="margin-left:3px;"></span>
</td>
<td align="center">
    <span style="display:none;">-<%= access_id %></span><%= HTML.CheckBox(this, 'access_id', {value: me.get('id'), default: 0}) %>
</td>
<td>
    <%= date %>
</td>
<td>
    <%= category %>
</td>
<td>
    <%= type %>
</td>
<td style="overflow: visible">
    <span class="productTitle" style="display:block;" data-id="<%= id %>" data-href="<%= url %>">
        <span style="display:inline-block; vertical-align: middle; max-width: 100%; overflow: hidden; text-overflow: ellipsis;"><%= title %></span>
    </span>
</td>
<td style="<% if(!isMine){ %>background: #ffeeaa; <% } %>">
    <% var names = new Array();
    _.each(authors, function(author){
        if(author.name != undefined){
            if(author.id == "" || author.id == null){
                names.push(author.name);
            }
            else{
                names.push("<a href='" + author.url + "'><b>" + author.name + "</b></a>");
            }
        }
        else{
            names.push(author.fullname.replace(/"/g, ''));
        }
    }) %>
    <%= names.join(',&nbsp;') %>
</td>
