<div class="popupHeader">Sub-Projects</div>
<div class="popupBlock">
    <input type="text" class="popupBlockSearch" placeholder="Search..." autocomplete="off" />
    <% _.each(subprojects, function(sub){ %>
        <div>
            <input data-project="<%= sub.id %>" 
                   data-parent="<%= id %>" 
                   type="checkbox" 
                   name="subproject" 
                   <%= projectChecked(projects, sub.id) %> />&nbsp;<%= sub.name %>
        </div>
    <% }) %>
</div>
