<% if(projectsEnabled){ %>
    <td class="checkboxCell" align="center">
        <div class="checkboxOuter">
            <input class="other" name="other"  type="checkbox" <%= otherChecked(this) %> disabled /><div class="showOther">&#9660;</div>
            <div style="display:none;" class="otherPopup popupBox">
                
            </div>
        </div>
    </td>
    <% _.each(this.parent.projects.models, function(p){ %>
        <td class="checkboxCell">
            <div class="checkboxOuter" data-project="<%= p.get('id') %>">
                <input id="projects_<%= p.get('name') %>" data-project="<%= p.get('id') %>" type="checkbox" name="project" <%= projectChecked(projects, p.get('id')) %> /><% if(projectChecked(projects, p.get('id')) != "" && p.get('subprojects').length > 0){ %><div data-project="<%= p.get('id') %>" class="showSubprojects">&#9660;</div><% } %>
                <% if(p.get('subprojects').length > 0){ %>
                    <div style="display:none;" class="subprojectPopup popupBox">
                        
                    </div>
                <% } %>
            </div>
        </td>
    <% }) %>
<% } %>
<td style="border-left: 2px solid #C8C8C8;" align="center">
    <span class="edit-icon" style="margin-right:3px;"></span><% if(canDelete){ %>&nbsp;<span class="delete-icon" style="margin-left:3px;"></span><% } %>
</td>
<td align="center">
    <span style="display:none;">-<%= access_id %></span><%= HTML.CheckBox(this, 'access_id', {value: me.get('id'), default: 0}) %>
</td>
<td align="center">
    <span style="display:none;">-<%= exclude %></span><%= HTML.CheckBox(this, 'exclude', {value: 1, default: 0}) %>
</td>
<td align="center" style="text-overflow: initial;">
    <% if(this.model.getAcceptanceDateLabel() != undefined){ %>
        <span style="display:none"><%= acceptance_date.replace("0000-00-00", "9999-99-99") %></span><%= acceptance_date.replace("0000-00-00", "") %>
    <% } %>
</td>
<td align="center" style="text-overflow: initial;">
    <span style="display:none"><%= date.replace("0000-00-00", "9999-99-99") %></span><%= date.replace("0000-00-00", "") %>
</td>
<td>
    <%= category %>
</td>
<td>
    <%= type.replace("Misc: ", "").replace("Other: ", "") %> <br />
    <% if(status != ""){ %><small>(<%= status %>)</small><% } %>
</td>
<td style="<% if(incomplete) { %>background: #FFA500; <% } %>" >
    <a target="_blank" href="<%= url %>"><%= title %></a>
</td>
<td style="<% if(!isMine) { %>background: #ffd118; <% } %> padding:0;">
    <div style="overflow-x:auto; padding:5px;">
    <% var names = new Array();
    _.each(authors, function(author){
        if(author.name != undefined){
            if(author.id == "" || author.id == null){
                names.push(author.name);
            }
            else{
                names.push("<b>" + author.name + "</b>");
            }
        }
        else{
            names.push(author.fullname.replace(/"/g, ''));
        }
    }) %>
    <%= names.join(';&nbsp;') %>
    </div>
</td>

