<div id="editDialog" style="display:none;"></div>
<div id="deleteDialog" style="display:none;" title="Delete Product">
    <p>Are you sure you want to delete this product?</p>
</div>
<div id="ccvDialog" style="display:none;" title="Upload Canadian CCV">
    <p>You can upload your Canadian CCV using the form below.  Any product that can be read into the Forum will automatically imported, but will not be visible to anyone else on the forum except you.  The product will be placed in a separate "private" queue, and can be released to the rest of the Forum by unchecking the "private" checkbox in the Product Management table.  This way any unwanted products will not get added to the forum, and also gives you a chance to make changes to the product and associate it with projects before releasing it.</p>
    <iframe name="fileUpload" style="display:none;"></iframe>
    <form target="fileUpload" action="<%= wgServer + wgScriptPath %>/index.php?action=api.uploadCCV" method="POST" enctype="multipart/form-data">
        <input type="file" name="ccv" />
    <form>
</div>
<div id="bibtexDialog" style="display:none;" title="Import BibTeX">
    <p>You can import BibTeX references using the form below.  Any product that can be read into the Forum will automatically imported, but will not be visible to anyone else on the forum except you.  The product will be placed in a separate "private" queue, and can be released to the rest of the Forum by unchecking the "private" checkbox in the Product Management table.  This way any unwanted products will not get added to the forum, and also gives you a chance to make changes to the product and associate it with projects before releasing it.</p>
    <textarea style="resize: none; height:300px; font-size: 11px; font-family: monospace;" name="bibtex"></textarea>
</div>
<p>
    This page is used to manage all of your products.  Products will show up in this list if one of the following conditions is true.
    <ul>
        <li>You are listed as being one of the authors</li>
        <li>One of your HQP is listed as being one of the authors (only applicable to Supervisors)</li>
        <li>You were the person that created the product</li>
    </ul>
    Products which are listed as being 'Private' will not show up anywhere else on the forum except for on this page.  To 'release' the product to the rest of the Forum, then uncheck the 'Private' checkbox.  Once all of your changes are done, make sure to press the 'Save All' button.
</p>
<p>
    <button id="addProductButton">Add Product</button>
    <button id="uploadCCVButton">Upload CCV</button>
    <button id="importBibTexButton">Import BibTeX</button>
</p>
<%= subview('addProduct') %>
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <th class="angledTableHead"><div class="angledTableBorder"></div><div class="angledTableText">Other</div></th>
            <% _.each(this.projects.models, function(p){ %>
                <th class="angledTableHead checkboxCell"><div class="angledTableBorder"></div><div class="angledTableText"><%= p.get('name') %></div></th>
            <% }) %>
            <th width="100%" colspan="7" style="border-left: 2px solid rgba(0,0,0,0);text-align: center;">Product Information</th>
        </tr>
        <tr style="border-bottom: 2px solid #AAAAAA;">
            <th width="40px"></th>
            <% _.each(this.projects.models, function(p){ %>
                <th width="40px" class="checkboxCell"><input class="selectAll" data-project="<%= p.id %>" type="checkbox" /></th>
            <% }) %>
            <th width="1%" style="border-left: 2px solid #AAAAAA;">Edit</th>
            <th width="1%">Private</th>
            <th width="3%" style="min-width: 70px;">Date</th>
            <th width="12%">Category</th>
            <th width="13%">Type</th>
            <th width="35%">Title</th>
            <th width="35%">Authors</th>
        </tr>
    </thead>
    <tbody id="productRows">
        
    </tbody>
</table>
