<div id="editDialog" style="display:none;"></div>
<button id="addContact">Add Contact</button>
<table id="contacts" frame="box" rules="all">
    <thead>
        <tr>
            <th width="1%">Edit</th>
            <th>Contact</th>
            <th>Owner</th>
            <th>Opportunity</th>
            <th width="1%">Category</th>
            <th>Assignee</th>
            <th>Task</th>
            <th width="1%">Status</th>
            <th width="1%">Due Date</th>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(contact){ 
            _.each(contact.get('opportunities'), function(opportunity){
                _.each(opportunity.tasks, function(task){ %>
                    <tr>
                        <td align="center">
                            <span class="edit-icon" data-id="<%= contact.get('id') %>"></span>
                            <span style="display:none;"><%= contact.id %></span>
                        </td>
                        <td>
                            <a href="<%= contact.get('url') %>"><%= contact.get('title') %></a><br />
                            <%= contact.get('details').email %>
                            <span style="display:none;"><%= contact.id %></span>
                        </td>
                        <td>
                            <a href="<%= contact.get('owner').url %>"><%= contact.get('owner').name %></a><span style="display:none;"><%= contact.id %></span>
                        </td>
                        <td>
                            <%= opportunity.description %><span style="display:none;"><%= opportunity.id %></span>
                        </td>
                        <td style="white-space:nowrap;">
                            <%= opportunity.category %><span style="display:none;"><%= opportunity.id %></span>
                        </td>
                        <td>
                            <%= task.assignee.name %><span style="display:none;"><%= opportunity.id %></span>
                        </td>
                        <td>
                            <%= task.task %>
                        </td>
                        <td style="white-space:nowrap;">
                            <%= task.status %>
                        </td>
                        <td align="center">
                            <%= task.dueDate %>
                        </td>
                    </tr>
        <%      })
            })
          }) %>
    </tbody>
</table>
