<a class="button backButton" href="#">Back to Contacts</a>
<table>
    <tr>
        <td class="label">Title:</td>
        <td><%= HTML.TextBox(this, 'title', {size: '50'}) %></td>
    </tr>
</table>
<h3>Details</h3>
<%= HTML.TextArea(this, 'details', {style: 'height: 150px; width:685px;'}) %>
<h3>Opportunities</h3>
<div id="opportunities"></div>
<button id="addOpportunity">Add Opportunity</button>
<br />
<br />
<div style="width:180px;display:inline-block;">
    <button id="save">
        <% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Contact
    </button><span class="throbber" style="display:none;"></span>
</div>
<div style="width:180px;display:inline-block;">
    <button id="cancel">Cancel</button>
</div>
