<%= task %><br />
<table>
    <% if(assignee.id != null && assignee.id != 0){ %>
        <tr>
            <td><b>Assignee:</b></td><td><a href="<%= assignee.url %>"><%= assignee.name %></a></td>
        </tr>
    <% } %>
    <tr>
        <td><b>Due Date:</b></td><td><%= dueDate %></td>
    </tr>
    <tr>
        <td><b>Status:</b></td><td><%= status %></td>
    </tr>
    <tr>
        <td><b>Transactions:</b></td><td>
        <% _.each(transactions, function(transaction){ %>
            <%= transaction.type %> <%= transaction.date %><br />
        <% }) %>
        </td>
    </tr>
</table>
