<a class="button backButton" href="#">Back to Contacts</a>
<h3>Contact Details</h3>
<table>
    <tr>
        <td class="label">First Name:</td>
        <td><%= HTML.TextBox(this, 'details.firstName', {size: '20'}) %></td>
    </tr>
    <tr>
        <td class="label">Last Name:</td>
        <td><%= HTML.TextBox(this, 'details.lastName', {size: '20'}) %></td>
    </tr>
    <tr>
        <td class="label">Email:</td>
        <td><%= HTML.TextBox(this, 'details.email', {size: '30'}) %></td>
    </tr>
    <tr>
        <td class="label">Institution:</td>
        <td><%= HTML.TextBox(this, 'details.institution', {size: '30'}) %></td>
    </tr>
</table>
<h3>Opportunities</h3>
<div id="opportunities"></div>
<button id="addOpportunity">Add Opportunity</button>
<br />
<br />
<div style="width:180px;display:inline-block;">
    <button id="save">
        <% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Contact
    </button><span class="throbber" style="display:none;"></span>
</div>
<div style="width:180px;display:inline-block;">
    <button id="cancel">Cancel</button>
</div>
