<div>
    <span class="label">Member:</span> 
    <select id="member-select" data-placeholder="Choose a Member...">
        <option></option>
        <% this.people.each(function(p){ %>
            <option value="<%= p.get('id')%>" <% if(person != null && p.get('id') == person.get('id')){ %> selected<% } %>><%= p.get('fullName') %></option>
        <% }) %>
    </select>
    <% if(person != null){ %>
        <h2>CCV Upload</h2>
        <p>Upload the CCV XML File for <b><%= person.get('fullName') %></b>.  Personal Information, Products, HQP and Funding will all be imported.</p>
        <iframe name="fileUpload" style="display:none;"></iframe>
        <form target="fileUpload" action="<%= wgServer + wgScriptPath %>/index.php?action=api.uploadCCV" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= person.get('id') %>" />
            <input type="hidden" name="supervises" value="true" />
            <input type="hidden" name="funding" value="true" />
            <input type="hidden" name="info" value="true" />
            <input type="file" name="ccv" />
        <form><br />
        <input id="upload" type="button" value="Upload" />
    <% } %>
</div>
