<div id="coursetab">
    <% if(this.parent.currentRoles.where({name:ADMIN}).length > 0){ %>
    <span class="label">Member:</span> 
    <select id="coursemember-select" data-placeholder="Choose a Member...">
        <option></option>
        <% this.people.each(function(p){ %>
            <option value="<%= p.get('id')%>" <% if(person != null && p.get('id') == person.get('id')){ %> selected<% } %>><%= p.get('fullName') %></option>
        <% }) %>
    </select>
    <% } %>
    <% if(person != null){ %>
        <h2>Courses Upload</h2>
        <p>Upload the Course Excel Files for <b><%= person.get('fullName') %></b>.</p>
        <iframe name="fileUpload" style="display:none;"></iframe>
        <form target="fileUpload" action="<%= wgServer + wgScriptPath %>/index.php?action=api.UploadCourses" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= person.get('id') %>" />
	    <input type="file" name="courses" /><br />
        <form><br />
        <input id="courseupload" type="button" value="Upload" /> <span class="throbber" style="display:none;"></span>
    <% } %>
</div>
