<div id="gradstab">
<iframe name="fileUpload" style="display:none;"></iframe>
<form target="fileUpload" action="<%= wgServer + wgScriptPath %>/index.php?action=api.importGradDb" method="POST" enctype="multipart/form-data">
<center>
  Docsdb Login:<br />
  <input type="text" name="login" />
  <br />
  Password:<br />
  <input type="password" name="password" /><br />
  <input id="gdupload" type="button" value="Import Students" /><span class="throbber" style="display:none;"></span>
</center>
</div>
