<div id="grantstab">
    <% if(this.parent.currentRoles.where({name:ADMIN}).length > 0){ %>
    <span class="label">Member:</span> 
    <select id="grantmember-select" name="user" data-placeholder="Choose a Member...">
        <option></option>
        <% this.people.each(function(p){ %>
            <option value="<%= p.get('id')%>" <% if(person != null && p.get('id') == person.get('id')){ %> selected<% } %>><%= p.get('fullName') %></option>
        <% }) %>
    </select>
    <% } %>
    <% if(person != null){ %>
        <h2>Grant Upload</h2>
        <p>Upload the Grant Excel Files for <b><%= person.get('fullName') %></b>.</p>
        <iframe name="grantUpload" style="display:none;"></iframe>
        <form target="grantUpload" action="<%= wgServer + wgScriptPath %>/index.php?action=api.uploadGrantXls" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= person.get('id') %>" />
            <table>
                <tr>
                    <td align="right"><b>Details:</b></td>
                    <td><input type="file" name="grant" /></td>
                <tr>
                <tr>
                    <td align="right"><b>Overview:</b></td>
                    <td><input type="file" name="grant2" /></td>
                </tr>
            </table>
        </form><br />
        <input id="grantupload" type="button" value="Upload" /> <span class="throbber" style="display:none;"></span>
    <% } %>
</div>
