<div id="tabs-1">
    <span class="label">Member:</span> 
    <select id="grantmember-select" data-placeholder="Choose a Member...">
        <option></option>
        <% this.people.each(function(p){ %>
            <option value="<%= p.get('id')%>" <% if(person != null && p.get('id') == person.get('id')){ %> selected<% } %>><%= p.get('fullName') %></option>
        <% }) %>
    </select>
    <% if(person != null){ %>
        <h2>CSV Upload</h2>
        <p>Upload the CSV File for <b><%= person.get('fullName') %></b>.</p>
        <iframe name="fileUpload" style="display:none;"></iframe>
        <form target="fileUpload" action="<%= wgServer + wgScriptPath %>/index.php?action=api.uploadCSV" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Import Options</legend>
                <input type="hidden" name="id" value="<%= person.get('id') %>" />
                <input type="checkbox" name="publications" value="true" checked="checked" />Publications<br />
                <input type="checkbox" name="courses" value="true" checked="checked" />Courses<br />
                <input type="checkbox" name="supervises" value="true" checked="checked" />HQP Information<br />
                <input type="checkbox" name="funding" value="true" checked="checked" />Grant Information<br />
                <input type="checkbox" name="awards" value="true" checked="checked" />Awards<br />
                <input type="checkbox" name="info" value="true" checked="checked" />Personal Information<br />
                <input type="checkbox" name="employment" value="true" checked="checked" />Employment Information
            </fieldset>
            <input type="file" name="csv" />
        <form><br />
        <input id="grantupload" type="button" value="Upload" /> <span class="throbber" style="display:none;"></span>
    <% } %>
</div>
