<div id="tabs">
  <ul>
    <!--li><a href="#tabs-1">CCV Import</a></li-->
    <!--li><a href="#tabs-2">CSV Import</a></li-->
    <li><a href="#tabs-3">Grant Import</a></li>
    <!--li><a href="#tabs-4">Grad Db Import</a></li-->
    <li><a href="#tabs-5">Course Evaluation Import</a></li>
    <li><a href="#tabs-6">Course Import</a></li>
</ul>
  <!--div id="tabs-1">
<%= subview('ccvImport') %>
  </div-->
  <!--div id="tabs-2">
<%= subview('csvImport') %>
  </div-->
  <div id="tabs-3">
<%= subview('grantImport') %>
  </div>
  <!--div id="tabs-4">
<%= subview('gradDbImport') %>
  </div-->
  <div id="tabs-5">
<%= subview('courseEvalImport') %>
  </div>
  <div id="tabs-6">
<%= subview('courseFileImport') %>
  </div>
</div>
