<!--form style="padding:0;" action="index.php" autocomplete="off" id="globalSearchForm"-->
    <input type="text" class="highlightsBackground2" id="globalSearchInput" name="search" placeholder="Search..." autocomplete="off" /><div id="globalSearchThrobber" class="highlightsBackground2"><div class="throbber" style="display:none;margin-top:1px;"></div></div><div name="fulltext" id="globalSearchButton" class="highlightsBackground2"><img style="margin-top:2px;" src="<%= wgServer + wgScriptPath %>/<%= iconPathHighlighted %>magnifying_glass_16x16.png" /></div>
<!--/form-->
<%= subview('globalSearchResults') %>
