<div id="preview" style="display:none;"></div>
<div>
    <b>Title:</b><br />
    <%= HTML.TextBox(this, 'title', {size: '50'}) %><br /><br />
    <b>Description:</b><br />
    <%= HTML.TextArea(this, 'description', {style: 'height:175px;width:650px;'}) %><br />
    <h2>Editors</h2>
    <div id="editors" class="edit">
        <div class="sortable-widget">
            <div class="sortable-search">
                <div>
                    <input type="text" placeholder="Search Available Editors..." />
                </div>
            </div>
            <div class="sortable-container">
                <div class="sortable-left">
                    <div class="sortable-header">Editors in Bibliography</div>
                    <div class="sortable-list">
                        <ul id="sortable1">
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sortable-container">
                <div class="sortable-right">
                    <div class="sortable-header">Available Editors</div>
                    <div class="sortable-list">
                        <ul id="sortable2">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2>Publications</h2>
<p>Choose from the following list of <b>public</b> publications.  If you do not see a publication then you may need to <a href="http://grand.cs.ualberta.ca/~dwt/glyconet_test/index.php/Special:ManageProducts">add it</a> or the publication might need to have its visibility set to 'Public'.</p>
<div id="products" class="edit">
    <div class="sortable-widget">
        <div class="sortable-search">
            <div>
                <input type="text" placeholder="Search Available <%= productsTerm.pluralize() %>..." />
            </div>
        </div>
        <div class="sortable-container">
            <div class="sortable-left">
                <div class="sortable-header">Publications in Bibliography</div>
                <div class="sortable-list">
                    <ul id="sortable1">

                    </ul>
                </div>
            </div>
        </div>
        <div class="sortable-container">
            <div class="sortable-right">
                <div class="sortable-header">Available Publications</div>
                <div class="sortable-list">
                    <ul id="sortable2">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% if(!this.isDialog){ %>
    <div style="width:180px;display:inline-block;">
        <button id="saveBibliography"><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Bibliography</button><span class="throbber" style="display:none;"></span>
    </div>
    <div style="width:180px;display:inline-block;">
        <button id="cancel">Cancel</button>
    </div>
<% } %>
