<div>
    <%= nl2br(striphtml(description)) %>
</div>
<% if(editors.length > 0){ %>
    <h2>Editors</h2>
    <ul>
    <% _.each(editors, function(editor){ %>
        <li><a href="<%= editor.url %>"><%= editor.fullname %></a></li>
    <% }) %>
    </ul>
<% } %>
<h2>Publications
    <button id="filtersBtn" type="button" style="position: relative;float: right;padding-top: 3px;padding-right: 4px;padding-bottom: 4px;padding-left: 7px;margin-top:-8px;">Filters
        <!-- <img src="<%= wgServer + wgScriptPath %>/<%= iconPathHighlighted %>filterIcon.svg" /> -->
        <svg style="margin-bottom: -3px;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
            <path id="svgPath" d="M2 2h13v2l-5 5v7l-3-2v-5l-5-5z"></path>
        </svg>
    </button>
    <div id="filters" style="position: absolute;right: 12px;font-size: small; display:none;background: #FFF;border: 1px solid #ccc;padding: 6px;border-radius: 5px; max-width: 328px; z-index: 1;">
        <table>
            <tr>
                <td align="right">Filter Authors:</td>
                <td><input style="width:200px;" placeholder="Split names with commas" id="filterAuthors" type="text"></td>
                <td>
                    <select id="filterOperand" class="filter_option" style="width: 40px; height:24px;-webkit-appearance: none;-moz-appearance: none;text-indent: -0.05em;padding: 0px;-webkit-padding-start:5px">
                        <option value="AND">AND</option>
                        <option value="OR" selected="selected">OR</option>
                        <option value="NOT">NOT</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Filter Tags:</td>
                <td><select id='filterSelectTags' multiple></select></td>
                <td>
                    <select id="filterTagOperand" class="filter_option" style="width: 40px; height:24px;-webkit-appearance: none;-moz-appearance: none;text-indent: -0.05em;padding: 0px;-webkit-padding-start:5px">
                        <option value="AND">AND</option>
                        <option value="OR" selected="selected">OR</option>
                        <option value="NOT">NOT</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">Search:</td>
                <td colspan="2"><input style="width:95.6%;" placeholder="Search this bibliography" id="search" type="text"></td>
            </tr>
        </table>
            
    </div>
    </div>
</h2>
<div id="products">
    <ol>
    
    </ol>
</div>
<% if(me.isLoggedIn()){ %>
    </br>
    <button id="editBibliography">Edit Bibliography</button>
    <% if(isExtensionEnabled("MyThreads")){ %>
        <h2>Comments</h2>
        <%= subview('listComments') %>
    <% } %>
<% } %>
