<div>
    <%= nl2br(striphtml(description)) %>
</div>
<% if(editors.length > 0){ %>
    <h2>Editors</h2>
    <ul>
    <% _.each(editors, function(editor){ %>
        <li><a href="<%= editor.url %>"><%= editor.fullname %></a></li>
    <% }) %>
    </ul>
<% } %>
<h2>Publications</h2>
<div id="products">
    <ol>
    
    </ol>
</div>
<% if(me.isLoggedIn()){ %>
    <button id="editBibliography">Edit Bibliography</button>
    <% if(isExtensionEnabled("MyThreads")){ %>
        <h2>Comments</h2>
        <%= subview('listComments') %>
    <% } %>
<% } %>
