.vis-timeline .center {
    text-align: left;
}

.currenttime {
    width: 1px;
}

.timeaxis.foreground {
    font-weight: bold;
    background: #FFF7D9;
}

.vispanel.background.vertical {
    z-index: 1;
}

.timeaxis.foreground .minor {
    font-weight: normal;
}

.vis-item {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0 !important;
    background: none;
}

.vis-item-content {
    padding: 0 !important;
}

.vis-item.vis-selected {
    background: none !important;
}

.vis-item.vis-dot {
    border-radius: 4px !important;
}

.vis-item.vis-point {
    border: none;
}

.visRed {
    color: #EC2528 !important;
    font-weight: bold;
}

.visBlue {
    color: #21A3DC !important;
    font-weight: bold;
}

.visGreen {
    color: #12A551 !important;
    font-weight: bold;
}

.visOrange {
    color: #F47F20 !important;
    font-weight: bold;
}

.visPurple {
    color: #723C96 !important;
    font-weight: bold;
}

.visYellow {
    color: #FCB722 !important;
    font-weight: bold;
}

.visRed .vis-item {
    color: #EC2528;
    font-weight: bold;
    border-color: #EC2528;
}

.visBlue .vis-item {
    color: #21A3DC;
    font-weight: bold;
    border-color: #21A3DC;
}

.visGreen .vis-item {
    color: #12A551;
    font-weight: bold;
    border-color: #12A551;
}

.visOrange .vis-item {
    color: #F47F20;
    font-weight: bold;
    border-color: #F47F20;
}

.visPurple .vis-item {
    color: #723C96;
    font-weight: bold;
    border-color: #723C96;
}

.visYellow .vis-item {
    color: #FCB722;
    font-weight: bold;
    border-color: #FCB722;
}
