<div id="editDialog" style="display:none;"></div>
<p>
    This page is used to manage all of your courses. Courses will show up in this list if one of the following conditions is true.
    <ul>
        <li>You are listed as being one of the students</li>
        <li>You were the person that created the course</li>
    </ul>
</p>
<p>
    <button id="addCourseButton">Add Course</button>
</p>
<table id="listTable" frame="box" rules="all">
    <thead><tr>
            <th width="3%" style="min-width: 70px;">Start Date</th>
            <th width="3%">End Date</th>
            <th width="13%">Term</th>
            <th width="35%">Course Name</th>
            <th width="35%">Student</th>
    </tr></thead>
    <tbody id="coursesRows">

    </tbody>
</table>
