<div id="editDialog" style="display:none;">
<div id="editSopView"></div>
<div id="editPostView"></div>
</div>
    <p>
        This page is used to view all SoPs.
    </p>
<br>

<!--Implementation of Search & Filters-->
<input type="button" id="showfilter" value="Show Filter Options" style="background: #079651;"><br />
<div id="filters" style="display:none;padding-top:10px;">

<text style="padding-left: 3px"><b>Filter Results: &nbsp;</b></text>
<br>
<text style="padding-left: 3px"><b>Name: &nbsp;</b></text>
<input type="text" id="nameInput" onkeyup="filterRows()" placeholder="Search here..." title="Type in a name" style="width: 205px">
<table>
    <tr>
        <td><text><b>Readability Score: &nbsp;</b></text></td>
        <td><input type="number" step="0.1" id="minReadabilityInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>to</td>
        <td><input type="number" step="0.1" id="maxReadabilityInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><text><b>Reading Ease: &nbsp;</b></text></td>
        <td><input type="number" step="0.1" id="minReadingEaseInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>to</td>
        <td><input type="number" step="0.1" id="maxReadingEaseInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><text><b>Sentiment Score: &nbsp;</b></text></td>
        <td><input type="number" step="0.1" id="minSentimentInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>to</td>
        <td><input type="number" step="0.1" id="maxSentimentInput" onkeyup="filterRows()" style="width: 45px"></td>
    </tr>
    <tr>
        <td><text><b>Syntax Errors: &nbsp;</b></text></td>
        <td><input type="number" step="1" id="minSyntaxInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>to</td>
        <td><input type="number" step="1" id="maxSyntaxInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><text><b>Word Count: &nbsp;</b></text></td>
        <td><input type="number" step="1" id="minWordCountInput" onkeyup="filterRows()" style="width: 45px"></td>
        <td>to</td>
        <td><input type="number" step="1" id="maxWordCountInput" onkeyup="filterRows()" style="width: 45px"></td>
    </div>
    </tr>
    <tr>
        <td><button id="clearFiltersButton" onclick="clearFilters()">Clear Filters</button>
    </tr>
</table>
<br>
<label><input type="checkbox" id="filterByTags" onClick="filterRows()"/>Filter by Tags</label>
<br>
<div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
        <select>
            <option>Select Tags</option>
        </select>
        <div class="overSelect"></div>
    </div>
    <div id="checkboxes">
        <label><input type="checkbox" id="positivepersonalqualities" onClick="filterRows()" unchecked/>Positive personal qualities</label>
        <label><input type="checkbox" id="negativepersonalquantities" onClick="filterRows()" unchecked/>Negative personal qualities</label>
        <label><input type="checkbox" id="relevantpersonalexperience" onClick="filterRows()" unchecked/>Relevant personal experience</label>
        <label><input type="checkbox" id="irrelevantinformation" onClick="filterRows()" unchecked/>Irrelevant information</label>
        <label><input type="checkbox" id="understandingofotincorporatedintopersonalexperience" onClick="filterRows()" unchecked/>Understanding of OT incorporated into personal experience</label>
        <label><input type="checkbox" id="interestinot" onClick="filterRows()" unchecked/>Interest in OT</label>
        <label><input type="checkbox" id="matchtootascareer" onClick="filterRows()" unchecked/>Match to OT as career</label>
        <label><input type="checkbox" id="superficialunderstandingofot" onClick="filterRows()" unchecked/>Superficial understanding of OT</label>
        <label><input type="checkbox" id="accurateknowledgeofot" onClick="filterRows()" unchecked/>Accurate knowledge of OT</label>
        <label><input type="checkbox" id="mentalcognitivespiritualhealthawareness" onClick="filterRows()" unchecked/>Mental/cognitive/spiritual health awareness</label>
        <label><input type="checkbox" id="innacurateunderstandingofot" onClick="filterRows()" unchecked/>Innacurate understanding of OT</label>
        <label><input type="checkbox" id="qualitiesrelatedtobeingasuccessfulstudent" onClick="filterRows()" unchecked/>Qualities related to being a successful student</label>
        <label><input type="checkbox" id="focusonphysicalaspect" onClick="filterRows()" unchecked/>Focus on physical aspect</label>
        <label><input type="checkbox" id="explanationofpoorgrades" onClick="filterRows()" unchecked/>Explanation of poor grades</label>
        <label><input type="checkbox" id="poorlywritten" onClick="filterRows()" unchecked/>Poorly written</label>
        <label><input type="checkbox" id="notconvincing" onClick="filterRows()" unchecked/>Not convincing</label>
        <label><input type="checkbox" id="informallanguage" onClick="filterRows()" unchecked/>Informal language</label>
    </div>
</div>
<br>
</div>
<!--End of of Search & Filters-->

<table id="listTable" frame="box" rules="all" style="float: left;">
    <thead>
        <tr>
            <th>User</th>
            <th title="This is a count of the number of words of the student's statement of purpose">Word Count</th>
            <th title="This measure takes an average score using the following algorithms that generate scores based on statistical average word and sentence lengths: Flesh-Kincaid, Coleman-Liau, Dale-Chall, SMOG. For a more detailed overview of each score click on 'View Details' of each student.">Readability Score</th>
            <th title="This measures the Flesch Reading Ease of the student. It measures the grade-level of the reader out of 100. The higher the number, the easier the text is to read. 
90-100 : Very Easy 
80-89 : Easy 
70-79 : Fairly Easy 
60-69 : Standard 
50-59 : Fairly Difficult 
30-49 : Difficult 
0-29 : Very Confusing " >Reading Ease</th>
            <th title="This is a count of all the spelling/grammar issues made by the student">Syntax Errors</th>
            <th title="This measures the general attitude of the student. Using IBM watson it analyzes all words used by the student that carry any positive/negative connotation. This is an overall sentiment of the student.">Sentiment Type</th>
            <th title="This measures the general attitude of the student. Using IBM watson it analyzes all words used by the student that carry any positive/negative connotation. This is the detailed sentiment score of the student.">Sentiment Score</th>
            <th>SoP Report</th>
            <th style="white-space: nowrap; display:none;">Date Created</th>
            <th style="display:none">Details</th>
            <th style="display:none">Update</th>
                <th id="idrow" style="display:none"></th>
                <th id="id" style="display:none"></th>
	    <th> Reviewed By</th>

        </tr>
    </thead>
    <tbody id="sopRows">

    </tbody>
</table>

<script>
var values;

var expanded = false;
function showCheckboxes() {
    var checkboxes = document.getElementById("checkboxes");
    if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
    } else {
        checkboxes.style.display = "none";
        expanded = false;
    }
}

function filterTags() {
    var table, tr, td, i, j, show, tags, tag;

    table = document.getElementById("listTable");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
        show = !document.getElementById("filterByTags").checked;
        td = tr[i].getElementsByTagName("td")[12];
        if (td) {
            tags = td.innerHTML.replace(/<\/?[^>]+(>|$)/g, "").split(",");
            for (j = 0; j < tags.length; j++) {
                tag = tags[j].replace(/\s/g, '').replace('//', '').toLowerCase();
                if (!(tag === "")) {
                    if (document.getElementById(tag).checked)
                    {
                        show = true;
                    }
                }
            }
        }
        
        if (!show) {
            tr[i].style.display = "none";
        }
    }
}

function filterName() {

  var input, filter, table, tr, td, i;

  input = document.getElementById("nameInput");
  filter = input.value.toUpperCase();

  table = document.getElementById("listTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (!(td.innerHTML.toUpperCase().indexOf(filter) > -1)) {
        tr[i].style.display = "none";
      }
    }
  }
}


function filterReadability() {
    
    var minInput, maxInput, table, tr, td, i;

    minInput = document.getElementById("minReadabilityInput").value;
    maxInput = document.getElementById("maxReadabilityInput").value;
    if(!minInput && !maxInput && values == ""){
        var rows = $('#sopRows > tr').show()
    }
    else{
    	if (!minInput){
            minInput = 0;
    	}

    	if (!maxInput){
            maxInput = Number.MAX_VALUE;
    	}

        filterByColumnRange(1, minInput, maxInput);
    }
}

function filterReadingEase() {
    
    var minInput, maxInput, table, tr, td, i;

    minInput = document.getElementById("minReadingEaseInput").value;
    maxInput = document.getElementById("maxReadingEaseInput").value;
    if(!minInput && !maxInput && values == ""){
        var rows = $('#sopRows > tr').show()
    }
    else{
    	if (!minInput){
            minInput = 0;
    	}

    	if (!maxInput){
            maxInput = Number.MAX_VALUE;
    	}
	
    	filterByColumnRange(2, minInput, maxInput);
    }
}

function filterSentiment() {
    
    var minInput, maxInput, table, tr, td, i;

    minInput = document.getElementById("minSentimentInput").value;
    maxInput = document.getElementById("maxSentimentInput").value;

    if(!minInput && !maxInput && values == ""){
        var rows = $('#sopRows > tr').show()
    }
    else{
    	if (!minInput){
            minInput = -1 * Number.MAX_VALUE;
    	}

    	if (!maxInput){
            maxInput = Number.MAX_VALUE;
    	}
    	filterByColumnRange(4, minInput, maxInput);
    }
}

function filterSyntax() {
    
    var minInput, maxInput, table, tr, td, i;

    minInput = document.getElementById("minSyntaxInput").value;
    maxInput = document.getElementById("maxSyntaxInput").value;
    if(!minInput && !maxInput && values == ""){
        var rows = $('#sopRows > tr').show()
    }
    else{
    	if (!minInput){
            minInput = 0;
    	}
    	if (!maxInput){
            maxInput = Number.MAX_VALUE;
        }
    	filterByColumnRange(5, minInput, maxInput);
    }
}

function filterWordCount() {
    
    var minInput, maxInput, table, tr, td, i;

    minInput = document.getElementById("minWordCountInput").value;
    maxInput = document.getElementById("maxWordCountInput").value;

    if(!minInput && !maxInput && values == ""){
	var rows = $('#sopRows > tr').show()
    }
    else{
        if (!minInput){
            minInput = 0;
    	}
        if (!maxInput){
            maxInput = Number.MAX_VALUE;
    	}
        filterByColumnRange(6, minInput, maxInput);
    }
} 

function filterByColumnRange(index, minVal, maxVal) {
    
    table = document.getElementById("listTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[index];
        if (td) {
            value = parseFloat(td.innerHTML);
            if (!((value >= minVal) && (value <= maxVal))) {
                tr[i].style.display = "none";
            }
        }
    }
}

function showAllRows() {

    table = document.getElementById("listTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "";
    }
}

function filterRows() {
    showAllRows();
    values = $('#nameInput').val() + $('#minReadabilityInput').val() + $('#maxReadabilityInput').val() + 
	     $('#minReadingEaseInput').val() + $('#maxReadingEaseInput').val() + $('#minSentimentInput').val() +
	     $('#maxSentimentInput').val() + $('#minSyntaxInput').val() + $('#maxSyntaxInput').val() + $('#minWordCountInput').val() +
	     $('#maxWordCountInput').val();
    console.log(values);
    filterName();
    filterReadability();
    filterReadingEase();
    filterSentiment();
    filterSyntax();
    filterWordCount();
    filterTags();    
}

function clearFilters() {
    document.getElementById("nameInput").value = "";
    document.getElementById("minReadabilityInput").value = "";
    document.getElementById("maxReadabilityInput").value = "";
    document.getElementById("minReadingEaseInput").value = "";
    document.getElementById("maxReadingEaseInput").value = "";
    document.getElementById("minSentimentInput").value = "";
    document.getElementById("maxSentimentInput").value = "";
    document.getElementById("minSyntaxInput").value = "";
    document.getElementById("maxSyntaxInput").value = "";
    document.getElementById("minWordCountInput").value = "";
    document.getElementById("maxWordCountInput").value = "";

    filterRows();
}

</script>

<style>
    .multiselect {
        width: 350px;
    }
    .selectBox {
        position: relative;
    }
    .selectBox select {
        width: 100%;
        font-weight: bold;
    }
    .overSelect {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    }
    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }
    #checkboxes label {
        display: block;
    }
    #checkboxes label:hover {
        background-color: #1e90ff;
    }
</style>

