/* Any custom styles should go here */

span#infinity {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

span#infinity:hover {
    cursor: pointer;
}

div.ui-dialog-content {
    padding: 0 !important;
}

div.ui-dialog-buttonpane {
    margin: 0 !important;
    padding: 0.5em 1em 0.5em !important;
}

table.wikitable {
    border: hidden !important;
    margin: 0;
    padding: 0;
}

table.wikitable tr.even {
    background: #FFFFFF;
}

table.wikitable tr.odd {
    background: #F2F2F2;
}

table.wikitable tr.deleted {
    background: #FEB8B8;
}

#map-container {
    height:100%;
    width:100%;
    display: table-row;
    position: relative;
}

#map {
    float:right;
    width:100%;
    height:100%;
    border-radius:15px;
    bottom: 30px;
}

#currentView {
    height: 100%;
    width: 100%;
    display: table;
}

@media print {
   #map{
	min-height:300px;
   }
   #map-container {
	min-height:300px;
   }
}

#backbone_main {
    height: 100%;
}

#mw-content-text {
    height: 100%;
}

#footer {
    display: none;
}

#pageTitle {
    display: none;
}
