#reportIssue, #contactUs {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}

#reportIssue .throbber {
    position: absolute;
    right: 5px;
    top: 6px;
}

#reportIssue button {
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#reportIssue button, #contactUs button {
    width: 132px;
}
