#reportIssue, #contactUs, #helpButton {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}

#reportIssue .throbber, #contactUs .throbber {
    position: absolute;
    right: 5px;
    top: 6px;
}

#reportIssue button, #contactUs button, #helpButton button {
    text-align: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#reportIssue button, #contactUs button, #helpButton button {
    width: 132px;
}
