<% if(id != null) {%>
    <div class="thread-message" width="100%">
        <table padding="0">
            <tbody>
                <tr>
                    <td rowspan="2" class='caps-thread'>
                    </td>
                    <td valign="top" class='caps-thread'>
                        <b><span class="en">From</span><span class="fr">De</span>:</b>
                    </td>
                    <td valign="top" class='caps-thread'>
                        <% if(me.getCapsRoleString().indexOf('Admin') > -1 || me.getCapsRoleString().indexOf('Manager') > -1){ %>
                            <a href="<%= author.url %>"><b><%= author.name %></b></a>
                        <% } else{ %>
                            <b><%= author.name %></b>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class='caps-thread'>
                        <b>Date:</b>
                    </td>
                    <td valign="top" class='caps-thread'>
                        <%= date_created %>
                    </td>
                </tr>
        </table>
        <div class="inner-message">
            <%= nl2br(striphtml(message)) %>
        </div>
    </div>
<%} else{ %>
    <div id="addMessage" align="right">
            <%= HTML.TextArea(this, 'message', {style: 'max-height: 200px; resize: none;'}) %>
        <br>
        <button id="submitPost" type="button" style="height:40px"><span class="en">Post</span><span class="fr">Poster</span></button>
        <span class="throbber" style="display:none;"></span>

    </div>
<% } %>
