<td align="left">
    <% if(_.where(me.get('roles'), {role: ADMIN}).length > 0 || _.where(me.get('roles'), {role: MANAGER}).length > 0){ %>
        <span class="delete-icon" style="float:right; margin-left: 3px;"></span>
    <% } %>
    <a href="<%= story_url %>"><%= striphtml(title) %></a>
</td>
<% if(me.getCapsRoleString().indexOf('Admin') > -1 || me.getCapsRoleString().indexOf('Manager') > -1){ %>
<td  style="white-space: nowrap;"><a href="<%= author.url %>"><%= author.name %></a></td>
<% } %>
<td  style="white-space: nowrap;"><%= date_submitted %></td>
<td><% if(approved==1){ %><span class="en">Yes</span><span class="fr">Oui</span><%} else{ %> <span class="en">No</span><span class="fr">Non</span> <% } %></td>
