<div id="editDialog" style="display:none'"></div>
<div class="en">
<p>
    Have you wanted a safe space to talk to colleagues about medical abortion, your practice, the difficulties or what has worked for you?  Our Peer-to-peer discussion room is here!
</p>
<div>Please note:</div>
<ul>
    <li>Experiences should not include information that will identify specific patients.</li>
    <li>For research purposes we may use your experience post, without any of your identifying information, to advocate with health system and policy leaders to improve policies and systems that support your provision of safe, accessible medical abortion care.</li>
    <li>You are welcome to start a new experience, or to comment on experiences others have posted.</li>
    <li>You may add your name and/or contact info to your case or comments, or may post anonymously.</li>
    <li>If you include any patient identifiers or inappropriate information, an administrator will contact you asking you to revise your case.</li>
    <li>Your case will not appear to other members until it has a site administrator has approved it.</li>
</ul>
<button id="addStoryButton">Share a Case or Experience</button>
</div>
<div class="fr">
<p>
    Avez-vous éprouvé un cas difficile ou frustrant? At-il été difficile de gérer la logistique récente des soins de l'avortement médicamenteux? Cliquez ci-dessous pour commencer le partage.
</p>
<ul>
    <li>Les expériences ne doivent pas inclure des informations permettant d'identifier les patients spécifiques.</li>
    <li>Pour des fins de recherche, nous pouvons utiliser votre expérience poste, sans aucune de vos informations d'identification, de plaider auprès du système et des politiques de la santé des dirigeants pour améliorer les politiques et les systèmes qui prennent en charge votre prestation de sécurité, l'accessibilité des services d'avortement médical.</li>
    <li>Vous êtes invités à commencer une nouvelle expérience, ou faire des commentaires sur les expériences d'autres ont posté.</li>
    <li>Vous pouvez ajouter votre nom et / ou informations de contact à votre cas ou commentaires, ou placer anonymement.</li>
    <li>Si vous incluez tous les identificateurs des patients ou des informations inappropriées, un administrateur vous contactera pour vous demander de réviser votre cas.</li>
    <li>Votre cas n'apparaîtra aux autres membres jusqu'à ce qu'il ait un administrateur du site a approuvé.</li>
</ul>
<button id="addStoryButton">Partager un Cas ou de L'experience</button>
</div>
<div>
</div>
<br />
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <th><span class='en' style='display:none'>Case Title</span><span class='fr' style='display:none'>Cas Titre</span></th>
        <% if(me.getCapsRoleString().indexOf('Admin') > -1 || me.getCapsRoleString().indexOf('Manager') > -1){ %>
	    <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Submitted by</span><span class='fr' style='display:none'>Proposé par</span></th>
        <% } %>
            <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Date Submitted</span><span class='fr' style='display:none'>Date de soumission</span></th>
	    <th width="5%"><span class='en' style='display:none'>Approved</span><span class='fr' style='display:none'>Approuvé</span></th>
        </tr>
    </thead>
    <tbody id="personRows">
        
    </tbody>
</table>
