<h2>Author</h2>
<div id="storyAuthor">
</div>
<h2>Description</h2>
<%= story.replace(/\n/g, "<br />") %>
<h2>Information</h2>
<b>Date Submitted:</b> <%= date_submitted  %><br>
<b>Approved:</b> <% if(approved==1){ %>Yes<%} else{ %> No <% } %>
<% if(parseInt(me.get('id')) > 0) { %>
    <br /><br />
    <button id='editStory'>Edit Story</button>
<% } %>
<br />
<b>Comments:</b>
<div id="comments">
	<table id="Comments" style=" width:100%">
	    <tbody id="commentRows">
	    </tbody>
	</table>
</div>
