<h2>Author</h2>
<div id="storyAuthor">
</div>
<h2>Description</h2>
<%= nl2br(striphtml(story)) %>
<h2>Information</h2>
<b>Date Submitted:</b> <%= date_submitted  %><br>
<b>Approved:</b> <% if(approved==1){ %>Yes<%} else{ %> No <% } %>
<% if(parseInt(me.get('id')) > 0 && approved ==0) { %>
    <br /><br />
    <button id='editStory'>Edit Case or Experience</button>
<% } %>
<br />
<b>Comments (This is anonymous by default, but feel free to leave contact information):</b>
<div id="comments">
	<table id="Comments" style=" width:100%">
	    <tbody id="commentRows">
	    </tbody>
	</table>
</div>
