<div class="large_card" style="margin-bottom:10px;">
    <div class="card_photo">
        <img src="<%= photo %>" alt="" style="max-width:100px;max-height:132px;" />
    </div>
    <div class="card_description">
        <h1 style="display:inline-block;margin:0;padding:0;vertical-align:top;border:none;"><%= fullName %>&nbsp;<span id="roles" style="display:none;"></span></h1> <br />
        <span style="display: inline-block; white-space: normal;"><%= this.model.getCapsString() %></span><br />
        <table cellpadding="0" cellspacing="0" style="margin-top: 8px;">

            <% if(email != "" && (me.getCapsRoleString().indexOf("Admin") != -1 || me.getCapsRoleString().indexOf("Manager") != -1) || me.id == this.model.id){ %>
                <tr>
                    <td width="100">Email&nbsp;</td>
                    <td style="color:#333333;"><a href="mailto:<%= email %>"><%= email %></a></td>
                </tr>
            <% } %>
            <% if(gender != ""){ %>
                <tr>
                    <td width="100">Gender&nbsp;</td>
                    <td style="color:#333333;"><%= gender %></td>
                </tr>
            <% } %>
            <% if(website != "" && website != "http://"){ %>
                <tr>
                    <td width="100">Website&nbsp;</td>
                    <td style="color:#333333;"><a href="<%= website %>" target="_blank"><%= parseUrl(website).hostname %></a></td>
                </tr>
            <% } %>
            <% if(phone != "" && phone){ %>
                <tr>
                    <td width="100">Phone Number&nbsp;</td>
                    <td style="color:#333333;"><%= phone %></td>
                </tr>
            <% } %>
            <% if(postal_code != ""){ %>
                <tr>
                    <td width="100">Postal Code&nbsp;</td>
                    <td style="color:#333333;"><%= postal_code %></td>
                </tr>
            <% } %>
            <% if(this.model.getCapsRoleString().indexOf("Physician") != -1){ %>
                <tr>
                    <td width="100">Accepting referrals?&nbsp;</td>
                    <td style="color:#333333;"><%= accept_referrals %></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>
