<div class="large_card">
    <div class="card_description" style="width:100%;">
        <h1 style="display:inline-block;margin:0;padding:0;vertical-align:top;border:none;"><%= fullname %></h1>
        <div style="display:flex;flex-wrap:wrap;min-height:175px">
            <div style="width:125px;max-width:125px;margin:5px 5px 5px 0;">
                <% if(images[0] != undefined && images[0] != ""){ %>
                    <img style="max-width:175px;width:100%;px;max-height:175px;margin:0 auto;border-radius:5px;box-sizing:border-box;" src="<%= images[0] %>" />
                <% } else if(typeof members != 'undefined'){ %>
                    <% _.each(members, function(member){ %>
                        <% if(_.pluck(leaders, 'id').indexOf(member.id) != -1){ %>
                            <img style="max-width:175px;width:100%;px;max-height:175px;margin:0 auto;border-radius:5px;box-sizing:border-box;" src="<%= member.photo %>" />
                        <% } %>
                    <% }) %>
                <% } %>
            </div>
            <div id="contact" style="flex-grow:1; min-width:250px; margin:5px 0 5px 5px; overflow: hidden; text-overflow: ellipsis;">
                <table style="width:1%;white-space:nowrap;">
                    <% if(leaders.length > 0){ %>
                        <tr>
                            <td><b>Leaders:</b></td>
                            <td><%= _.pluck(leaders, 'name').join(', ') %></td>
                        </tr>
                    <% } %>
                    <% if(startDate != "" && startDate != "0000-00-00 00:00:00"){ %>
                        <tr>
                            <td><b>Start Date:</b></td>
                            <td><%= formatDate(startDate) %></td>
                        </tr>
                    <% } %>
                    <% if(endDate != "" && endDate != "0000-00-00 00:00:00"){ %>
                        <tr>
                            <td><b>End Date:</b></td>
                            <td><%= formatDate(endDate) %></td>
                        </tr>
                    <% } %>
                    <% if(theme != ""){ %>
                        <tr>
                            <td><b>Theme:</b></td>
                            <td><%= theme %></td>
                        </tr>
                    <% } %>
                    <% if(website != "" && website != "http://" && website != "https://"){ %>
                        <tr>
                            <td><b>Website:</b></td>
                            <td><div style="display:block;max-width:300px;overflow:hidden;text-overflow:ellipsis;"><a href="<%= website %>" target="_blank"><%= website %></a></div></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
        <div id="description" style="max-height:150px; overflow-y:auto; width:100%;">
            <%= description %>
        </div>
        <% if(typeof members != 'undefined' && _.filter(members, function(member){ return (_.pluck(leaders, 'id').indexOf(member.id) == -1); }).length > 0){ %>
            <b>Members</b>
            <div id="members" style="max-height:150px; overflow-y:auto; width:100%;">
                <ul>
                <% _.each(_.filter(members, function(member){ return (_.pluck(leaders, 'id').indexOf(member.id) == -1); }), function(member){ %>
                    <li><%= member.fullName %><% if(member.faculty != ""){ %>, <%= member.faculty %><% } %></li>
                <% }) %>
                </ul>
            </div>
        <% } %>
    </div>
</div>
