<div class="large_card" style="margin-bottom:10px;">
    <div class="card_photo">
        <img src="<%= photo %>" alt="" style="max-width:100px;max-height:132px;" />
    </div>
    <div class="card_description">
        <h1 style="display:inline-block;margin:0;padding:0;vertical-align:top;border:none;"><%= fullName %>&nbsp;<span id="roles" style="display:none;"></span></h1> <br />
        <span style="display: inline-block; white-space: normal;"><%= this.model.getUniversityString() %></span><br />
        <table cellpadding="0" cellspacing="0" style="margin-top: 8px;">
            <% if(email != ""){ %>
                <tr>
                    <td width="100">Email&nbsp;</td>
                    <td style="color:#333333;"><a href="mailto:<%= email %>"><%= email %></a></td>
                </tr>
            <% } %>
            <% if(website != "" && website != "http://"){ %>
                <tr>
                    <td width="100">Website&nbsp;</td>
                    <td style="color:#333333;"><a href="<%= website %>" target="_blank"><%= parseUrl(website).hostname %></a></td>
                </tr>
            <% } %>
            <% if(ldap != "" && ldap != "http://" && singleUniversity){ %>
                <tr>
                    <td width="100">LDAP&nbsp;</td>
                    <td style="color:#333333;"><a href="<%= ldap %>" target="_blank"><%= parseUrl(ldap).hostname %></a></td>
                </tr>
            <% } %>

            <% if(phone != "" && phone != "http://"){ %>
                <tr>
                    <td width="100">Phone Number&nbsp;</td>
                    <td style="color:#333333;"><%= phone %></td>
                </tr>
            <% } %>
        </table>
    </div>
</div>
