<% if(this.parent.otherProjects.length > 0) { %>
    <div class="popupHeader">Current Projects</div>
    <div class="popupBlock">
        <input type="text" class="popupBlockSearch" placeholder="Search..." autocomplete="off" />
        <% this.parent.otherProjects.each(function(p){ %>
            <div class="popupMainProject">
                <input data-project="<%= p.id %>"
                       type="checkbox" 
                       name="otherproject"
                       <%= this.projectChecked(p.id) %> />&nbsp;<%= p.get('name') %>
                <div class="otherSubProjects" <% if(this.projectChecked(p.id) == ""){ %>style="display:none;" <% } %>>
                    <% _.each(p.get('subprojects'), function(sub) { %>
                        <div class="subproject">
                            <input data-project="<%= sub.id %>"
                                   type="checkbox" 
                                   name="othersubproject" 
                                   <%= this.projectChecked(sub.id) %> />&nbsp;<%= sub.name %>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>
<% if(this.parent.oldProjects.length > 0) { %>
    <div class="popupHeader">Ended Projects</div>
    <div class="popupBlock">
        <input type="text" class="popupBlockSearch" placeholder="Search..." autocomplete="off" />
        <% this.parent.oldProjects.each(function(p){ %>
            <div class="popupMainProject">
                <input data-project="<%= p.id %>"
                       type="checkbox" 
                       name="otherproject" 
                       <%= this.projectChecked(p.id) %> />&nbsp;<%= p.get('name') %>
                <div class="otherSubProjects" <% if(this.projectChecked(p.id) == ""){ %>style="display:none;" <% } %>>
                    <% _.each(p.get('subprojects'), function(sub) { %>
                        <div class="subproject">
                            <input data-project="<%= sub.id %>"
                                   type="checkbox" 
                                   name="othersubproject" 
                                   <%= this.projectChecked(sub.id) %> />&nbsp;<%= sub.name %>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>
