<li class="pscard">
	<div class="pscard-photo">
		<a href="<%- profile_url %>"><image src="<%- profile_photo %>" height="100px" /></a>
	</div>
	<div class="pscard-info">
	  	<h3 class="pscard-name"><%- name %> (<%- roles %>)</h3>
	  	<ul class="nobul">
	  		<li><b>Email:</b> <%- email %></li>
	  		<li><b>University:</b> <%- university %></li>
	  		<li><b>Department:</b> <%- department %></li>
	  		<li><b>Position:</b> <%- position %></li>
	  	</ul>
	  	<div class="pscard-profile">
	  		<b>Profile:</b>
	  		<p><%- public_profile %></p>
	 	</div>
  	</div>
  	<div class="floatnone"></div>
</li>