<!-- <li class="pscard  odd "> -->
	<div class="pscard-photo">
		<a href="<%- profile_url %>"><image src="<%- profile_photo %>" height="100px" /></a>
	</div>
	<div class="pscard-info">
	  	<div class="pscard-info-left">
	  	<h3 class="pscard-name"><%- name %> <span id="proles"></span></h3>
	  	<ul class="nobul">
	  		<li><b>Email:</b> <%- email %></li>
	  		<li><b>Institution:</b> <%- university %></li>
	  		<li><b>Department:</b> <%- department %></li>
	  		<li><b>Position:</b> <%- position %></li>
	  	</ul>
	  	</div>
	  	<div class="pscard-info-right">
	  	<% if (public_profile) { %>
	  	<span class="pscard-profile_hdr">Public Profile</span>
	  	<div class="pscard-profile">
	  		<p><%- public_profile %></p>
	 	</div>
	 	<% } %>
	 	</div>
  	</div>
  	<div class="floatnone"></div>
<!-- </li> -->
