<div class="popupHeader">Sub-Projects</div>
<div class="popupBlock">
    <input type="text" class="popupBlockSearch" placeholder="Search..." autocomplete="off" />
    <% _.each(subprojects, function(sub){ %>
        <div class="popupMainProject">
            <input data-project="<%= sub.id %>" 
                   data-parent="<%= id %>" 
                   type="checkbox" 
                   name="subproject" 
                   <%= this.projectChecked(sub.id) %> />&nbsp;<a href="<%= sub.url %>" target="_blank"><%= sub.name %></a>
        </div>
    <% }) %>
</div>
