<% if(!this.otherOnly){ %>
    <div style="display:inline-block;vertical-align:top;">
        <table>
            <% _.each(this.projects.models, function(p){ %>
                <tr>
                    <td align="right" style="font-weight: bold;"><a title="<%= p.get('fullname') %>" href="<%= p.get('url') %>" target="_blank"><%= p.get('name') %></a>:</td>
                    <td class="checkboxCell" style="width:40px;text-align:left;">
                        <div class="checkboxOuter" data-project="<%= p.get('id') %>">
                            <input id="projects_<%= p.get('name') %>" data-project="<%= p.get('id') %>" type="checkbox" name="project" <%= this.projectChecked(p.get('id')) %> /><% if(this.projectChecked(p.get('id')) != "" && p.get('subprojects').length > 0){ %><div data-project="<%= p.get('id') %>" class="showSubprojects">&#9660;</div><% } %>
                            <% if(p.get('subprojects').length > 0){ %>
                                <div style="display:none;" class="subprojectPopup popupBox">
                                    
                                </div>
                            <% } %>
                        </div>
                    </td>
                </tr>
            <% }, this) %>
            <% if(!this.inlineOther){ %>
                <tr>
                    <td align="right" style="font-weight: bold;">Other:</td>
                    <td class="checkboxCell" align="center" style="width:40px;">
                        <div class="checkboxOuter">
                            <input class="other" name="other"  type="checkbox" <%= this.otherChecked() %> disabled /><div class="showOther">&#9660;</div>
                            <div style="display:none;" class="otherPopup popupBox"></div>
                        </div>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    <div style="display:inline-block;vertical-align:top;">
        <% if(this.inlineOther){ %>
            <div class="otherPopup" style="font-weight: bold; white-space: nowrap;border: 1px solid #cccccc;"></div>
        <% } %>
    </div>
<% } else { %>
    <div class="checkboxOuter">
        <input class="other" name="other"  type="checkbox" <%= this.otherChecked() %> disabled /><div class="showOther">&#9660;</div>
        <div style="display:none;" class="otherPopup popupBox"></div>
    </div>
<% } %>
