<a href="<%= url %>" style="text-decoration:none !important;" class="card_link">
    <div class="small_card" style="font-size:11px;line-height:11px;">
        <div class="card_photo">
            <img src="<%= cachedPhoto %>" style="max-width:34px; max-height:45px;" alt="" />
        </div>
        <div class="card_description">
            <b><%= fullName %></b> <span id="roles" style="display:none;"></span><br />
            <span id="uni"><%= position %><br />
                <% if(department != "" && university != ""){ %>
                    <%= department %><br /><%= university %>
                <% } else if(department != ""){ %>
                    <%= department %>
                <% } else if(university != ""){ %>
                    <%= university %>
                <% } %>
            </span>
        </div>
    </div>
</a>
