<a href="<%= url %>" style="text-decoration:none !important;" class="card_link">
    <div class="small_card" style="font-size:10px;line-height:11px;">
        <div class="card_photo">
            <img src="<%= cachedPhoto %>" style="max-width:25px; max-height:33px;" alt="" />
        </div>
        <div class="card_description">
            <b><%= firstName %>
            <% if(middleName.length > 0){ %>
                <%= middleName.substr(0, 1) %>.
            <% } %>
            <%= lastName %></b> <span id="roles" style="display:none;"></span><br />
            <span id="uni"><%= position %><br /><%= university %></span>
        </div>
    </div>
</a>
