<a href="<%= gotoUrl %>" style="text-decoration:none !important;" class="card_link">
    <div class="small_card" style="font-size:10px;line-height:11px;">
        <div class="card_photo">
            <img src="<%= cachedPhoto %>" style="max-width:25px; max-height:33px;" alt="" />
        </div>
        <div class="card_description">
            <b><%= fullName %></b>
            <% if ((gsms_id != "") && (gsms_id != null)) { %>
            	<b>(<%= gsms_id %>)</b> 
            <% } %>
            <span id="roles" style="display:none;"></span><br />
            <span id="uni"><%= position %><br /><%= university %></span>
        </div>
    </div>
</a>
