<!-- Temporary place for CSS will need to move out to its own file -->
<style type="text/css">
div#search_controls {
  margin: 25px 0 15px 0;
}

ul#people_list {
  margin-left: 4px;
}
ul li.pscard, ul.nobul {
  list-style-image: none;
  list-style-type: none;
}

ul.nobul {
  margin-top: 0;
}
ul.nobul li {
  margin: 1px 0;
}
li.pscard {
  padding: 15px 0;
}
li.pscard.odd {
  background-color: #EEEEEE;
}

div.pscard-photo, div.pscard-info, div.pscard-profile, div.pscard-info ul{
  float:left;
}
div.pscard-info{
  width: 90%;
}
div.pscard-profile {
 /* width: 70%;
  padding-left:  30px;
  margin-top: -22px;*/
}
div.pscard-info-left{
  float: left;
  width: 30%;
  text-align: left;
}
div.pscard-info-right{
  float: left;
  width: 70%;
}
span.pscard-profile_hdr{
  display: block;
  font-size: 110%;
  font-weight: bold;
}
span.cell-hdr {
  font-weight: bold;
  vertical-align: middle;
}
div.floatnone {
  clear: both;
}
h3.pscard-name{
  margin: 0;
  padding: 0 0 4px 20px;
}
table th {
  text-align: left;
}
div#slider-range{
  display: inline-block;
  width: 170px;
  margin-left: 10px;
}
div#facet_controls{
  margin: -3px 2px 0px 2px;
  padding-top: 10px;
  border: 1px #AAAAAA solid;
  display: none;
}
div#pagination-container{
  margin: 20px 2px 2px 2px;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text{
  padding: 0 0 0 1em;
  line-height: 120%;
}
</style>


<!-- Facet controls -->
<div id="search_controls">
  <input style="width: 500px;" type="text" id="t_query" name="query" placeholder="Enter search query" />
  <button id="search_btn">Search</button>
</div>

<button id="advanced_toggle">Advanced Options</button>
<div id="facet_controls">
<table>
  <tr>
    <td><span class="cell-hdr">Projects: </span></td>
    <td>
      <select id="sel_proj" class="sel">
        <option value="any">- any -</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><span class="cell-hdr">Role: </span></td>
    <td>
      <select id="sel_role_modify" class="sel">
        <option value="is">is</option>
        <option value="gt_eq">&gt;=</option>
        <option value="lt_eq">&lt;=</option>
      </select>
    
      <select id="sel_role" class="sel">
        <option value="any">- any -</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><span class="cell-hdr">Rank: </span></td>
    <td>
      <select id="sel_rank_modify" class="sel">
        <option value="is">is</option>
        <option value="gt_eq">&gt;=</option>
        <option value="lt_eq">&lt;=</option>
      </select>
    
      <select id="sel_rank" class="sel">
        <option value="any">- any -</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><span class="cell-hdr">Products:</span></td>
    <td>
      <div id="slider-range"></div>
      <label id="amount" style="color:#f6931f; font-weight:bold; margin-left: 15px;"></label>
    </td>
  </tr>
</table>
</div>
<!-- END Facet controls -->
<div id="pagination-container"></div>

<div id="search_results"><!-- Search Results go here... --></div>
