<div id="editDialog" style="display:none;">
<div id="editThreadView"></div>
<div id="editPostView"></div>
</div>
<div class='en'>
<p>
    Do you have a question for one of our medical abortion experts? Click below to begin your question.
</p>
<ul>
    <li>Please do not include any personal or identifying information about your patients.</li>
    <li>You will receive a response from an expert within two days.</li>
    <li>If you have been matched up with an expert, the "Matched?" column should change to "Yes".</li>
</ul>
<button id="addThreadButton">Ask an Expert</button>
</div>
<div class='fr'>
<p>
    Avez-vous une question pour l'un de nos experts de l'avortement médicamenteux? Cliquez ci-dessous pour commencer votre question.
</p>
<ul>
    <li>S'il vous plaît ne pas inclure de renseignements personnels ou l'identification de vos patients.</li>
    <li>Vous recevrez une réponse d'un expert dans les deux jours.</li>
    <li>Si vous avez été jumelés avec un expert, la "appariés?" colonne doit changer "Oui".</li>
</ul>
<button id="addThreadButton">Demandez à un Expert</button>
</div>
<br />
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <th><span class='en' style='display:none'>Problem</span><span class='fr' style='display:none'>Problème</span></th>
            <th><span class='en' style='display:none'>Category</span><span class='fr' style='display:none'>Catégorie</span></th>
	        <th><span class='en' style='display:none'>Posts</span><span class='fr' style='display:none'>Des Postes</span></th>
            <th><span class='en' style='display:none'>Experts</span><span class='fr' style='display:none'>Experts</span></th>
            <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Created By</span><span class='fr' style='display:none'>Créé Par</span></th>
            <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Date Created</span><span class='fr' style='display:none'>Date de création</span></th>
	    <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Matched?</span><span class='fr' style='display:none'>Assorti?</span></th>
        </tr>
    </thead>
    <tbody id="personRows">

    </tbody>
</table>
