<td align="left">
    <a href="<%= url %>"><%= title %></a>
</td>
<td align="right" style="width:10px">
    <%= posts.length %>
</td>
<td style="white-space: nowrap;">
    <% var names = new Array();
    _.each(users, function(author){
        if(author.id == "" || author.id == null){
            names.push(author.name);
        }
        else{
            names.push("<a href='"+author.url+"'>"+author.name+"</a>");
        }
    }) %>
    <%= names.join(',&nbsp;') %>
</td>
<td style="white-space: nowrap;">
    <a href="<%= author.url %>"><%= author.name %></a>
</td>
<td style="white-space: nowrap;">    
    <%= date_created %>
</td>
<td style="white-space: nowrap;">
    <% if(users.length > 1){ %>
	Yes
    <% } else{%>
	No
    <% } %>
</td>
