<div id="editDialog" style="display:none;">
<div id="editThreadView"></div>
<div id="editPostView"></div>
</div>
<div class='en'>
<p>
    This page is used to manage all of your message threads with experts.  Threads will show up in this list if one of the following conditions is true.
    <ul>
        <li>You are the creator of the thread.</li>
        <li>You are an expert that has been matched up with a member.</li>
    </ul>
</p>
<p>
    If you would like to request for an expert consultation, click "Add Thread" and complete the fields.  Please do not include any personal or identifying information about your patients. You will receive a response from an expert within two days.  If you have been matched up with an expert, the "Matched?" column should change to "Yes".
</p>
</div>
<div class='fr'>
<p>
Cette page permet de gérer l'ensemble de vos fils de messages avec des experts . Threads apparaîtra dans cette liste si l'une des conditions suivantes est remplie .
    <ul>
        <li>Vous êtes le créateur du fil.</li>
        <li>Vous êtes un expert qui a été apparié avec un membre.</li>
    </ul>
</p>
<p>
Si vous souhaitez demander une consultation d'experts , cliquez sur "Ajouter Thread" et remplissez les champs.  S'il vous plaît ne pas inclure de renseignements personnels ou l'identification de vos patients. Vous recevrez une réponse d'un expert dans les deux jours.  Si vous avez été jumelés avec un expert, la " appariés ? " colonne doit changer "Oui" .
</p>
</div>
<div>
    <button id="addThreadButton"><span class='en' style='display:none'>Ask an Expert</span><span class='fr' style='display:none'>Demandez à un Expert</span></button>
</div>
<br />
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <th><span class='en' style='display:none'>Title</span><span class='fr' style='display:none'>Titre</span></th>
            <th><span class='en' style='display:none'>Category</span><span class='fr' style='display:none'>Catégorie</span></th>
	        <th><span class='en' style='display:none'>Posts</span><span class='fr' style='display:none'>Des Postes</span></th>
            <th width="5%"><span class='en' style='display:none'>Experts</span><span class='fr' style='display:none'>Experts</span></th>
            <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Created By</span><span class='fr' style='display:none'>Créé Par</span></th>
            <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Date Created</span><span class='fr' style='display:none'>Date de création</span></th>
	    <th width="5%" style="white-space: nowrap;"><span class='en' style='display:none'>Matched?</span><span class='fr' style='display:none'>Assorti?</span></th>
        </tr>
    </thead>
    <tbody id="personRows">

    </tbody>
</table>
