<td align="left">
    <% if(_.where(me.get('roles'), {role: ADMIN}).length > 0 || _.where(me.get('roles'), {role: MANAGER}).length > 0){ %>
        <span class="delete-icon" style="float:right; margin-left: 3px;"></span>
    <% } %>
    <a href="<%= url %>"><%= striphtml(title) %></a>
</td>
<td>
   <%= category %>
</td>
<td align="right" style="width:10px">
    <%= posts.length %>
</td>
<td style="white-space: nowrap;">
    <% var names = new Array();
    _.each(users, function(author){
        if(author.id == "" || author.id == null){
            names.push(author.name);
        }
        else{
            names.push("<a href='"+author.url+"'>"+author.name+"</a>");
        }
    }) %>
    <%= names.join(',&nbsp;') %>
</td>
<td style="white-space: nowrap;">
    <a href="<%= author.url %>"><%= author.name %></a>
</td>
<td style="white-space: nowrap;">    
    <%= date_created %>
</td>
<td style="white-space: nowrap;">
    <% if(users.length > 0){ %>
	    <span class="en">Yes</span>
	    <span class="fr">Oui</span>
    <% } else{%>
	    <span class="en">No</span>
	    <span class="fr">Non</span>
    <% } %>
</td>
