<% if(id != null) {%>
    <div class="thread-message" width="100%">
        <% if(isMine && !this.editing){ %>
            <span class="delete-icon" style="float:right; margin-left: 3px;"></span>
            <span class="edit-icon" style="float:right; margin-right: 3px;"></span>
        <% } %>
        <table padding="0">
            <tbody>
            <tr>
                <td class="caps-thread" rowspan="2">
                    <img class="photo" src="<%= author.photo %>">
                </td>
                <td class="caps-thread" valign="top">
                    <b class="en">From:</b>
                    <b class="fr">De:</b>
                </td>
                <td class="caps-thread" valign="top">
                    <a href="<%= author.url %>"><b><%= author.name %></b></a>
                </td>
            </tr>
            <tr>
                <td class="caps-thread" valign="top">
                    <b>Date:</b>
                </td>
                <td class="caps-thread" valign="top">
                    <%= date_created %>
                </td>
            </tr>
        </table>
        <% if(this.editing){ %>
            <%= HTML.TextArea(this, 'message', {style: 'max-height: 200px; resize: none;'}) %>
            <div style="margin-top:5px; text-align: right;">
                <button id="cancel" type="button">Cancel</button>&nbsp;<button id="save" type="button">Save</button>
            </div>
        <% } else { %>
            <div class="inner-message">
                <%= nl2br(striphtml(message)) %>
            </div>
        <% } %>
    </div>
</div>
<%} else{ %>
    <div id="addMessage" align="right">
            <%= HTML.TextArea(this, 'message', {style: 'max-height: 200px; resize: none;'}) %>
        <br>
        <button id="submitPost" type="button" style="height:40px"><span class="en">Post</span><span class="fr">Poster</span></button>
        <span class="throbber" style="display:none;"></span>

    </div>
<% } %>
