<div>
    <button id="EditThreadButton">
        <span class="en">Edit Thread</span>
        <span class="fr">Modifier le fil</span>
    </button> &nbsp; 
    <button id="BackButton">
        <span class="en">Back</span>
        <span class="fr">Retourner</span>
    </button>
</div>
<br />
<div id="posts">
    <table id="Posts" style="border:none; width:100%">
        <div id="loading" style="text-align: center">
            
        </div>
        <tbody id="personRows">

        </tbody>
    </table>
</div>
