<table>
<tr>
    <td><b><span class='en' style='display:none'>Title</span><span class='fr' style='display:none'>Titre:</span></b></td>
    <td><%= HTML.TextBox(this, 'title', {style: 'width:547px;'}) %></td>
</tr>
</table>
<br />
<div id="threadPeople"></div>
<% if(this.isDialog){ %>
<h2><span class='en' style='display:none'>Question Details</span><span class='fr' style='display:none'>Les Détails d'Interrogation</span></h2>
<% } %>
<% if(!this.isDialog){ %>
    <div style="width:180px;display:inline-block;">
        <button id="saveThread"><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> </button>
        <span class="throbber" style="display:none;"></span>
    </div>
    <div style="width:180px;display:inline-block;">
        <button id="cancel">Cancel</button>
    </div>
<% } %>
