<td>
    <table>
        <tr><td align="right"><b>Institution:</b></td><td><%= HTML.Select(this, 'university', {options: allUniversities}) %></td></tr>
        <% if(!splitDept){ %>
            <tr><td align="right"><b><%= deptsTerm %>:</b></td><td><%= HTML.Select(this, 'department', {options: allDepartments}) %></td></tr>
        <% } else { %>
            <tr><td align="right"><b>Faculty:</b></td><td><%= HTML.Select(this, 'faculty', {options: allFaculties}) %></td></tr>
            <tr><td align="right"><b>Department:</b></td><td><%= HTML.Select(this, 'department', {options: allDepartments}) %></td></tr>
        <% } %>
        <tr><td align="right"><b>Position:</b></td><td>
        <% if(_.where(currentRoles.toJSON(), {role: HQP}).length > 0 && 
              _.filter(currentRoles.toJSON(), function(r){ return !(r.role == HQP || r.role == PL || r.role == PS); }).length == 0){ %>
            <%= HTML.Select(this, 'position', {options: ["Other", 
                                                         "Graduate Student - Master's", 
                                                         "Graduate Student - Doctoral", 
                                                         "Post-Doctoral Fellow", 
                                                         "Research Associate", 
                                                         "Research Assistant", 
                                                         "Technician",
                                                         "Professional End User",
                                                         "Summer Student", 
                                                         "Undergraduate Student"]}) %>
        <% } else { %>
            <%= HTML.Select(this, 'position', {options: allPositions}) %>
        <% } %>
        </td></tr>
    </table>
</td>
<td style="white-space: nowrap;"><%= HTML.DatePicker(this, 'startDate', {format: 'yy-mm-dd', style: 'width: 5em;'}) %></td>
<td style="white-space: nowrap;" class="endDateCell">
    <%= HTML.DatePicker(this, 'endDate', {format: 'yy-mm-dd', style: 'width: 5em;'}) %><a id="infinity" title="Continuing">&#8734;</a>
    <div class="projError" style="display:none;"></div>
</td>
<td align="center"><%= HTML.CheckBox(this, 'deleted', {value: 'true', default: 'false'}) %></td>
