<table class="wikitable" style="font-size: 0.90em;" frame="void" rules="all" width="100%" cellpadding="5">
    <thead>
        <tr>
            <th width="1%">Theme</th>
            <th width="1%">Coordinator?</th>
            <th width="1%" style="white-space: nowrap;">Start Date</th>
            <th width="1%" style="white-space: nowrap;">End Date</th>
            <th>Comment</th>
            <th width="1%">Delete?</th>
        </tr>
    </thead>
    <tbody id="theme_rows">
        <tr></tr>
    </tbody>
</table>
