<% if(_.contains(allowedThemes, name)){ %>
    <td><%= HTML.Select(this, 'name', {options: allowedThemes}) %></td>
    <td align="center">
        <%= HTML.CheckBox(this, 'coordinator', {value: 'True', default: 'False'}) %>
    </td>
    <td style="white-space: nowrap;"><%= HTML.DatePicker(this, 'startDate', {format: 'yy-mm-dd', style: 'width: 5em;'}) %></td>
    <td style="white-space: nowrap;" class="endDateCell">
        <%= HTML.DatePicker(this, 'endDate', {format: 'yy-mm-dd', style: 'width: 5em;'}) %><a id="infinity" title="Continuing">&#8734;</a>
        <div class="projError" style="display:none;"></div>
    </td>
    <td><%= HTML.TextArea(this, 'comment', {style: 'max-height: 52px; resize: none; margin:0; width:100%;'}) %></td>
    <td align="center"><%= HTML.CheckBox(this, 'deleted', {value: 'true', default: 'false'}) %></td>
<% } else { %>
    <td><%= name %></td>
    <td style="white-space: nowrap;"><%= startDate.substring(0, 10) %></td>
    <td style="white-space: nowrap;"><%= endDate.substring(0, 10) %></td>
    <td><%= comment.replace(new RegExp('\r?\n','g'), '<br />')  %></td>
    <td align="center"></td>
<% } %>
