<% if(_.intersection(_.pluck(me.get('roles'), 'role'), [STAFF,MANAGER,ADMIN]).length > 0){ %>
    <td width="1%"><%= HTML.Select(this, 'user1', {style: 'width: 100px;', options: this.allPeople.filter(function(person){ return (person.get('id') != user2); }).map(function(person){ return {option: person.get('fullName'), value: person.get('id')}; })}) %></td>
<% } else if(_.intersection(_.pluck(me.get('roles'), 'role'), [PL,PA]).length > 0){ %>
    <td width="1%"><%= HTML.Select(this, 'user1', {style: 'width: 100px;', options: this.projectMembers.filter(function(person){ return (person.get('id') != user2); }).map(function(person){ return {option: person.get('fullName'), value: person.get('id')}; })}) %></td>
<% } %>
<td align="center"><%= this.owner.get('fullName') %><%= HTML.Select(this, 'type', {options: relationTypes}) %><%= this.target.get('fullName') %></td>
<td style="white-space:nowrap;">
    <table id="projects" style="width:100%;">

    </table>
    <hr style="background-color:#aaa;" />
    <div style="white-space: nowrap;">
        <select id="selectedProject">
            <option value="" selected disabled hidden>---</option>
            <% _.each(allowedProjects, function(project){ %>
                <option><%= project %></option>
            <% }) %>
        </select>
        <span id="addProject" class="highlights-text-hover" style="font-size: 1.5em; font-weight:bold;cursor:pointer;">
            &#65291;
        </span>
    </div>
</td>
<td style="white-space: nowrap;"><%= HTML.DatePicker(this, 'startDate', {format: 'yy-mm-dd', style: 'width: 5em;'}) %></td>
<td style="white-space: nowrap;"><%= HTML.DatePicker(this, 'endDate', {format: 'yy-mm-dd', style: 'width: 5em;'}) %><a id="infinity" title="Continuing">&#8734;</a></td>
<td><%= HTML.TextArea(this, 'comment', {style: 'max-height: 56px; resize: none; margin:0; width:100%;'}) %></td>
<td align="center"><%= HTML.CheckBox(this, 'deleted', {value: 'true', default: 'false'}) %></td>
