<table id="university_table" class="wikitable" frame="void" rules="all" width="100%" cellpadding="5">
    <thead>
        <tr>
            <th>Institution</th>
            <th class="relationCell">Relationships</th>
            <th class="startDateCell" style="white-space: nowrap;">Start Date</th>
            <th class="endDateCell" style="white-space: nowrap;">End Date</th>
            <th class="deleteCell">Delete?</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="orphansLabel tooltip" title="Orphaned Relationships are relationships which no longer belong to a specific university.  You can delete the relationship and re-create it under a specific university or you can leave it here, though because it is orphaned it may not have any affect in the annual report or profile.">Orphaned Relationships:</td>
            <td id="orphans" class="relations" colspan="4"></td>
        </tr>
    </tfoot>
</table>
