<table class="wikitable" frame="void" rules="all" width="100%" cellpadding="5">
    <thead>
        <tr>
            <th width="1%">Relation</th>
            <th width="1%" style="white-space: nowrap;">Start Date</th>
            <th width="1%" style="white-space: nowrap;">End Date</th>
            <th>Status</th>
            <th>Comment <span class="clicktooltip" title="These comments do not show up anywhere in the Annual Report">&#9432;</span></th>
            <th width="1%">Delete?</th>
        </tr>
    </thead>
    <tbody id="relation_rows">
        <tr></tr>
    </tbody>
</table>
