<div style="overflow-y: auto; max-height: 500px;">
<table id="university_table" class="wikitable" frame="void" rules="all" width="100%" cellpadding="5">
    <thead>
        <tr>
            <th class="institutionCell">Institution</th>
            <% if(this.person.get('id') != me.get('id') || this.hqpView){ %>
                <th class="relationCell">Relationships</th>
            <% } %>
            <th class="startDateCell" style="white-space: nowrap;">Start Date</th>
            <th class="endDateCell" style="white-space: nowrap;">End Date</th>
            <th class="deleteCell">Delete?</th>
        </tr>
    </thead>
    <% if(this.person.get('id') != me.get('id') || this.hqpView){ %>
        <tfoot>
            <tr>
                <td class="orphansLabel tooltip" title="Orphaned Relationships are relationships which no longer belong to a specific university.  You can assign the relationship to a university by dragging it up to one of the existing universities or you can leave it here.  If the relationship is left orphaned it may have unintended results in the Annual Report.">Orphaned Relationships:</td>
                <td id="orphans" class="relations" colspan="4"></td>
            </tr>
        </tfoot>
    <% } %>
</table>
</div>
