<td align="right" class="relationCell">
    <table cellspacing="0" style="width:100%;display:inline-block;vertical-align:middle;">
        <tr>
            <td rowspan="5" class="dots">
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
                &middot;&middot;<br />
            </td>
            <% if(this.hqpView){ %>
                <td align="right"><b>Supervisor:</b></td>
                <td align="left"><%= HTML.Select(this, 'user1', {options: [""].concat(this.allPeople.map(function(person){ return {option: person.get('fullName'), value: person.get('id')}; }))}) %></td>
            <% } else { %>
                <td colspan="2"></td>
            <% } %>
        </tr>
        <tr>
            <td colspan="2">
                <%= HTML.Select(this, 'type', {options: ['Supervises', 'Co-Supervises', 'Supervisory-Committee member', 'Examining-Committee member', 'Examining-Committee chair'], sorted: false}) %>
            </td>
        </tr>
        <tr>
            <td align="right"><b>Status:</b></td>
            <td><%= HTML.Select(this, 'status', {options: ['', 'Changed Supervisor', 'Completed', 'Continuing', 'Withdrew'], style: 'vertical-align: middle;'}) %></td>
        </tr>
        <tr>
            <td align="right"><b>Thesis:</b></td>
            <td><%= HTML.TextBox(this, 'thesis', {style: 'width: 220px;'}) %></td>
        </tr>
        <tr>
            <td colspan="2" class="relError">
                <ul></ul>
            </td>
        </tr>
    </table>
</td>
<td style="white-space: nowrap;" class="startDateCell" align="center">
    <%= HTML.DatePicker(this, 'startDate', {format: 'yy-mm-dd', style: 'width: 6em;'}) %>
</td>
<td class="endDateCell" style="white-space: nowrap;" align="center">
    <%= HTML.DatePicker(this, 'endDate', {format: 'yy-mm-dd', style: 'width: 6em;'}) %><span id="infinity" class="highlights-text" title="Continuing">&#8734;</span>
</td>
<td align="center" class="deleteCell"><%= HTML.CheckBox(this, 'deleted', {value: "true", default: "false"}) %></td>
