<div id="instructions" style="display:none;">
    <p>You can use the table below to manage your HQP on the <%= siteName %>.</p>
    <p>If you would like to manage additional people who already exist on the <%= siteName %>, then you can add them by clicking the 'Find Existing Member' button.  If the person does not exist, then you will need to add them by clicking the 'Add New HQP' button.</p>
    <p>Rows which have a light green backgrounds fall within the current reporting period (<%= START %> - <%= END %>).  This doesn't necessarily mean they will show up in your annual report since there could be other reasons they may not be eligible for the annual report</b></p>
</div>
<p>
    <b>NOTE: If you make any changes on this page and have other tabs open, the changes will not be reflected on those other tabs until you refresh the page.</b>
</p>
<p>
    <button id="addNewMember" title="Creates a new member">Add New HQP</button>
    <button id="addExistingMember" title="Adds an existing member to the list below">Find Existing HQP</button>
</p>
<div id="addNewMemberDialog" style="display:none; overflow-y:auto;" title="Add New HQP">
    <iframe id="addNewMemberFrame" style="width:100%; height:350px;" frameborder="0" onload="this.contentWindow.$('form input[name=submit]').hide()" src="<%= wgServer + wgScriptPath %>/index.php/Special:AddHqp?embed"></iframe>
</div>
<div id="addExistingMemberDialog" style="display:none; overflow:visible;" title="Find Existing HQP">
    <p>Select the person you would like to show up in your table and then press "Add".  If you do not find the person, you will need to add them using "Add New HQP".</p>
    <select id="selectExistingMember" name="select" data-placeholder="Search for a person..."></select>
</div>
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <% if(_.contains(allowedRoles, MANAGER)){ %>
                <th width="1%">Roles</th>
            <% } %>
            <th width="1%">Basic&nbsp;Info</th>
            <th width="1%">Remove&nbsp;<span class="tooltip" title="This option is only available if you have already removed all of your relationships with this Person">&#9432;</span></th>
            <th style="border-left: 2px solid #AAAAAA;">Name</th>
            <th style="width:0;white-space:nowrap;">Start Date&nbsp;<span class="tooltip" title="The start date in the Annual Report may differ from what is shown in this table">&#9432;</span></th>
            <th style="width:0;white-space:nowrap;">End Date&nbsp;<span class="tooltip" title="The end date in the Annual Report may differ from what is shown in this table">&#9432;</span></th>
            <th>Status</th>
            <th>Position</th>
            <th>Relation Type</th>
            <th>CCID</th>
        </tr>
    </thead>
    <tbody id="personRows">
        
    </tbody>
</table>
