<div id="rolesDialog<%= id %>" style="display:none; max-height: 500px; overflow-y: auto" title="Edit Roles">
    
</div>
<div id="relationsDialog" style="display:none; max-height: 500px; overflow-y: auto" title="Edit Relations">
    
</div>
<div id="universitiesDialog" style="display:none; max-height: 500px; overflow-y: auto" title="Edit Basic Info">
    
</div>
<% if(_.contains(allowedRoles, MANAGER)){ %>
    <td align="center">
        <span id="editRoles" class="edit-icon" title="Edit Roles"></span>
    </td>
<% } %>
<td align="center">
    <% if(me.get('id') != id){ %>
        <span id="editRelations" class="edit-icon" title="Edit Relations"></span>
    <% } %>
</td>
<td align="center">
    <span id="editUniversities" class="edit-icon" title="Edit Universities"></span>
</td>
<td align="center">
    <span class="delete-icon" style="display:none;"></span>
</td>
<td style="border-left: 2px solid #AAAAAA; 
           <% if(!complete) { %> background:#FFA500; <% } %> 
           <% if(doubtful) { %> font-weight:bold; <% } %>" align="left" >
    <a href="<%= url %>"><%= reversedName %></a>
</td>
<td id="startDate" align="center">
    <!-- These dates will most likely change after the relationship data is loaded.  These just make it a bit less jarring -->
    <% if(start != null){ %>
        <%= start.substr(0, 10) %>
    <% } %>
</td>
<td id="endDate" align="center">
    <!-- These dates will most likely change after the relationship data is loaded. These just make it a bit less jarring -->
    <% if(end == '0000-00-00 00:00:00'){ %>
        Current
    <% } else if(end != null) { %>
        <%= end.substr(0, 10) %>
    <% } %>
</td>
<td>
    <%= position %>
</td>
<td id="relationType">
    
</td>
<td>
    <%= email.split("@")[0] %>
</td>
