<div id="rolesDialog<%= id %>" style="display:none; max-height: 500px; overflow-y: auto" title="Edit Roles">
    
</div>
<div id="projectsDialog" style="display:none; max-height: 500px; overflow-y: auto" style="display:none;" title="Edit Projects">
    
</div>
<div id="relationsDialog" style="display:none; max-height: 500px; overflow-y: auto" title="Edit Relations">
    
</div>
<div id="universitiesDialog" style="display:none; max-height: 500px; overflow-y: auto" title="Edit Basic Info">
    
</div>
<% if(_.contains(allowedRoles, MANAGER)){ %>
    <td align="center">
        <span id="editRoles" class="edit-icon" title="Edit Roles"></span>
    </td>
    <td align="center">
        <span id="editProjects" class="edit-icon" title="Edit Projects"></span>
    </td>
<% } %>
<td align="center">
    <% if(me.get('id') != id){ %>
        <span id="editRelations" class="edit-icon" title="Edit Relations"></span>
    <% } %>
</td>
<td align="center">
    <span id="editUniversities" class="edit-icon" title="Edit Universities"></span>
</td>
<td style="border-left: 2px solid #AAAAAA; 
           <% if(!complete) { %> background:#FFA500; <% } %> 
           <% if(doubtful) { %> font-weight:bold; <% } %>" align="left" >
    <a href="<%= url %>"><%= reversedName %></a>
</td>
<td align="center">
    <%= start.substr(0, 10) %>
</td>
<td align="center">
    <% if(end == '0000-00-00 00:00:00'){ %>
        Current
    <% } else { %>
        <%= end.substr(0, 10) %>
    <% } %>
</td>
<td>
    <%= position %>
</td>
