<p>
    You can use the table below to manage your HQP on the Forum.<br />
    If you would like to manage additional people who already exist on the Forum, then you can add them by clicking the 'Add Existing Member' button.  If the person does not exist, then you will need to add them by clicking the 'Add New Member' button.
</p>
<p>
    <a id="addNewMember" class="button" href="<%= wgServer + wgScriptPath + '/index.php/Special:AddMember' %>" title="Creates a new member">Add New Member</a>
    <button id="addExistingMember" title="Adds an existing member to the list below">Add Existing Member</button>
</p>
<div id="addExistingMemberDialog" style="display:none; overflow:visible;" title="Add Existing Member">
    <p>Select the person you would like to show up in your table and then press "Save".</p>
    <select id="selectExistingMember" name="select"></select>
</div>
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <% if(_.contains(allowedRoles, MANAGER)){ %>
                <th width="1%">Roles</th>
                <th width="1%">Projects</th>
            <% } %>
            <th width="1%">Relations</th>
            <th width="1%">Basic&nbsp;Info</th>
            <th style="border-left: 2px solid #AAAAAA;">Name</th>
        </tr>
    </thead>
    <tbody id="personRows">
        
    </tbody>
</table>
