<div id="dialogMessages"></div>
<% if(!this.isDialog){ %>
    <a class="button backButton" href="#">Back to Contacts</a>
<% } %>
<div style="display:flex;">
    <div style="margin-right:15px;">
        <h3>Contact Details</h3>
        <table>
            <tr>
                <td class="label">First Name:</td>
                <td><%= HTML.TextBox(this, 'details.firstName', {style: 'width:200px;'}) %></td>
            </tr>
            <tr>
                <td class="label">Last Name:</td>
                <td><%= HTML.TextBox(this, 'details.lastName', {style: 'width:200px;'}) %></td>
            </tr>
            <tr>
                <td class="label">Email:</td>
                <td><%= HTML.TextBox(this, 'details.email', {style: 'width:300px;'}) %></td>
            </tr>
            <tr>
                <td class="label">Sector:</td>
                <td><%= HTML.Select(this, 'details.sector', {options: ['University, college, research hospital',
                                                                       'Other public',
                                                                       'Private',
                                                                       'Not-for-profit'], 
                                                             style: 'width:312px;'}) %></td>
            </tr>
            <tr>
                <td class="label">Institution/Company:</td>
                <td><%= HTML.TextBox(this, 'details.institution', {style: 'width:300px;'}) %></td>
            </tr>
            <tr>
                <td class="label">Geographic:</td>
                <td>
                    <%= HTML.Select(this, 'details.geographic', {options: ['British Columbia',
                                                                           'Alberta',
                                                                           'Saskatchewan',
                                                                           'Manitoba',
                                                                           'Ontario',
                                                                           'Quebec',
                                                                           'New Brunswick',
                                                                           'Nova Scotia',
                                                                           'Prince Edward Island',
                                                                           'Newfoundland and Labrador',
                                                                           'Yukon',
                                                                           'Northwest Territories',
                                                                           'Nunavut',
                                                                           'Outside Canada: United States',
                                                                           'Outside Canada: other than United States'], 
                                                                 style: 'width:312px;'}) %>
                    <%= HTML.TextBox(this, 'details.institution_other', {placeholder: 'Country if outside Canada/USA', style: 'width:300px;'}) %>
                </td>
            </tr>
            <tr>
                <td class="label">HQP:</td>
                <td>
                    <%= HTML.Select(this, 'details.hqp', {options: ['Yes', 'No']}) %>
                    <%= HTML.TextBox(this, 'details.hqp_other', {placeholder: 'HQP Type', style: 'width:244px;'}) %>
                </td>
            </tr>
        </table>
    </div>
    <!--div>
        <h3>Related Projects</h3>
        <%= HTML.ProjectSelector(this, 'projects', {inlineOther: true}) %>
    </div-->
</div>
<h3>Requests</h3>
<div id="opportunities"></div>
<button id="addOpportunity">Add Request</button>
<br />
<br />
<% if(!this.isDialog){ %>
    <div style="width:180px;display:inline-block;">
        <button id="save">
            <% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Contact
        </button><span class="throbber" style="display:none;"></span>
    </div>
    <div style="width:180px;display:inline-block;">
        <button id="cancel">Cancel</button>
    </div>
<% } %>
