/* mozilla.org Cavendish Content Styles
 * Design by SilverOrange
 * Markup Reference classes organized by fantasai
 */ /* Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */ /* TOC:
   Body
   Random HTML Styles
     Forms
   General Structure
   Navigation
   Quotations
   Comments and Other Asides
   Emphasis
   Computers - General
   Code
   Examples and Figures
   Q and A (FAQ)
   Tables
   Meta

   Body */
html {
    height: 100%;
}   

body {
	background: #F0F0F0;
	color: #000;
	font-size: 90%;
	height: 100%;
}

.displayTable {

}

.displayTableRow {

}

.displayTableCell {
    display: table-cell;
}

#bodyContent, #side {
	background: #fff;
	line-height: 1.5em; /* value other than 'normal' needed for WinIE */
	color: #333333;
}

#side {
    font-size: 14px;
    position:absolute;
    top:0;
    height: 100%;
    margin-bottom: 0;
    vertical-align: top;
    width:200px;
    min-width:200px;
    max-width:200px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #E0E0E0;
}

#side.menu-in {
    left: -200px;
}

#side > ul {
    margin-top: 46px;
    position: relative;
}

#sideToggle {
    width: 30px;
    height: 67px;
    line-height: 62px;
    top: 46px;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #888888;
    z-index: 100;
    background: #FFFFFF;
    z-index: 1000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: 1px solid rgba(0,0,0,0.10);
    border-right: 1px solid rgba(0,0,0,0.10);
}

#sideToggle:hover {
    background:#F0F0F0;
}

#side #userloginForm form {
    position: relative;
    left: 10px;
}

#side #userloginForm form > div {
    width: 180px;
}

#side #userloginForm form a:hover {
    color: inherit;
}

#side #userloginForm form #wpName1, 
#side #userloginForm form #wpPassword1 {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#spacer {
    min-width:29px;
    max-width:29px;
    width:29px;
}

#bodyContent {
    left: 200px;
    right: 0;
    top: 116px;
    bottom: 0;
    position:absolute;
    padding: 10px 20px;
    overflow-y: auto;
    border-width: 3px 0 0 3px;
    border-style: solid;
}

#bodyContent.menu-in {
    left: -3px;
}

.deepLevel #bodyContent {
	line-height: 1.4em;
}

@keyframes shake {
  0% { transform: rotate(-5deg); }
  5% { transform: rotate(5deg); }
  10% { transform: rotate(5deg); }
  15% { transform: rotate(-5deg); }
  20% { transform: rotate(-5deg); }
  25% { transform: rotate(5deg); }
  30% { transform: rotate(5deg); }
  35% { transform: rotate(-5deg); }
  40% { transform: rotate(0); }
}

#nav {
	top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 240px);
}

#nav hr {
    margin-top: 0;
    margin-bottom: 8px;
    background-color: rgba(0,0,0,0.10);
}

.top-nav-mid span {
    text-decoration: none !important;
}

/* Random HTML Styles */
input::-ms-clear {
    width : 0;
    height: 0;
}

hr {
	background-color: #E0E0E0;
	color: #000;
	margin: 2em 0;
}

input[type="submit"] {
	font-weight: bold;
	cursor: pointer;
}

/* General Structure */
body,td,th,input { /* redundant rules for bad browsers  */
	font-family: "Roboto", Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #ccc;
	font-family: "Roboto", Verdana, sans-serif;
}

li h1,li h2,li h3,li h4,li h5,li h6 {
	border: none;
}

#header h6 {
	border: 0;
}

h1 {
	font-size: 160%;
	font-weight: normal;
}

h2 {
	font-size: 150%;
	font-weight: normal;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 90%;
}

h6 {
	font-size: 90%;
	border: 0;
}

#bodyContent h1 {
	font-size: 160%;
	font-weight: normal;
}

#bodyContent h2 {
	font-size: 150%;
	font-weight: normal;
}

#bodyContent h3 {
	font-size: 120%;
}

#bodyContent h4 {
	font-size: 100%;
}

#bodyContent h5 {
	font-size: 90%;
}

#bodyContent h6 {
	font-size: 90%;
	border: 0;
}

/* Navigation */
:link {
	text-decoration: none;
}

:visited {
	text-decoration: none;
}

:link :hover,:visited :hover {
	text-decoration: underline;
}

/* Quotations */ /* Comments and other Asides */
.note {
	color: #666;
	font-style: normal;
}

.remark {
	color: #666;
}

.sidenote {
	border: #666;
}

.key-point:before {
	line-height: 0.1;
	font-size: 1px;
	background: transparent url("../../images/key-point_tr.gif") no-repeat
		top right;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/key-point_tl.gif");
}

.key-point {
	background: #e4ecec url("../../images/key-point_back.gif") right
		repeat-y;
	padding: 15px;
	margin-bottom: 1em;
}

.key-point:after {
	display: block;
	clear: both;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content: url("../../images/key-point_bl.gif");
	margin: -15px;
	height: 8px;
	background: transparent url("../../images/key-point_br.gif") scroll
		no-repeat bottom right;
}

.key-point h2,.key-point h3,.key-point h4,.key-point h5 {
	border: none;
	margin-top: 0;
	color: #4C5C5C;
}

.news dt {
	font-weight: normal;
	color: #666;
}

.news dt a {
	font-weight: bold;
}

ul.compact {
	margin-left: 0;
	padding-left: 20px;
}

/* Emphasis */ /* Computers - General */
kbd {
	margin: 0.1em;
	padding: 0.1em;
	border: 1px #ccc;
}

kbd.command,code.command {
	color: #6B5839;
}

/* Code */
pre {
    white-space: normal !important;
}

pre.code {
	background: #EEECF6;
}

code>em,code>strong,pre.code>em,pre.code>strong {
	font-style: normal;
}

/* Examples and Figures */
div.example {
	border-color: #554FA0;
}

div.example:before {
	color: #666;
}

/* Q and A (FAQ) */
ol.faq li a {
	text-decoration: none;
	border-bottom: 1px dotted #6C98EE;
}

ol.faq li a:hover {
	border-color: #039;
}

/* Tables */
table.data thead th {
	background: #e4ecec;
	empty-cells: hide;
}

table.data th,table.data td {
	border: 1px solid #ccc;
}

tr.odd {
	background: #F5F5F5;
}

.dt-buttons {
    padding: 6px 0 0 6px;
    margin-right: 9px;
}

.dt-button {
    padding: 5px 10px !important;
    font-size: 0.88em !important;
    margin: 2px !important;
}

.dt-button span {
    text-decoration: none !important;
}

/* Meta */
address {
	color: #666;
}

/* Product Specific CSS */
.productlist h3 {
	border: none;
}

.key-point h1,.key-point h3 {
	margin: 0;
}

input {
    border: 1px solid #CCC;
	background: #ffffff;
	display:inline-block;
	font-family: "Roboto", Verdana, Arial, sans-serif;
	font-size: 14px;
	padding: 5px 5px;
	margin: 0;
}

input[type=checkbox], 
input[type=radio], 
input[type=checkbox][disabled], 
input[type=radio][disabled],
input[type=checkbox][disabled]:hover,
input[type=radio][disabled]:hover {
    background: none !important;
    border: none !important;
    margin: 2px 2px;
}

.custom-combobox-input {
    background: #FFFFFF !important;
    -moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #CCC !important;
	margin-right: 0 !important;
	height: 17px !important;
	min-width: 100px;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.custom-combobox-toggle, .custom-combobox-toggle:active, .custom-combobox-toggle:hover, .custom-combobox-toggle.ui-state-hover {
    margin-left: -1px !important;
    top: 0 !important;
    -moz-border-radius-topleft: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
	-moz-border-radius-bottomright: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	
	padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    
    line-height: 21px !important;
    vertical-align: top;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

input.dark {
    border: none;
	background: #ffffff;
	display:inline-block;
	font-family: "Roboto", Verdana, Arial, sans-serif;
}

select {
	border: 1px solid #CCC !important;
	background: #ffffff;
	display:inline-block;
	padding: 5px 5px;
	margin: 0;
	outline: none;
	font-family: "Roboto", Verdana, Arial, sans-serif;
	font-size: 14px;
}

option {
    padding: 0;
    font-family: "Roboto", Verdana, Arial, sans-serif;
}

input.custom-combobox-input {
    background-origin: padding-box;
    padding-right: 20px;
    background: #fff url("../icons/gray_light/pen_12x12.png") no-repeat scroll right 4px center !important;
}

a.button span {
    text-decoration: none !important;
}

input[type=button], input[type=submit], .button, .button:visited, .dt-button, .ui-button, .button:link , :not(.mce-btn):not(.mce-window-head) > button:not(#cboxPrevious):not(#cboxNext):not(#cboxSlideshow):not(#cboxClose):not([disabled]) {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f8f8f8), color-stop(1, #E8E8E8) ) !important;
    background:-moz-linear-gradient( center top, #f8f8f8 5%, #E8E8E8 100% ) !important;
    background: -o-linear-gradient(top, #f8f8f8, #E8E8E8) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#E8E8E8');
    background: -ms-linear-gradient(top, #f8f8f8 0%, #E8E8E8 100%);
    background-color:#f8f8f8 !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #CCC !important;
    display:inline-block;
    font-family: "Roboto", Arial, Verdana, sans-serif !important;
    font-size:14px;
    line-height:15px;
    padding: 6px 20px 6px 20px;
    text-decoration:none;
    font-weight: bold !important;
    text-shadow:1px 1px 0px #FFFFFF;
    box-shadow:inset 0 0 1px 0 #f8f8f8;
    white-space:nowrap;
	margin: 0;
	text-align:center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=button].dark, input[type=submit].dark, button.dark {
    border:1px solid #CCC !important;
}

input[type=button].dark:focus, input[type=submit].dark:focus, button.dark:focus {
    border:1px solid #CCC !important;
}

:not(.mce-btn):not(.mce-window-head) > button:not(#cboxPrevious):not(#cboxNext):not(#cboxSlideshow):not(#cboxClose) {
    font-family: "Roboto", Arial, Verdana, sans-serif !important;
    font-size:14px !important;
    white-space:nowrap;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=button]:hover, input[type=submit]:hover, .button:hover, .dt-button:hover, .ui-button:hover, :not(.mce-btn):not(.mce-window-head) > button:not(#cboxPrevious):not(#cboxNext):not(#cboxSlideshow):not(#cboxClose):not([disabled]):hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f8f8f8), color-stop(1, #E8E8E8) );
    background:-moz-linear-gradient( center top, #f8f8f8 5%, #E8E8E8 100% );
    background: -o-linear-gradient(top, #f8f8f8, #E8E8E8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#E8E8E8');
    background: -ms-linear-gradient(top, #f8f8f8 0%, #E8E8E8 100%);
    background-color:#E8E8E8;
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-size:14px;
    line-height:15px;
    display:inline-block;
    border-color:#888888;
    font-weight: bold;
    text-decoration:none; 
    cursor:pointer;
    padding:6px 20px;
	margin: 0;
	white-space:nowrap;
}

input[type=file], input[type=file]:focus {
    border: none !important;
    padding: 0;
}

input[type=button]:active, input[type=submit]:active, button:active, a.button:active {
    position: relative;
    top: 1px;
}

input[type=button]:active, input[type=submit]:active, .button:active, .dt-button:active, .ui-button:active, .ui-state button:not(#cboxPrevious):not(#cboxNext):not(#cboxSlideshow):not(#cboxClose):not([disabled]):active {
    position:relative;
    text-decoration:none;
    border-color:#888888;
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size:14px;
    cursor:pointer;
    white-space:nowrap;
    outline: none;
}

textarea {
    width: 99%;
    height: 400px;
    border: 1px solid #CCC !important;
	background: #ffffff;
	display:inline-block;
	padding: 5px 5px !important;
	font-family: "Roboto", Verdana, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea[disabled] {
    background: #cccccc !important;
    color: #777777 !important;
}

input[disabled] {
    background: #cccccc !important;
    color: #777777 !important;
    margin: 2px;
    padding: 3px;
}

input[type=button][disabled], input[type=button][disabled]:hover, input[type=button][disabled]:active,
input[type=submit][disabled], input[type=submit][disabled]:hover, input[type=submit][disabled]:active,
button[disabled], a.disabledButton, a.disabledButton:hover, a.disabledButton:active {
    background: #cccccc !important;
    color: #777777 !important;
    top:0;
    border:1px solid #CCC !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    font-family: "Roboto", Arial, Verdana, sans-serif !important;
    font-size:14px;
    line-height:15px;
    padding:6px 20px;
    text-decoration:none;
    font-weight: bold !important;
    text-shadow:1px 1px 0px #FFFFFF;
    box-shadow:inset 0 0 1px 0 #f8f8f8;
    white-space:nowrap;
	margin: 0;
	text-align:center;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

select[disabled] {
    background: #cccccc !important;
    color: #777777 !important;
    top:0;
    border:1px solid #CCC !important;
    font-weight: bold !important;
    text-shadow:1px 1px 0px #FFFFFF;
    box-shadow:inset 0 0 1px 0 #f8f8f8;
    white-space:nowrap;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

input.stealth, input.stealth:focus {
    border: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background:transparent;
    margin:0;
    padding:0;
    font-size:1em;
    width:18px;
    min-width:18px;
}

button::-moz-focus-inner{
    border:0; 
    padding:0;
}

input::-moz-focus-inner{
    border:0; 
    padding:0;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #FFFFFF;
    background-image: none;
    color: #333;
}

button.mce-close {
    padding: 0 5px !important;
}

#product-desc h2 {
	text-indent: -700em;
	height: 25px;
	line-height: 2px;
	font-size: 2px;
}

#product-desc p {
	padding-left: 170px;
}

#product-desc ul,#key-desc {
	padding-left: 190px;
	margin-bottom: 0;
}

#product-side,#key-side {
	margin-left: 65%;
}

#product-side ul,#key-side ul {
	margin-left: 0;
	padding-bottom: 0;
	padding-left: 20px;
}

#product-side li,#key-side {
	padding-bottom: 0.2em;
}

#product-desc,#key-desc {
	padding: 40px 0 25px 0;
	color: #4C5C5C;
	width: 60%;
	float: left;
	line-height: 140%;
}

#key-desc {
	padding: 0;
}

#key-side {
	color: #4C5C5C;
}

.product-firefox {
	background: url("../../images/product-firefox-screen.png") no-repeat;
}

.product-thunderbird {
	background: url("../../images/product-thunderbird-screen.png") no-repeat
		;
}

.product-camino {
	background: url("../../images/product-camino-screen.png") no-repeat;
}

.product-mozilla {
	background: url("../../images/product-mozilla-screen.png") no-repeat;
}

#product-side .download h3 {
	color: #1D9101;
	font-weight: bold;
	margin: 0;
	font-size: 140%;
}

.download h3 :link,.download h3 :visited,.download h3 :link :active,.download h3 :visited
	:active {
	color: #1D9101;
}

.download h3 :link :hover,.download h3 :visited :hover {
	color: #156B01;
}

.download li {
	padding: 0;
	margin: 0;
}

.download ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.other a:link,.other a:visited {
	color: #666;
}

.download .other a:hover {
	color: #000;
}

.download:before {
	line-height: 0.1;
	font-size: 1px;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/download_tl.gif");
}

.download {
	background: #C4EFA1 url("../../images/download_back.gif") top right
		no-repeat;
	padding: 15px 45px 15px 15px;
	margin-bottom: 0.5em;
}

.download:after {
	display: block;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content: url("../../images/download_bl.gif");
	margin: -10px -45px -15px -15px;
	height: 8px;
	background: transparent url("../../images/download_br.gif") scroll
		no-repeat bottom right;
}

.configParent {
	display: block;
	font-size: 85%;
}

.shop:before,.shopmoz:before {
	line-height: 0.1;
	font-size: 1px;
	margin: -15px -15px 0 -15px;
	height: 15px;
	display: block;
	border: none;
	content: url("../../images/shop_tl.gif");
}

.shop {
	background: #C0DCDC url("../../images/shop_back.gif") top right
		no-repeat;
	padding: 15px 70px 15px 15px;
}

.shopmoz {
	background: #C0DCDC url("../../images/shopmoz_back.gif") top right
		no-repeat;
	padding: 15px 70px 15px 15px;
}

.shop:after,.shopmoz:after {
	display: block;
	padding-top: 15px;
	line-height: 0.1;
	font-size: 1px;
	content: url("../../images/shop_bl.gif");
	margin: -10px -70px -15px -15px;
	height: 8px;
	background: transparent url("../../images/shop_br.gif") scroll no-repeat
		bottom right;
}

/* Firefox Central styles  */
#ffcentral-desc {
	background: url("../../products/firefox/t-welcomefirefox.gif") no-repeat
		;
	width: 60%;
	float: left;
	line-height: 140%;
}

#ffcentral-desc div {
	padding: 40px 0 0 100px;
}

#ffcentral h3,#ffcentral h2,#ffcentral p,#ffcentral ul {
	margin-top: 0;
	color: #4C5C5C;
}

/*JQUERY TABS CUSTOM STYLING*/
.ui-widget{font-size:1em;}
.ui-widget-content{border:none;}
.ui-widget-header{
	background: none;
	border: none;
	border-bottom: 1px solid #d3d3d3;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #EEE; /* for non-css3 browsers */
}

.ui-dialog {
    -moz-box-shadow:    0 0 10px -1px #000;
    -webkit-box-shadow: 0 0 10px -1px #000;
    box-shadow:         0 0 10px -1px #000;
    border: 1px solid #888 !important;
}

.ui-datepicker-calendar a.ui-state-default {
    background: #cccccc !important;
}

.ui-datepicker-header {
    background: #999; /* for non-css3 browsers */
}

.ui-tabs .ui-tabs-nav li a {
	color: #555555;
	font-weight: bold;				
}

.ui-tabs .ui-tabs-nav li{
	margin: 0 2px 0 2px;
}

.ui-tabs .ui-tabs-nav li:hover{
	border-color: #d3d3d3;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin: 0 2px 0 2px;
	padding-bottom: 1px;
	background: #FFFFFF; /* for non-css3 browsers */
	border-color: #CCCCCC;
}

div#person .ui-tabs-panel {
	overflow: auto;
}

.ui-menu {
    border: 1px solid #888888;
}

.ui-autocomplete {
    padding-right:2px !important;
}

.ui-progressbar .ui-progressbar-value {
    border: 1px solid #CCC;
    height: 22px; 
    color: #222222; 
    font-weight: bold;
    padding-top:1px;
    color: #FFFFFF;
    text-shadow: #000000 1px 1px 2px; 
}

.ui-progressbar {
    border: 1px solid #555;
    height: 22px;
    background: #eee;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#eee'); /* for IE */
	background: -ms-linear-gradient(top, #ddd 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ddd,  #eee); /* for firefox 3.6+ */ 
	background: -o-linear-gradient(top, #ddd, #eee); 
}

.ui-accordion-header > a {
    color: #000000 !important;
    text-shadow: #FFFFFF 1px 1px 0;
    padding: 0 .5em 0 1em !important;
}

.ui-slider {
    background: #CCC;
}

.tick {
    border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
    position: absolute;
    width: 1.2em;
    margin-left: -.6em;
    text-align:center;
    left: 0;
    font-size: smaller;
}

.steps {
    border: 1px solid transparent; /*follows #slider2 style for sizing purposes */
    width: 100%;
    position: relative;
    height: 30px;
}

.toggleHeader, .ui-accordion-header {
    background-color: #EEEEEE !important;
    background-image: url('../black_gradient.png') !important;
	border: 1px solid #CCC !important;
	color: #000000;
    text-shadow: #FFFFFF 1px 1px 0;
	padding: 4px !important;
    padding-left:10px !important;
    padding-right:10px !important;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    margin-bottom:5px !important;
    cursor: pointer;
    
    position: relative;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggleHeader:hover, .ui-accordion-header:hover {
    background-image: url('../black_gradient_darker.png') !important;
}

ul.ui-autocomplete {
    background: #FFFFFF !important;
    border: 1px solid #CCC !important;
    padding: 5px 0 5px 0 !important;

    border-radius: 0 !important;
    
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0, 0.25) !important;
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0, 0.25) !important;
    box-shadow: 3px 3px 4px rgba(0,0,0, 0.25) !important;
}

.ui-datepicker-trigger {
    margin-left: 2px;
}

li.ui-menu-item {
    background: #FFF;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

li.ui-menu-item > a {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #555 !important;
    border: none !important;
    line-height:27px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin:0 !important;
    white-space:nowrap;
}

li.ui-menu-item:hover > a, li.ui-menu-item > a#ui-active-menuitem, li.ui-menu-item > a.ui-state-focus {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #FFF !important;
    border: none !important;
    background-image: none !important;
    line-height:27px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-dialog {
    padding: 2px;
}

.ui-dialog-buttonset {
    position: relative;
    width: 100%;
    text-align: right;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0.3em 1em 0.5em;
}

/*.ui-state-focus {
    font-weight: bold !important;
    font-size: 12px !important;
    color: #FFF !important;
    border: none !important;
    background: #96789F !important;
    background-image: none !important;
    line-height:27px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}*/

h1.custom-title{
    border: none;
}

ins {
    background: #AAFFAA;
    display: inline-block;
    text-decoration: none;
    vertical-align:top;
}

del {
    background: #FFAAAA;
    display: inline-block;
    text-decoration: none;
    vertical-align:top;
}

.pdfOnly {
    display: none;
}

.label {
    text-align:right;
    font-size: 1.0em;
    font-weight: bold;
    vertical-align: top;
    white-space:nowrap;
    position: relative;
    padding-right: 8px;
}

.value {
    text-align: left;
    vertical-align: top;
}

.value::before {
    content: " ";
    line-height: 25px;
    vertical-align: bottom;
}

.label {
    line-height: 29px;
}

.label::after {
    content:"";
    margin-left: 3px;
    position: absolute;
    top: 0;
}

.value p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.required {
    position: relative;
}

.required::after {
    content:" *";
    width: 7px !important;
    margin-left: 1px !important;
    color: red !important;
    display: inline-block !important;
    position: absolute !important;
    top: 0 !important;
}

.left-align {
    text-align: left !important;
}

.center-align {
    text-align: center !important;
}

.right-align {
    text-align: right !important;
}

.field {
    vertical-align: top;
}

/* Messages */

a.error_box_close {
	float: right;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 10px;
}

.error, .warning, .success, .info, .purpleInfo {
    background-repeat: no-repeat !important;
    background-position: 5px center !important;
    margin: 10px 0;
    padding:10px 5px 10px 40px;
    position: relative;
}

.inlineError, .inlineWarning, .inlineSuccess, .inlineInfo, .inlineMessage {
    margin: 0 0;
    padding:1px 2px;
}

.error, .inlineError, .error:hover, .inlineError:hover {
    color: #D50013 !important;
    background-color: #FEB8B8 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.error {
    border: 1px solid #D50013;
    background-image:url('error.png');
}

.error a, .error a:visited, .inlineError a, .inlineError a:visited {
    color: #D50013 !important;
    font-weight: bold;
}

.warning, .inlineWarning {
    color: #9C600D !important;
    background-color: #FDEEB2 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.warning {
    border: 1px solid #9C600D;
    background-image:url('warning.png');
}

.warning a, .warning a:visited, .inlineWarning a, .inlineWarning a:visited {
    color: #9C600D !important;
    font-weight: bold;
}

.success, .inlineSuccess {
    color: #51881D !important;
    background-color: #DEF1BE !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.success {
    border: 1px solid #51881D;
    background-image:url('success.png');
}

.success a, .success a:visited, .inlineSuccess a, .inlineSuccess a:visited {
    color: #51881D !important;
    font-weight: bold;
}

.info, .inlineInfo {
    color: #0A5398 !important;
    background-color: #BCE4F7 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.info {
    border: 1px solid #0A5398;
    background-image:url('info.png');
}

.info a, .info a:visited, .inlineInfo a, .inlineInfo a:visited {
    color: #0A5398 !important;
    font-weight: bold;
}

.purpleInfo, .inlinePurpleInfo, .purpleInfo:hover, .inlinePurpleError:hover {
    color: #784288 !important;
    background-color: #e3d1e7 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.purpleInfo {
    border: 1px solid #784288;
    background-image:url('purpleInfo.png');
}

.purpleInfo a, .purpleInfo a:visited, .inlinePurpleInfo a, .inlinePurpleInfo a:visited {
    font-weight: bold;
}

td.budgetError {
    color: #D50013;
    background: #FEB8B8;
}

.multiBudget {
    overflow-x: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

#infinity {
    vertical-align: middle;
}

/* jQuery dialogs */
.ui-dialog{
    border: 1px solid #ccc;
}

.ui-dialog-buttonpane {
    border-top: 1px solid #CCC;
}

.ui-dialog .ui-dialog-titlebar {
	color: #FFFFFF;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    width: 100%;
    text-align: right;
}

.ui-dialog-buttonset button {
    margin: 0 2px !important;
}

/* jQuery tablesort plugin CSS */

th.tablesorter-header { 
	background-color: #F2F2F2; 
	background-image: url(../common/images/sort_none.gif); 
	background-repeat: no-repeat; 
	background-position: 97% 50%; 
	border-collapse: collapse; 
	cursor: pointer; 
	font-size: 12px; 
	padding: 4px 20px 4px 4px; 
}

th.tablesorter-headerSortUp { 
	background-color: #F3EBF5; 
	background-image: url(../common/images/sort_down.gif); 
}

th.tablesorter-headerSortDown { 
	background-color: #F3EBF5; 
	background-image: url(../common/images/sort_up.gif); 
}

th.relationships-header {
	background-position: 97% 32% !important;
}

input.other_option {
	padding: 3px;
	border: none;
	color: #333333;
	background-color: transparent;
	margin: 2px 0 2px -1px;
}
input.other_option:focus {
	padding: 3px;
	border: none !important;
	color: #000000;
	background-color: transparent;
	margin: 2px 0 2px -1px;
}

.smaller {
    font-size: 94%;
}

.smallest {
    font-size: 85%;
}

span.noshow {
    display: none;
}

select span.noshow {
    display: inline-block;
}

/* Backbone Cards */

.small_card {
    width: 311px;
    padding: 3px;
    background: #ffffff;
    color: #555 !important;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none !important;
    white-space: nowrap;
}

.large_card {
    min-height: 132px;
    background: #ffffff;
    color: #555 !important;
    white-space: nowrap;
}

.small_card:hover, .small_card_hover {
    
}

.card_photo {
    display:inline-block;
    vertical-align:middle;
    text-align: left;
}

.small_card .card_photo {
    width: 34px;
}

.large_card .card_photo {
    width: 100px;
}

.large_card .card_photo img {
    border-radius: 5px;
}

.card_description {
    display:inline-block;
    vertical-align:top;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small_card .card_description {
    text-decoration: none !important;
}

.large_card .card_description {
    margin-left:  5px;
    margin-right: 5px;
    line-height: 1.25em;
}

.large_card .card_description h1 {
    line-height: 18px;
    margin-bottom: 3px;
}

.large_card #roles {
    font-size: 85%;
    vertical-align: top;
}

.small_card .card_description * {
    text-decoration: none !important;
}

.small_card .card_description:active, .small_card .card_description:active * {
    color: #FFFFFF;
}

#twitter iframe {
    width: 100% !important;
}

/* Global Search */
#globalSearchInput {
    font-size: 14px !important;
    padding: 6px;
    margin: 0;
    margin-left: 2px;
    width: 250px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border: none;
	height:16px;
	color: #555555;
	font-weight: bold;
	text-overflow: ellipsis;
}

#globalSearchInput:focus {
    border: none !important;
}

#globalSearchThrobber {
	border: none;
	display: inline-block;
	width: 22px;
	height:22px;
	padding: 3px;
	vertical-align: top;
	background: #FFF;
}

#globalSearchButton {
    display: inline-block;
    filter: none;
    background: #fff !important;
    margin: 0;
    border: none;
    font-size: 12px;
    padding: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	width: 20px;
	height: 20px;
	vertical-align:top;
}

#globalSearchResults {
    border: 3px solid #D8D8D8;
    background: #FFFFFF;
    width: 428px;
    z-index: 1000;
    position:relative;
    color: #555;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

#showMoreResults{
    color: #333333 !important;
}

.globalSearchResultsGroup {
    background: #F0F0F0;
    border-right: 1px solid #D8D8D8;
    text-align: right;
    width: 100px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    text-align: right;
    position: relative;
}

.globalSearchResultsRows {
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding:0;
    overflow:hidden;
}

.globalSearchResultsMoreRows {
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding:0;
    overflow:hidden;
    display: none;
}

.showMore {
    text-align: center;
    width: 100%;
    padding: 1px;
    display: none;
}

.showMore > #showMoreResults {
    cursor: pointer;
}

.projectIcon, .productIcon, .bibliographyIcon, .eventIcon, .wikiIcon, .pdfIcon, .storyIcon, .threadIcon {
    width: 15px;
    height:15px;
    display: inline-block;
}

.projectIcon {
    background: url('../project.gif');
}

.productIcon {
    background: url('../product.gif');
}

.bibliographyIcon {
    background: url('../bibliography.gif');
}

.eventIcon {
    background: url('../event.gif');
}

.wikiIcon {
    background: url('../wiki.gif');
}

.pdfIcon {
    background: url('../pdf.gif');
}

.threadIcon {
    background: url('../thread.png');
}

.storyIcon {
    background: url('../story.png');
}

.throbber {
    width: 20px;
    height:20px;
    background: url('../Throbber.gif');
    display: inline-block;
    vertical-align: middle;
}

/* MailingList */

.thread-message {
    padding: 10px;
    margin-bottom: 10px;
    background: #EEEEEE;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow:    2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow:         2px 2px 2px #ccc;
}

.inner-message {
    border-top: 1px solid #CCC;
    padding: 10px;
}

.thread-message img.photo {
    height: 66px;
}

.thread-message p {
    margin: 0;
}

.inner-message blockquote {
    color: #555555;
    font-style: normal;
    font-size: 1.0em;
    font-family: "Roboto", 'Verdana', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding-left: 15px;
    border-left: 3px solid #CCC;
}

/*qtip*/
.qtip-light .qtip-content {
    -moz-box-shadow: 0 0 3px #E0E0E0;
    -webkit-box-shadow: 0 0 3px #E0E0E0;
    box-shadow: 0 0 3px #E0E0E0;
    font-weight: bold;
}

.qtip-light .qtip-content a {
    color: #454545;
    text-decoration: none;
    display: block;
    padding: 2px 0 2px 0;
}

/* Baqckbone popup */
.checkboxCell {
    white-space: nowrap;
    padding: 0 !important;
    text-align: left;
    height: 100%;
    position: relative;
}

div.checkboxOuter {
    position: absolute;
    top: -1px;
    right: 0;
    left: -1px;
    bottom: 0;
    white-space: nowrap;
    height: 100%;
    line-height: 23px;
}

div.otherSubProjects {
    margin-left: 20px;
}

.checkboxCell > input[type=checkbox], .checkboxCell > input[type=checkbox][disabled] {
    width: 50%;
    margin-left: 1px;
    margin-right: 0;
}

.checkboxOuter > input[type=checkbox], .checkboxOuter > input[type=checkbox][disabled] {
    width: 50%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

div.showSubprojects, div.showOther {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #555555;
    width: 50%;
    height: 100%;
}

div.showSubprojects:hover, div.showOther:hover {
    color: #222222;
}

div.popupBox {
    min-width: 200px;
    display: block;
    position: absolute;
    top: -1px;
    left: 100%;
    margin-bottom: 3px;
    border: 1px solid #CCC;
    border-bottom: none;
    background: #FFFFFF;
    z-index: 10000;
    white-space: nowrap;
    box-shadow: 0 0 5px #AAAAAA !important;
    font-weight: bold;
}

div.popupHeader {
    padding: 3px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #CCC;
    text-align: center;
}

div.popupBlock {
    padding: 3px;
    padding-right: 18px;
    max-height: 158px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #CCC;
}

input.popupBlockSearch {
    width: 100%;
    margin: 0 3px 2px 3px;
}

/* Dashboard */

table.dashboard, table.dashboard tr, table.dashboard tr td, table.dashboard tr th {
    border-color: #CCCCCC;
    color: #555555;
}

table.milestones, table.milestones tr, table.milestones tr td, table.milestones tr th {
    border-color: #555555;
    color: #555555;
}

/* TinyMCE */

.mce-notification-error {
    display: none;
}

/* Programs (Reporting) */
.program-body {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.program-header {
    background: #005f9d;
    color: white;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    height: 1em;
    border-radius: 1em 0 1em 0;
    padding: 1em;
    white-space: nowrap;
}

.program-box, .program-button {
    background: #005f9d;
    color: white;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    display: inline-block;
    font-weight: bold;
    margin: 0.25em 0;
}

.program-button {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.program-button:hover {
    background: #397cbd;
    cursor: pointer;
}

.program-text {
    color: #005f9d;
    font-weight: bold;
    padding: 1em;
}
