/* This file is for IE7 and earlier fixes */

.displayTable > table {
    width: 100%;
    padding:0;
    border-spacing:0;
    border-collapse:collapse;
}

.displayTableRow {
    
}

.displayTableCell {
    float: left;
    width: auto !important;
}

#sideToggle {
    left: 0;
    top:193px;
    width:100px;
    height:20px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#fullScreenRow {
    display:none;
}

#instructionsToggle {
    position: absolute;
    right: 220px;
    cursor: normal;
}

#mBody {
    position:relative;
}

#bodyContent {
    position: relative;
    float: none !important;
}

#reportMain {
    float: none !important;
    margin-right: 228px;
}

#reportInstructions {
    float: none !important;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
}

#reportInstructions > div {
    padding-left:10px;
    width: 220px;
    max-width: 220px;
    overflow-x: hidden;
    max-height:590px;
}

.reportTab {
    position: static !important;
}

.reportTab > span {
    margin-top: -27px;
    margin-right: 5px;
}

.reportTab > img {
    display:none;
}

#reportProgress {
    position: absolute;
    right: 15px;
    top:16px;
}
