/* mozilla.org Cavendish Template Styles
 * Initial Design by Daniel Burka and Steven Garrity
*/

/* Basic Structure */


/* Header */

	
	
	#ignored {}

body.page-Main_Page h1.firstHeading { display:none; }
	
	#topheader {
	    position: absolute;
	    top:0;
	    left:0;
	    right:0;
	    height: 35px;
	    padding: 5px 25px 5px 25px;
	    z-index: 1001;
	    color: #333333;
	    font-size: 12px;
	}
	
	#topheader .smallLogo {
	    float: left;
	    height: 100%;
	}
	
	#topheader .smallLogo img {
	    height: 100%;
	}
	
	#topheader .search {
	    position:absolute;
	    left: 200px;
	    top: 0px;
	    text-shadow: none;
	    font-weight: normal;
	}
	
    #topheader .settings {
        padding-top: 5px;
        padding-right: 10px;
        position: absolute;
        right: 138px;
        left: 524px;
        top: 0px;
        height: 84%;
        background: #99D6F2;
        text-align: right;
    }

    #topheader .settings a {
        line-height: 35px;
        height: 35px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        margin-top:-1px;
        text-align: center;
        color: #234b6d;
    }
    
    #topheader .settings a:hover {
        color: #333333;
    }

    #topheader .settings img.photo {
        height: 100%;
        vertical-align:top;
    }

    #topheader .login {
        position: absolute;
        right: 4px;
        padding-right: 10px;
        padding-top: 5px;
        top: 0px;
        height: 84%;
        background: #99D6F2;
        border-bottom-right-radius: 10px;
    }
        	
	#topheader .login a {
	    line-height: 35px;
	    height: 35px;
        display: inline-block;
	    padding-left: 10px;
	    padding-right: 0;
	    margin-top: -1px;
        text-align: center;
        color: #234b6d;
	}
	
	#topheader .login a:hover {
	    color: #333333;
	}
	
	#topheader .login img.photo {
	    height: 100%;
	    vertical-align:top;
	    border-radius: 3px;
	}
	
	#topheader a {
	    color: #333333;
	    text-decoration: none;
	}
	
	/* MAIN MENU */
	#outerHeader {
	    position: absolute;
	    left: 200px;
	    right: 0;
	    overflow-x: hidden;
	    height: 100%;
	    background:#ffffff;
	}
	
	#outerHeader.menu-in {
	    left: 4px;
	}
	
	#header {
		background: #FFFFFF;
		position: relative;
		margin-top: 46px;
		height: 40px;
		padding: 0;
		padding: 5px 30px 0 0;
		border-width: 0 0 0px 0px;
		border-style: solid;
		border-color: #E0E0E0;
	    overflow:hidden;
	    z-index: 999;
	} 
	
	#header h6 {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		font-size: 2px;
		height: 8px;
		z-index: 100; /* above the UL */
	}

	#header ul a {
	    height: 45px;
		display: block;
		font-weight: normal;
		color: #3C6584;
		text-decoration: none;
		line-height:46px;
		padding: 0 7px 0 7px;
	}
	
	#header ul a:hover {
	    font-weight:normal;
	}
	
	#header li a {
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    height: 42px;
	}
	
	#header li.selected a, #header li a:hover {
	    font-weight:normal;
	    background: #99D6F2;
	}

	.highlights-tab {
        text-align:center;
        background:transparent;
	}
	

	.highlights-tab a:hover *{
	}
	
	/* SUB MENU */

	#submenu ul a {
		display: block;
		padding: 0 5px 0 5px;
		font-weight: normal;
		text-decoration: none;
		line-height:25px;
		height: 25px;
		white-space: nowrap;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
	}
	
	#submenu .highlights-tab {
	    color:#30AEE2;
	}
	
	#submenu ul a:hover * {
	    text-decoration: none;
	}
	
	#submenu ul a:hover {
	    background: #327B7A;
	    
	}
	
	#submenu ul li.selected a {
	    background:#327b7a;
	    color:#FFFFFF;
	    opacity:0.94;
	}
	
	#submenu ul.dropdown div.actions a {
	    border: none;
	}
	
	body.sectionAbout li#menu_aboutus a,
	body.sectionProducts li#menu_products a,
	body.sectionSupport li#menu_support a,
	body.sectionDevelopers li#menu_developers a,
	body.sectionStore li#menu_store a {
		background-position: 0% -200px;
		color: #039;
	}
	
	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionSupport li#menu_support,
	body.sectionDevelopers li#menu_developers,
	body.sectionStore li#menu_store {
		background-position: 100% -200px;
		border-bottom: 1px solid #fff;
	}
	
	body.sectionAbout li#menu_aboutus:hover,
	body.sectionProducts li#menu_products:hover,
	body.sectionSupport li#menu_support:hover,
	body.sectionDevelopers li#menu_developers:hover,
	body.sectionStore li#menu_store:hover {
		background-position: 100% 0%;
	}
	
	body.sectionAbout li#menu_aboutus:hover a,
	body.sectionProducts li#menu_products:hover a,
	body.sectionSupport li#menu_support:hover a,
	body.sectionDevelopers li#menu_developers:hover a,
	body.sectionStore li#menu_store:hover a {
		background-position: 0% 0%;
		color: #333;
	}
	
/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 20px 0 0;
		margin: 0; /* need for IE Mac */
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
	#header form label { color: #fff; font-size: 85%; }
	#header form input { font-size: 85%; }
	
	#header form #submit {
		font-size: 85%;
		background: #6A7389;
		color: #fff;
		padding: 1px 4px;
		border-right: 1px solid #283043;
		border-bottom: 1px solid #283043;
		border-top: 1px solid #9097A2;
		border-left: 1px solid #9097A2;
	}
	
	#header form #loggedin{
		color: #FFF;
		padding: 7px;
	}
/* Sidebar */
/*
	#nav:before {
		line-height: 0.1;
		font-size: 1px;
		background: transparent url("menu_tr.gif") no-repeat top right;
		margin: 0;
		height: 9px;
		display: block;
		border-bottom: 1px solid #ddd;
		content: url("key-point_tl.gif");
	}
	#nav {
		background: #eadded url("menu_back.gif") right repeat-y;
	}
	#nav:after {
		display: block;
		padding-top: 0;
		line-height: 0.1;
		font-size: 1px;
		content:  url("key-point_bl.gif");
		margin: 0 0 0 0;
		height: 8px;
		background: transparent url("menu_br.gif") scroll no-repeat bottom right ;
		border-top: 1px solid #fff;
	}
	*/
	
	#nav, #nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	
	
	#nav ul {
	    padding-bottom: 5px;
	    margin-bottom: 4px;
	    margin-top: -1px;
	}
	
	#nav {
		padding-bottom: 1em;
		background: #FFFFFF;
	}	
	#nav li {
		display: inline;
		padding: 0;
		margin: 0;
	}
	
	#nav li span { /* used for un-linked menu items */
		display: block;
		padding: 10px;
		font-weight: bold;
	}
	
	.pBodyLogin > ul, #nav li span {
	    margin-left: 4px !important;
		margin-right:4px !important;
	}

	#nav li span#configParent, #nav li span #configuration {
		display: inline;
		font-weight: normal;
		padding: 0;
	}
	
	#nav li a {
		display: block;
		padding: 8px 10px;
		text-decoration: none;
		color: #3C6576;
		font-weight: normal;
	}
	#nav li a[href^="http://"] {
	}

    #nav li > a:hover {
        color: white;
    }
	
	#nav li li span { /* used for un-linked menu items */
		padding: 4px 8px 4px 20px;
	}
	
	#nav li li a {
		padding: 5px 8px 5px 20px;
		margin-bottom:6px;
	}
	
	#oN {
		background-color: #E0E9E9;
	}
	#oN:hover {
		background-color: #C6DCDC;
	}
	#nav  li ul #feedlinks {
		display: block;
		padding: 8px 20px;
		text-decoration: none;
		background: #EDF2F2;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		border-right: 1px solid #ddd;
	}
	#nav  li ul #feedlinks #feed-rss {
		display: inline;
		padding: 8px 20px;
		background: #EDF2F2;
		border: none;
		padding: 0px;
	}
	#nav  li ul #feedlinks  #feed-atom {
		display: inline;
		text-decoration: none;
		background: #EDF2F2;
		border: none;
		padding: 0px;
	}
	
	#nav .pBody0 {
		border: none;
		background: #BDE8FA;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right:4px;
        margin-left:4px;
	}

	#nav .pBody1{
        border: none;
        background: #99D6F2;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-left: 4px;
        margin-right: 4px;
	}

    #nav .pBodyLogin {
            border: none;
            background: #FFFFFF;
            border-radius: 10px;

    }

    #nav .pBodyTitle0 {
            border: none;
            color: #426C7E;
            background: #BDE8FA;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            font-size: larger;
    }

    #nav .pBodyTitle1 {
            border: none;
	        color: #426C7E;
            background: #99D6F2;
            border-top-right-radius: 10px;
	        border-top-left-radius: 10px;
	        font-size: larger;
    }
    
    #nav #userloginForm {
        margin: 5px;
    }
    
    #nav #userloginForm a {
        font-weight: bold;
        padding: 0;
    }

    #nav input.loginText{
        border: none !important;
        background:#AADDD1;
        -webkit-box-shadow: 0 0 0px 1000px #AADDD1 inset;
        width: 160px !important;
    }

    #nav input.loginPassword{
        border: none !important;
        background:#A2D29C;
        -webkit-box-shadow: 0 0 0px 1000px #A2D29C inset;
        width: 160px !important;
    }

    #nav .mw-input-string{
        background:#FFFFFF;
    }

/* Footer */

	#footer {
	    left: 0;
	    right: 0;
	    position: absolute;
		margin: 2em 0;
		padding: 1em 0;
		text-align: center;
		margin-bottom: 0;
	}
	
	#footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#footer li {
/*		display: inline; */
	}
	
	#footer a {
		white-space: nowrap;
	}
	
	#footer p,#footer p a {
		color: #666;
	}
	
	#footer p a:hover {
		color: #000;
	}

	#footer p span {
		padding-right: 1em;
	}
