/* mozilla.org Cavendish Template Styles
 * Initial Design by Daniel Burka and Steven Garrity
*/

/* Basic Structure */


/* Header */

	
	
	#ignored {}
	
	#topheader {
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f8f8f8), color-stop(1, #F0F0F0) ) !important;
        background:-moz-linear-gradient( center top, #f8f8f8 5%, #F0F0F0 100% ) !important;
        background: -o-linear-gradient(top, #f8f8f8, #F0F0F0) !important;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#F0F0F0');
        background: -ms-linear-gradient(top, #f8f8f8 0%, #F0F0F0 100%);
        background-color:#f8f8f8 !important;
	    position: absolute;
	    top:0;
	    left:0;
	    right:0;
	    height: 25px;
	    padding: 5px 20px 5px 20px;
	    z-index: 1000;
	    border-bottom: 1px solid #E0E0E0;
	    color: #333333;
	    text-shadow: 1px 1px 0 #FFFFFF;
	    font-size: 12px;
	    font-weight: bold;
	}
	
	#topheader .smallLogo {
	    float: left;
	}
	
	#topheader .search {
	    position:absolute;
	    left: 0;
	}
	
	#topheader .login {
	    float: right;
	    height: 100%;
	}
	
	#topheader .login img.photo {
	    height: 100%;
	}
	
	#topheader a {
	    color: #333333;
	    text-decoration: none;
	}
	
	#topheader a:hover {
	    color: #8C529D;
	}
	
	/* MAIN MENU */
	#header {
		background: #8C529D;
		position: relative;
		min-height: 39px;
		margin-top: 50px;
		height: 95px;
		padding: 0;
		padding: 10px 0;
		-moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    overflow:hidden;
	} 
	
	#header h6 {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		font-size: 2px;
		height: 8px;
		z-index: 100; /* above the UL */
	}

	#header ul a {
		display: block;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		line-height:25px;
	}
	
	#header li.selected a {
		color:#8C529D;
	}
	
	/* SUB MENU */

	#submenu ul a {
		display: block;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		line-height:25px;
		white-space: nowrap;
	}
	
	#submenu li.selected a {
		color:#8C529D;
	}
	
	body.sectionAbout li#menu_aboutus a,
	body.sectionProducts li#menu_products a,
	body.sectionSupport li#menu_support a,
	body.sectionDevelopers li#menu_developers a,
	body.sectionStore li#menu_store a {
		background-position: 0% -200px;
		color: #039;
	}
	
	body.sectionAbout li#menu_aboutus,
	body.sectionProducts li#menu_products,
	body.sectionSupport li#menu_support,
	body.sectionDevelopers li#menu_developers,
	body.sectionStore li#menu_store {
		background-position: 100% -200px;
		border-bottom: 1px solid #fff;
	}
	
	body.sectionAbout li#menu_aboutus:hover,
	body.sectionProducts li#menu_products:hover,
	body.sectionSupport li#menu_support:hover,
	body.sectionDevelopers li#menu_developers:hover,
	body.sectionStore li#menu_store:hover {
		background-position: 100% 0%;
	}
	
	body.sectionAbout li#menu_aboutus:hover a,
	body.sectionProducts li#menu_products:hover a,
	body.sectionSupport li#menu_support:hover a,
	body.sectionDevelopers li#menu_developers:hover a,
	body.sectionStore li#menu_store:hover a {
		background-position: 0% 0%;
		color: #333;
	}
	
/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 20px 0 0;
		margin: 0; /* need for IE Mac */
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
	#header form label { color: #fff; font-size: 85%; }
	#header form input { font-size: 85%; }
	
	#header form #submit {
		font-size: 85%;
		background: #6A7389;
		color: #fff;
		padding: 1px 4px;
		border-right: 1px solid #283043;
		border-bottom: 1px solid #283043;
		border-top: 1px solid #9097A2;
		border-left: 1px solid #9097A2;
	}
	
	#header form #loggedin{
		color: #FFF;
		padding: 7px;
	}
/* Sidebar */

	#nav:before {
		line-height: 0.1;
		font-size: 1px;
		background: transparent url("menu_tr.gif") no-repeat top right;
		margin: 0;
		height: 9px;
		display: block;
		border-bottom: 1px solid #ddd;
		content: url("key-point_tl.gif");
	}
	#nav {
		background: #eadded url("menu_back.gif") right repeat-y;
	}
	#nav:after {
		display: block;
		padding-top: 0;
		line-height: 0.1;
		font-size: 1px;
		content:  url("key-point_bl.gif");
		margin: 0 0 0 0;
		height: 8px;
		background: transparent url("menu_br.gif") scroll no-repeat bottom right ;
		border-top: 1px solid #fff;
	}
	
	#nav, #nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#nav {
		margin-bottom: 1em;
	}	
	#nav li {
		display: inline;
		padding: 0;
		margin: 0;
	}
	
	#nav li span { /* used for un-linked menu items */
		display: block;
		padding: 6px 10px;
		font-weight: bold;
		color: #666;
	}

	#nav li span#configParent, #nav li span #configuration {
		display: inline;
		font-weight: normal;
		padding: 0;
	}
	
	#nav li a {
		display: block;
		padding: 8px 10px;
		text-decoration: none;
		background: #f3ebf5;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		border-right: 1px solid #ddd;
	}
	#nav li a[href^="http://"] {
		background: #f3ebf5 none repeat scroll 0 0;
	}

	#nav li a:hover {
		background: #eadded;
	}
	
	#nav li li span { /* used for un-linked menu items */
		padding: 4px 8px 4px 20px;
	}
	
	#nav li li a {
		padding: 6px 8px 6px 20px;
	}
	
	#oN {
		background-color: #E0E9E9;
	}
	#oN:hover {
		background-color: #C6DCDC;
	}
	#nav  li ul #feedlinks {
		display: block;
		padding: 8px 20px;
		text-decoration: none;
		background: #EDF2F2;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		border-right: 1px solid #ddd;
	}
	#nav  li ul #feedlinks #feed-rss {
		display: inline;
		padding: 8px 20px;
		background: #EDF2F2;
		border: none;
		padding: 0px;
	}
	#nav  li ul #feedlinks  #feed-atom {
		display: inline;
		text-decoration: none;
		background: #EDF2F2;
		border: none;
		padding: 0px;
	}
	
	#nav .pBody {
		border: none;
	}

/* Footer */

	#footer {
		border-top: 1px solid #999;
		margin: 2em 0;
		padding: 1em 0;
		text-align: center;
	}
	
	#footer ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	#footer li {
/*		display: inline; */
	}
	
	#footer a {
		white-space: nowrap;
	}
	
	#footer p,#footer p a {
		color: #666;
	}
	
	#footer p a:hover {
		color: #000;
	}

	#footer p span {
		padding-right: 1em;
	}
