/* Any custom styles should go here */

tbody#productRows td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

#editDialog {
    
}

#editDialog #authors,
#editDialog #description,
#editDialog #projects,
#editDialog #visibility,
#editDialog #category,
#editDialog #date,
#editDialog #tags,
#projectsWarning {
    display: none !important;
}

#editDialog #productData {
    width: auto;
}

#availableTagsDiv {
    position: absolute;
    width: 220px;
    background: #F7F7F7;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
}

