<% if(isAllowedToCreateJobPostings){ %>
    <a href="#/new" class="button" id="add">Create a Job Ad</a><br /><br />
<% } %>
<table id="jobpostings" frame="box" rules="all">
    <thead>
        <tr>
            <th width="25%">Deadline/Review</th>
            <th width="25%">Location</th>
            <th width="49%">Posting</th>
            <% if(isAllowedToCreateJobPostings){ %>
                <th width="1%">Delete?</th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(job){ %>
            <tr>
                <td>
                    <span style="display:none;"><%= job.get('deadlineDate') %></span>
                    <%= dateTimeHelpers.formatDate(job.get('deadlineDate')) %><br />
                    (Posted: <%= dateTimeHelpers.formatDate(job.get('created')) %> by <a href="<%= job.get('user').url %>"><%= job.get('user').fullName %></a>)
                </td>
                <td>
                    <% if(job.get('projectId') != 0 && this.allProjects.get(job.get('projectId')).get('contact').city != "" && this.allProjects.get(job.get('projectId')).get('contact').province != ""){ %>
                        <%= this.allProjects.get(job.get('projectId')).get('contact').city %>, <%= this.allProjects.get(job.get('projectId')).get('contact').province %>
                    <% } %>
                </td>
                <td>
                    <a href="<%= job.get('url') %>"><%= job.get('jobTitle') %></a><br />
                    <% if(job.get('projectId') != 0){ %>
                        <%= this.allProjects.get(job.get('projectId')).get('uniname') %>
                    <% } %>
                </td>
                <% if(isAllowedToCreateJobPostings){ %>
                    <td align="center">
                        <% if(job.get('isAllowedToEdit')){ %>
                            <span id="<%= job.get('id') %>" class="delete-icon"></span>
                        <% } %>
                    </td>
                <% } %>
            </tr>
        <% }.bind(this)) %>
    </tbody>
</table>
<div id="editDialog" title="New Job Posting"></div>
