<% if(this.model.isSingleAuthor()){ %>
    <h2><%= this.model.getAuthorsLabel() %></h2>
<% } else { %>
    <h2><%= this.model.getAuthorsLabel().pluralize() %></h2>
<% } %>
<div id="productAuthors">
</div>
<% if(description.trim() != "") { %>
    <h2>Description</h2>
    <%= nl2br(description) %>
<% } %>
<h2>Metadata</h2>
<table id="productData">
    <tr><td align="right"><b>Type:</b></td><td><%= type.replace("Misc: ", "") %></td></tr>
    <% if(this.model.getPossibleStatus().length > 0){ %>
        <tr><td align="right"><b>Status:</b></td><td><%= status %></td></tr>
    <% } %>
    <% if(!_.isEmpty(this.model.getAcceptanceDateLabel()) && acceptance_date != "" && acceptance_date != "0000-00-00"){ %>
        <tr><td align="right"><b><%= this.model.getAcceptanceDateLabel() %>:</b></td><td><%= formatDate(acceptance_date) %></td></tr>
    <% } %>
    <% if(!_.isEmpty(this.model.getDateLabel()) && date != "" && date != "0000-00-00"){ %>
        <tr><td align="right"><b><%= this.model.getDateLabel() %>:</b></td><td><%= formatDate(date) %></td></tr>
    <% } %>
    <% _.each(this.model.getPossibleFields(), function(val, index){ %>
        <% if(data[index] != "" && data[index] != undefined && !val.hidden){ %>
            <tr>
                <td align="right"><b><%= val.label %>:</b></td>
                <td>
                    <% if(val.type == "String"  || val.type == "Integer" || val.type == "Radio" || val.type == "Pages"){ %>
                        <%= data[index] %>
                    <% } else if(val.type == "URL"){ %>
                        <a href="<%= data[index] %>" target="_blank"><%= data[index] %></a>
                    <% } else if(val.type == "File"){
                        var dataStr = data[index]['data'].split(';base64,')[1]
                        var type = data[index]['data'].split(';base64,')[0].replace(/data:/,'')
                        var byteCharacters = atob(data[index]['data'].split(',')[1]);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        blob = new Blob([byteArray], {type: type});
                        var blobUrl = URL.createObjectURL(blob);
                    %>
                        <a download="<%= data[index]['filename'].replace(/"/, "").replace(/'/, "") %>" href="<%= blobUrl %>" onClick="if(window.navigator.msSaveOrOpenBlob){ window.navigator.msSaveOrOpenBlob(blob, '<%= data[index]['filename'].replace(/"/, "").replace(/'/, "") %>'); }" target="_blank"><%= data[index]['filename'] %></a>
                    <% } else { %>
                        <%= data[index] %>
                    <% } %>
                </td>
            </tr>
        <% } %>
    <% }, this) %>
</table>
<%if(projectsEnabled){%>
    <h2>Related Projects</h2>
    <div id='productProjects'></div>
<%}%>
<% if(parseInt(me.get('id')) > 0) { %>
    <br />
    <button id='editProduct'>Edit <%= category %></button>&nbsp;<button id='deleteProduct'>Delete <%= category %></button>
<% } %>
