<div id="dialogMessages"></div>
<form>
<span class="label" style="display:inline-block;">Title:</span>
<% if(productStructure.categories[category] != undefined &&
      productStructure.categories[category].types[type] != undefined &&
      _.size(productStructure.categories[category].types[type].titles) > 0){ %>
    <%= HTML.Select(this, 'title', {options: productStructure.categories[category].types[type].titles}) %>
<% } else if(productStructure.categories[category] != undefined &&
             _.size(_.first(_.values(productStructure.categories[category].types)).titles) > 0){ %>
    <%= HTML.Select(this, 'title', {options: _.first(_.values(productStructure.categories[category].types)).titles}) %>
<% } else { %>
    <%= HTML.TextBox(this, 'title', {size: '50'}) %>
<% } %>

<% if(this.model.isSingleAuthor()){ %>
    <h2><%= this.model.getAuthorsLabel() %></h2>
    <div id="productAuthors" style="width: 50%;min-width:500px;"></div>
<% } else { %>
    <h2><%= this.model.getAuthorsLabel().pluralize() %></h2>
    <div id="productAuthors"></div>
<% } %>

<% if(productStructure.categories[category] != undefined &&
      productStructure.categories[category].types[type] != undefined){ %>
    <p><%= productStructure.categories[category].types[type].authors_text %></p>
<% } %>
<% if(this.model.hasContributors()){ %>
    <h2><%= this.model.getContributorsLabel().pluralize() %></h2>
    <div id="productContributors"></div>
    <% if(productStructure.categories[category] != undefined &&
      productStructure.categories[category].types[type] != undefined){ %>
        <p><%= productStructure.categories[category].types[type].contributors_text %></p>
    <% } %>
<% } %>
<h2>Metadata</h2>
<div style="display:inline-block; vertical-align:top;width:95%;">
    <table id="productData" width="100%">
        <tr>
            <td class="label" style="width:1%;">Category:</td>
            <td class="field">
                <% var def = (category == "") ? [{option: "Choose a Category...", value: ""}] : []; %>
                <%= HTML.Select(this, 'category', {options: def.concat(_.keys(this.model.getPossibleCategories()))}) %>
            </td>
        </tr>
        <% if(category != ""){ %>
            <tr>
                <td class="label">Type:</td>
                <td class="field">
                    <% var def = (type == "") ? [{option: "Choose a Type...", value: ""}] : []; %>
                    <%= HTML.Select(this, 'type', {options: def.concat(this.model.getPossibleTypes())}) %>
                    <% if(type.split('Misc').length > 1){ %>
                        <%= HTML.MiscAutoComplete(this, 'type', {size: '30', misc: this.model.getPossibleMiscTypes(), prefix: 'Misc'}) %>
                    <% } else if(type.split('Other').length > 1){ %>
                        <%= HTML.MiscAutoComplete(this, 'type', {size: '30', misc: this.model.getPossibleMiscTypes(), prefix: 'Other'}) %>
                    <% } %><br />
                    <% if(productStructure.categories[category] != undefined &&
      productStructure.categories[category].types[type] != undefined){ %>
                        <small><%= productStructure.categories[category].types[type].description %></small>
                    <% } %>
                </td>
            </tr>
        <% } %>
        <tr style="display:none;">
            <td class="label">Visibility:</td>
            <td class="field" colspan="2">
                <%= HTML.Select(this, 'access', {options: ['Public','Forum']}) %>
                <div style="display:inline-block;">
                    <ul style="margin-top:0;margin-bottom:0;font-size:smaller;">
                        <li style="margin-top:0;margin-bottom:0;"><b>Public:</b> Everyone including guests to the <%= siteName %> will be able to view this product.</li>
                        <li style="margin-top:0;margin-bottom:0;"><b>Forum:</b> Only Forum members will be able to view this product.</li>
                    </ul>
                </div>
            </td>
        </tr>
        <% if(this.model.getPossibleStatus().length > 0){ %>
            <tr>
                <td class="label">Status:</td>
                <td class="field"><%= HTML.Select(this, 'status', {options: this.model.getPossibleStatus()}) %></td>
            </tr>
        <% } %>
        <tr>
            <% if(!_.isEmpty(this.model.getAcceptanceDateLabel())){ %>
                <td class="label"><%= this.model.getAcceptanceDateLabel() %>:</td>
                <td class="field"><%= HTML.DatePicker(this, 'acceptance_date', {format: 'yy-mm-dd', id: 'acceptance_date'}) %></td>
            <% } else { %>
                <td colspan="2"></td>
            <% } %>
        </tr>
        <tr>
            <% if(!_.isEmpty(this.model.getDateLabel())){ %>
                <td class="label"><%= this.model.getDateLabel() %>:</td>
                <td class="field"><%= HTML.DatePicker(this, 'date', {format: 'yy-mm-dd', id: 'date'}) %> <span id="infinity" class="highlights-text" title="Continuing">&#8734;</span></td>
            <% } else { %>
                <td colspan="2"></td>
            <% } %>
        </tr>
        <% _.each(this.model.getPossibleFields(), function(val, index){ %>
            <% if(!val.hidden){ %>
                <tr id="<%= index %>">
                    <td style="width:1%;white-space:nowrap;" class="label"><%= val.label %>:
                        <% if(val.type == "File"){ %>
                            <small style="display:block;line-height:6px;">(Max 5MB)</small>
                        <% } %>
                    </td>
                    <td class="field">
                        <% if(val.label == "Journal"){ %>
                            <%= HTML.TextBox(this, 'data.' + index, {style: "width:260px;"}) %>
                        <% } else if(val.type == "String"){ %>
                            <%= HTML.TextBox(this, 'data.' + index, {style: "width:200px;"}) %>
                        <% } else if(val.type == "Integer"){ %>
                            <%= HTML.TextBox(this, 'data.' + index, {style: "width:50px;"}) %>
                        <% } else if(val.type == "Date"){ %>
                            <%= HTML.DatePicker(this, 'data.' + index, {style: "width:75px;", format: "yy-mm-dd"}) %>
                        <% } else if(val.type == "Pages"){ %>
                            <%= HTML.Pages(this, 'data.' + index, {style: "width:87px;"}) %>
                        <% } else if(val.type == "Radio"){ %>
                            <%= HTML.Radio(this, 'data.' + index, {size: 30, options: val.options}) %>
                        <% } else if(val.type == "CheckBox"){ %>
                            <%= HTML.CheckBox(this, 'data.' + index, {value: 1, default: 0}) %>
                        <% } else if(val.type == "Select"){ %>
                            <%= HTML.Select(this, 'data.' + index, {options: val.options}) %>
                        <% } else if(val.type == "File"){ %>
                            <%= HTML.File(this, 'data.' + index, {size: 30, options: val.options}) %>
                        <% } else { %>
                            <%= HTML.TextBox(this, 'data.' + index, {style: "width:200px;"}) %>
                        <% } %>
                    </td>
                </tr>
                <!-- Add some specific warnings -->
                <% if(type == "Conference Paper" && (index == "event_title" || index == "event_location")){ %>
                <tr>
                    <td colspan="2" align="right">
                        <small>The above field is required for successful data migration to CCV</small>
                    </td>
                </tr>
                <% } %>
            <% } %>
        <% }, this) %>
    </table>
</div>
<h2>Description <small>(Optional)</small></h2>
<%= HTML.TextArea(this, 'description', {style: 'height:175px;width:650px;'}) %>
</form>
<% if(!this.isDialog){ %>
    <br />
<% } %>
<% if(!this.isDialog){ %>
    <div style="width:180px;display:inline-block;">
        <button id='saveProduct'><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> <%= category %></button><span class="throbber" style="display:none;"></span>
    </div>
    <div style="width:180px;display:inline-block;">
        <button id='cancel'>Cancel</button>
    </div>
<% } %>
