<a class="button" style="position: absolute; top: 15px; right: 20px;" href="#/<%= this.model.get('category') %>">View All</a>
<h2><%= this.model.getAuthorsLabel().pluralize() %></h2>
<div id="productAuthors"></div>
<h2>Description</h2>
<%= description.replace(/\n/g, "<br />") %>
<h2>Information</h2>
<table id="productData">
    <% if(this.model.get('tags').length > 0){ %>
        <tr><td align="right"><b>Tags:</b></td><td><%= tags.join(", ") %></td></tr>
    <% } %>
    <tr><td align="right"><b>Type:</b></td><td><%= type.replace("Misc: ", "") %></td></tr>
    <% if(this.model.getPossibleStatus().length > 0){ %>
        <tr><td align="right"><b>Status:</b></td><td><%= status %></td></tr>
    <% } %>
    <tr><td align="right">
        <b>
        <% if(category == 'Grants' || type == 'Conference/Symposium/Workshop Contribution'){ %>
            Start Date:
        <% } else if(networkType == "CFREF"){ %>
            Date Published:
        <% } else { %>
            Date:
        <% } %>
        </b>
    </td>
    <td><%= formatDate(date) %></td></tr>
    <% _.each(this.model.getPossibleFields(), function(val, index){ %>
        <% if(data[index] != "" && data[index] != undefined && !val.hidden){ %>
            <% if(index == "impact_factor" && data["impact_factor_override"] != undefined && data["impact_factor_override"] != ""){ return; } %>
            <% if(index == "category_ranking" && data["category_ranking_override"] != undefined && data["category_ranking_override"] != ""){ return; } %>
            <tr>
                <td align="right"><b><%= val.label %>:</b></td>
                <td>
                    <% if(val.type == "String" || val.type == "Radio" || val.type == "Check" || val.type == "Integer"){ %>
                        <%= data[index] %>
                    <% } else if(val.type == "MultiSelect"){ %>
                        <% if(_.isString(data[index])){ %>
                            <%= data[index] %>
                        <% } else { %>
                            <%= data[index].join(", ") %>
                        <% } %>
                    <% } else if(val.type == "URL"){ %>
                        <a href="<%= data[index] %>" target="_blank"><%= data[index] %></a>
                    <% } else if(val.type == "File" || val.type == "PPT" || val.type == "PDF"){
                        var dataStr = data[index]['data'].split(';base64,')[1]
                        var type = data[index]['data'].split(';base64,')[0].replace(/data:/,'')
                        var byteCharacters = atob(data[index]['data'].split(',')[1]);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        blob = new Blob([byteArray], {type: type});
                        var blobUrl = URL.createObjectURL(blob);
                    %>
                        <% if((val.type == "PPT" || val.type == "PDF") && data[index]['filename'].match(/.*(\.ods)|(\.odp)|(\.odt)|(\.pdf)/)){ %>
                            <iframe src="<%= wgServer + wgScriptPath %>/scripts/ViewerJS/#<%= wgServer + wgScriptPath %>/index.php?action=api.productFile/<%= id %>/file/<%= data[index]['filename'] %>" style="width:600px; height:450px;" frameborder="0" allowfullscreen="true"></iframe>
                        <% } else { %>
                            <a download="<%= data[index]['filename'].replace(/"/, "").replace(/'/, "") %>" href="<%= blobUrl %>" onClick="if(window.navigator.msSaveOrOpenBlob){ window.navigator.msSaveOrOpenBlob(blob, '<%= data[index]['filename'].replace(/"/, "").replace(/'/, "") %>'); }" target="_blank"><%= data[index]['filename'] %></a>
                        <% } %>
                    <% } else if(val.type == "Date"){ %>
                        <%= formatDate(data[index]) %>
                    <% } else { %>
                        <%= data[index] %>
                    <% } %>
                </td>
            </tr>
        <% } %>
    <% }, this) %>
</table>
<% if(projectsEnabled){ %>
    <h2>Related Projects</h2>
    <div id='productProjects'></div>
<% } %>
<% if(parseInt(me.get('id')) > 0 && me.get('candidate') == 0 && !publicationsFrozen) { %>
    <br />
    <button id='editProduct'>Edit <%= category %></button>&nbsp;<button id='deleteProduct'>Delete <%= category %></button>
    <% if ((localStorage.getItem("BIB") != "null") && (localStorage.getItem("PRODUCT") == id)) { %>
        <% var destination = wgServer + wgScriptPath + "/index.php/Special:BibliographyPage#/" + localStorage.getItem("BIB") %>
        <a class="button" id='backToBib' style="float:right;" href="<%= destination %>" >Back to Bibliography</a>
    <% } %>
<% } %>
