<div id="dialogMessages"></div>
<span class="label" style="display:inline-block;">Title:</span> <%= HTML.TextBox(this, 'title', {size: '50'}) %>
<div id="authors">
    <h2><%= this.model.getAuthorsLabel().pluralize() %></h2>
    <div id="productAuthors">
        
    </div>
</div>
<div id="description">
    <h2>Description</h2>
    <%= HTML.TextArea(this, 'description', {style: 'height:175px;width:650px;'}) %>
</div>
<h2>Information</h2>
<table id="productData" width="100%">
    <tr id="tags">
        <td class="label">Tags:</td>
        <td class="field" colspan="2">
            <div id="productTags" style="max-width:550px;width:100%;display:inline-block;vertical-align:middle;"></div>
            <div style="display:inline-block;vertical-align: middle;margin-top:2px;">
                <a id="btnViewAvailableTags" class="button">View Tags</a>
                <div id="availableTagsDiv" style="display:none";>
                    <ul id="availableTags">
                    <% _.each(this.availableTags, function(tag) { %>
                        <li><%= tag %></li>
                    <% }) %>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    <tr id="category">
        <td class="label">Category:</td>
        <td class="field">
            <% var def = (category == "") ? [{option: "Choose a Category...", value: ""}] : []; %>
            <%= HTML.Select(this, 'category', {options: def.concat(_.keys(this.model.getPossibleCategories()))}) %>
        </td>
    </tr>
    <% if(category != ""){ %>
        <tr>
            <td class="label">Type:</td>
            <td class="field" colspan="2">
                <% var def = (type == "") ? [{option: "Choose a Type...", value: ""}] : []; %>
                <%= HTML.Select(this, 'type', {options: def.concat(this.model.getPossibleTypes())}) %>
                <% if(type.split('Misc').length > 1){ %>
                    <br />
                    <%= HTML.MiscAutoComplete(this, 'type', {size: '30', placeholder: "Specify type...", misc: this.model.getPossibleMiscTypes(), style: 'margin-top: 4px;'}) %>
                    <small style="line-height: 28px;">Note that the use of other existing types is preferred</small>
                <% } %>
            </td>
        </tr>
    <% } %>
    <tr id="visibility">
        <td class="label">Visibility:</td>
        <td class="field" colspan="2">
            <%= HTML.Select(this, 'access', {options: allowedVisibility}) %>
            <div style="display:inline-block;">
                <ul style="margin-top:0;margin-bottom:0;font-size:smaller;">
                    <li style="margin-top:0;margin-bottom:0;"><b>Public:</b> Everyone including guests to the Forum will be able to view this product.</li>
                    <li style="margin-top:0;margin-bottom:0;"><b>Forum:</b> Only Forum members will be able to view this product.</li>
                </ul>
            </div>
        </td>
    </tr>
    <% if(this.model.getPossibleStatus().length > 0){ %>
        <tr>
            <td class="label">Status:</td>
            <td class="field"><%= HTML.Select(this, 'status', {options: this.model.getPossibleStatus()}) %></td>
        </tr>
    <% } %>
    <tr id="date">
        <td class="label"><% if(category == 'Grants'){ %> Start <% } %>Date<% if(networkName == "FES"){ %> Published<% } %>:</td>
        <td class="field"><%= HTML.DatePicker(this, 'date', {format: 'yy-mm-dd'}) %></td>
        <td valign="top" rowspan="<%= _.size(this.model.getPossibleFields()) + 1 %>" style="width:100%;">
            <div id="projects">
                <h2 style="margin-top:0;padding-top:0;">Related Projects</h2>
                <div><%= HTML.ProjectSelector(this, 'projects') %></div>
            </div>
        </td>
    </tr>
    <% _.each(this.model.getPossibleFields(), function(val, index){ %>
        <% if(!val.hidden){ %>
            <tr>
                <td class="label"><%= val.label %>:
                    <% if(val.type == "File"){ %>
                        <small style="display:block;line-height:6px;">(Max 5MB)</small>
                    <% } %>
                </td>
                <td class="field">
                    <% if(val.type == "String"){ %>
                        <%= HTML.TextBox(this, 'data.' + index, {style: "width:200px;", placeholder: val.placeholder}) %>
                    <% } else if(val.type == "Integer"){ %>
                        <%= HTML.TextBox(this, 'data.' + index, {style: "width:100px;", class: "integer"}) %>
                    <% } else if(val.type == "Radio"){ %>
                        <%= HTML.Radio(this, 'data.' + index, {size: 30, options: val.options}) %>
                    <% } else if(val.type == "Check"){ %>
                        <%= HTML.CheckBox(this, 'data.' + index, {size: 30, value: "Yes"}) %>
                    <% } else if(val.type == "Select"){ %>
                        <%= HTML.Select(this, 'data.' + index, {options: val.options}) %>
                    <% } else if(val.type == "MultiSelect"){ %>
                        <%= HTML.Select(this, 'data.' + index, {options: val.options, multiple: true, class: "multiselect"}) %>
                    <% } else if(val.type == "File"){ %>
                        <%= HTML.File(this, 'data.' + index, {size: 30}) %>
                    <% } else if(val.type == "PDF"){ %>
                        <%= HTML.File(this, 'data.' + index, {size: 30, accept: ".pdf"}) %>
                    <% } else if(val.type == "PPT"){ %>
                        <%= HTML.File(this, 'data.' + index, {size: 30, accept: ".odt,.odp,.ods,.pdf"}) %>
                    <% } else if(val.type == "Date"){ %>
                        <%= HTML.DatePicker(this, 'data.' + index, {format: 'yy-mm-dd'}) %>
                    <% } else { %>
                        <%= HTML.TextBox(this, 'data.' + index, {style: "width:200px;"}) %>
                    <% } %>
                </td>
            </tr>
        <% } %>
    <% }, this) %>
</table>
<div id="projectsWarning" class="warning" style="display:none;">This <%= productsTerm.toLowerCase() %> has not been associated with any projects yet</div>
<div id="doiWarning" class="error" style="display:none;">This <%= productsTerm.toLowerCase() %> is missing a DOI/URL</div>
<% if(!this.isDialog){ %>
    <br />
<% } %>
<% if(!this.isDialog && !publicationsFrozen){ %>
    <div style="display:inline-block;">
        <button id='saveProduct'><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> <%= category %></button><span class="throbber" style="display:none;"></span>
    </div>
    <div style="display:inline-block;">
        <button id='cancel'>Cancel</button>
    </div>
<% } %>
