<div id="deleteDialog" style="display:none;" title="Delete <%= category %>">
    <div class="ui-icon ui-icon-alert" style="float:left; margin:50px 12px 50px 0;"></div><p>Use <b>"Exclude"</b> in Manage Outputs to disassociate this output from your record. "Delete" will delete it for all the co-authors. Are you sure you want to delete it?</p>
    <input id="deleteCheck" type="checkbox" /> I have read and understand the implications of the above statement.
    <div class="throbber" style="float:right;display:none;"></div>
</div>
<% if(this.model.isSingleAuthor()){ %>
    <h2><%= this.model.getAuthorsLabel() %></h2>
<% } else { %>
    <h2><%= this.model.getAuthorsLabel().pluralize() %></h2>
<% } %>
<div id="productAuthors">
</div>

<% if(this.model.hasContributors()){ %>
    <h2><%= this.model.getContributorsLabel().pluralize() %></h2>
    <div id="productContributors">
    </div>
<% } %>

<% if(description.trim() != "") { %>
    <h2>Description</h2>
    <%= nl2br(description) %>
<% } %>
<h2>Metadata</h2>
<table id="productData">
    <tr><td align="right"><b>Type:</b></td><td><%= type.replace("Misc: ", "").replace("Other: ", "") %></td></tr>
    <% if(this.model.getPossibleStatus().length > 0){ %>
        <tr><td align="right"><b>Status:</b></td><td><%= status %></td></tr>
    <% } %>
    <% if(!_.isEmpty(this.model.getAcceptanceDateLabel()) && acceptance_date != "" && acceptance_date != ZOT){ %>
        <tr><td align="right"><b><%= this.model.getAcceptanceDateLabel() %>:</b></td><td><%= formatDate(acceptance_date) %></td></tr>
    <% } %>
    <% if(!_.isEmpty(this.model.getDateLabel()) && date != "" && date != ZOT){ %>
        <tr><td align="right"><b><%= this.model.getDateLabel() %>:</b></td><td><%= formatDate(date) %></td></tr>
    <% } %>
    <% _.each(this.model.getPossibleFields(), function(val, index){ %>
        <% if(data[index] != "" && data[index] != undefined && !val.hidden){ %>
            <% if(index == "impact_factor" && data["impact_factor_override"] != undefined && data["impact_factor_override"] != ""){ return; } %>
            <% if(index == "category_ranking" && data["category_ranking_override"] != undefined && data["category_ranking_override"] != ""){ return; } %>
            <% if(index == "peer_reviewed_ifyes"){ return; } %>
            <tr>
                <td align="right"><b><%= val.label %>:</b></td>
                <td>
                    <% if(val.type == "String"  || val.type == "Integer" || val.type == "Radio" || val.type == "Pages"){ %>
                        <%= data[index] %>
                        <% if(index == "peer_reviewed" && data["peer_reviewed"] == "Yes" && data["peer_reviewed_ifyes"] != ""){ %>
                            : <%= data["peer_reviewed_ifyes"] %>
                        <% } %>
                    <% } else if(val.type == "URL"){ %>
                        <a href="<%= data[index] %>" target="_blank"><%= data[index] %></a>
                    <% } else if(val.type == "File"){
                        var dataStr = data[index]['data'].split(';base64,')[1]
                        var type = data[index]['data'].split(';base64,')[0].replace(/data:/,'')
                        var byteCharacters = atob(data[index]['data'].split(',')[1]);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        blob = new Blob([byteArray], {type: type});
                        var blobUrl = URL.createObjectURL(blob);
                    %>
                        <a download="<%= data[index]['filename'].replace(/"/, "").replace(/'/, "") %>" href="<%= blobUrl %>" onClick="if(window.navigator.msSaveOrOpenBlob){ window.navigator.msSaveOrOpenBlob(blob, '<%= data[index]['filename'].replace(/"/, "").replace(/'/, "") %>'); }" target="_blank"><%= data[index]['filename'] %></a>
                    <% } else { %>
                        <%= data[index] %>
                    <% } %>
                </td>
            </tr>
        <% } %>
    <% }, this) %>
</table>
<% if(parseInt(me.get('id')) > 0) { %>
    <br />
    <button id='editProduct'>Edit <%= category %></button>&nbsp;
    <% if(!deleted && canDelete){ %>
        <button id='deleteProduct'>Delete <%= category %></button>&nbsp;
    <% } %>
    <% if(deleted){ %>
        <button id='undeleteProduct'>Un-Delete <%= category %></button>&nbsp;
    <% } %>
<% } %>
