<form>
<b>Change Title:</b> <%= HTML.TextBox(this, 'title', {size: '80'}) %>
<h2>Authors</h2>
<div id='productAuthors'>
    
</div>
<h2>Description</h2>
<%= HTML.TextArea(this, 'description', {style: 'height:175px;width:650px;'}) %>
<h2><%= category %> Information</h2>
<table id="productData">
    <tr><td align='right'><b>Status:</b></td><td><%= HTML.TextBox(this, 'status') %></td></tr>
    <tr><td align='right'><b>Type:</b></td><td><%= HTML.TextBox(this, 'type') %></td></tr>
    <tr><td align='right'><b>Date:</b></td><td><%= HTML.DatePicker(this, 'date',{format: 'yy-mm-dd'}) %></td></tr>
    <% _.each(data, function(val, index) { %>
        <tr><td align='right'><b><%= index.toTitleCase() %>:</b></td><td><%= HTML.TextBox(this, 'data.' + index, {size: 50}) %></td></tr>
    <% }, this) %>
</table>
<h2>Related Projects</h2>
<div id='productSpinner'></div>
<div id='productProjects' style='width:650px;'>
    
</div>
</form>
<% if(parseInt(me.get('id')) > 0) { %>
    <br />
    <button id='saveProduct'>Save <%= category %></button><button id='cancel'>Cancel</button>
<% } %>

