<% if(projectsEnabled){ %>
    <a id='showButton' class='button' style='margin-left:20px;' href='<%= url %>'>View <%= name %></a>
<% } %>
<span class="throbber" style="margin-left: 20px;"></span>
<table id='listTable' frame='box' rules='all'>
    <thead>
        <tr>
            <th width='1%'>Date</th>
            <th width='1%'>Type</th>
            <th width='50%'>Title</th>
            <th width='48%'>Authors</th>
            <% if(projectsEnabled){ %>
                <th>Projects</th>
                <% if(_.contains(allowedRoles, STAFF)){ %>
                    <th>Top Projects</th>
                <% } %>
            <% } %>
        </tr>
    </thead>
    <tbody id='productRows'>

    </tbody>
</table>
