<div id="editDialog" style="display:none;"></div>
<div id="deleteDialog" style="display:none;" title="Delete Customer/User">
    <p>Are you sure you want to delete this customer/user (this will also delete the related requests and tasks)?</p>
    <div class="throbber" style="float:right;display:none;"></div>
</div>

<table id="contacts" frame="box" rules="all">
    <thead>
        <tr>
            <% if(isAllowedToCreateLIMSPmmContacts){ %>
                <th width="1%">Edit</th>
            <% } %>
            <th>Project</th>
            <th>Project Manager</th>
           
            <th>Assignees & Status</th>
            <th>Task</th>
            <th width="1%" style="white-space:nowrap;">Due Date</th>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(contact){
            if(contact.get('opportunities').length == 0){
                contact.get('opportunities').push(new LIMSOpportunityPmm().toJSON());
            }
            _.each(contact.get('opportunities'), function(opportunity){
                if(opportunity.tasks == undefined || opportunity.tasks.length == 0){
                    opportunity.tasks = [new LIMSTaskPmm().toJSON()];
                }
                _.each(opportunity.tasks, function(task){ 
                    assigneesLinks = _.map(task.assignees, function(assignee){
                        return '<a href="' + assignee.url + '">' + assignee.name + '</a>';
                    }).join(', '); %>
                    <tr>
                        <% if(isAllowedToCreateLIMSPmmContacts){ %>
                            <td align="center" style="white-space:nowrap;">
                                <span class="edit-icon" data-id="<%= contact.get('id') %>"></span>
                                <span class="delete-icon" data-id="<%= contact.get('id') %>"></span>
                                <span style="display:none;"><%= contact.id %></span>
                            </td>
                        <% } %>
                        <td>
                            <a href="<%= contact.get('url') %>"><%= contact.get('title') %></a><br />
                            <%= contact.get('details').email %>
                            <span style="display:none;"><%= contact.id %></span>
                        </td>
                        <td>
                            <a href="<%= opportunity.owner.url %>"><%= opportunity.owner.name %></a><span style="display:none;"><%= contact.id %></span>
                        </td>
                        
                        <td>
                            <% if (task.assignees && task.assignees.length > 0) { %>
                                <ul style="padding-left: 1em; margin: 0;">
                                    <% task.assignees.forEach(function(assignee) { 
                                        var assigneeStatus = task.statuses && task.statuses[assignee.id] ? task.statuses[assignee.id] : '—';
                                    %>
                                        <li>
                                            <a href="<%= assignee.url %>"><%= assignee.name %></a> - <%= assigneeStatus %>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <em>No assignees</em>
                            <% } %>
                        </td>
                        <td>
                            <%= task.task %><span style="display:none;"><%= task.id %></span>
                        </td>
                        
                        <td align="center" style="white-space:nowrap;">
                            <%= task.dueDate %><span style="display:none;"><%= task.id %></span>
                        </td>
                    </tr>
        <%      })
            })
          }) %>
    </tbody>
</table>
