<% if(this.model.opportunity.get('isAllowedToEdit')){ %>
    <td valign="top"><span id="deleteTask" class="delete-icon" style="margin: 7px 5px 0 5px;" title="Delete Task"></span></td>
    <td valign="top"><%= HTML.TextBox(this, 'task', {placeholder: 'Enter Task...', style: "width:100%;box-sizing:border-box;margin:0;"}) %></td>
    <td valign="top"><%= HTML.Select(this, 'assignee.id', {style: 'width:200px;', options: _.union([{option: assignee.name, value: assignee.id}], _.filter(_.map(this.project.members.toJSON(), function(person){ return {option: person.fullName, value: person.id} }), function(val){ return val.value != assignee.id; }))}) %></td>
    <td valign="top" style="white-space:nowrap;"><%= HTML.DatePicker(this, 'dueDate', {format: 'yy-mm-dd', style: 'width:5em'}) %></td>
   
<% } else { %>
    <td><%= task %></td>
    <td><a href="<%= assignee.url %>"><%= assignee.name %></td>
    <td align="center"><%= dueDate %></td>
    
<% } %>
<% if(isAllowedToEdit){ %>
    <td valign="top" style="white-space:nowrap;">
        <%= HTML.Select(this, 'status', {options: ['New', 'Pending', 'Ongoing', 'Complete', 'Invoiced', 'Closed', 'Rejected']}) %>
    </td>

    <td valign="top" style="white-space:nowrap; width:40%">
        <%= HTML.TextArea(this, 'comments', {style: "height: 63px;width:100%;box-sizing:border-box;margin:0;"}) %>

    </td>
    
<% } else { %>
    <td><%= status %></td>
    <td>

    </td>
<% } %>

