<!-- <span id="deleteOpportunity" class="delete-icon" style="float: right; margin-top: 5px;" title="Delete Opportunity"></span> -->
<!-- <table style="margin-bottom:13px;margin-right:32px;margin-top:-4px;">
    <tr>        
        <td align="right"><b>Owner:</b></td>
        <td style="padding-right:30px;">
            <%= HTML.Select(this, 'owner.id', {style: 'width:200px;vertical-align:middle;', options: _.union([{option: owner.name, value: owner.id}], _.filter(_.map(this.project.members.toJSON(), function(person){ return {option: person.fullName, value: person.id} }), function(val){ return val.value != owner.id; }))}) %>
        </td>
    </tr>
    <tr>
        <td align="right"><b>Activity Id:</b></td>
        <td><%= requestId %></td>
    </tr>
</table> -->
<!-- <%= HTML.TextArea(this, 'description', {style: 'height: 100px; resize: none; width:100%; margin-left:0;margin-right:0;'}) %> -->
<h4>Tasks</h4>
<table id="tasks" class="wikitable" style="width:100%;">
    <thead>
        <tr>
            <th style="width:25px;"></th>
            <th>Task</th>
            <th style="width:200px;">Assignee</th>
            <th style="width:100px;">Due&nbsp;Date</th>
            <th style="width:100px;">Status</th>
            <th style="width:230px;">Details</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
<button id="addTask" type="button" style="margin-top:15px;">Add Task</button>
<!-- <h4>Documents (Quote, PO, Reports, Invoices)</h4>
<table id="files" class="wikitable">
    <tr><th>File</th><th>Delete?</th></tr>
    <% _.each(files, function(file, i){ %>
        <% if(file.id != null){ %>
            <tr>
                <td><a href="<%= file.url %>" target="_blank"><%= file.filename %></a></td>
                <td align="center"><%= HTML.CheckBox(this, 'files.' + i + '.delete', {value: 1}) %></td>
            </tr>
        <% } %>
    <% }.bind(this)) %>
</table> -->
<!-- <button id="addDocument" type="button">Add Document</button> -->
