<div style="display:flex;">
    <% if(owner.name != ''){ %>
        <div>
            <b>Owner:</b> <a href="<%= owner.url %>"><%= owner.name %></a>
        </div>
    <% } %>
</div>
<%= description %>
<div id="emailNotificationContainer"></div>
<div id="taskContainer" style="display:none;">
    <h4>Tasks</h4>
    <table id="tasks" class="wikitable" style="width:100%;">
        <thead>
            <tr>
                <th style="width:15%;">Task Name</th>
                <th style="width:12%;">Task Type</th>
                <th style="width:15%;">Assignees</th>
                <th style="width:10%;">Due&nbsp;Date</th>
                <th style="width:10%;">Status</th>
                <th style="width:35%;">Instructions</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

<style>
    #emailAccordion .ui-accordion-content {
        height: auto !important;
    }
</style>
