<div style="display:flex;">
    <% if(owner.name != ''){ %>
        <div>
            <b>Owner:</b> <a href="<%= owner.url %>"><%= owner.name %></a>
        </div>
    <% } %>
</div>
<%= description %>
<div id="emailAccordion" style="margin-bottom: 20px;">
  <h3>Send an Email</h3>
  <%
  %>
  <div>
    <div style="display: flex;">
        <div>Filter Type:</div>
        <%= HTML.Select(this, 'filterType' , { 
            options: Object.keys(filterOptions) || [""]
        }) %>
    </div>
    <div style="display: flex;">
        <div>Filter Value:</div>
        <%= HTML.Select(this, 'filterValue' , { 
            options: filterOptions[this.filterType] || [""]
        }) %>
    </div>
    <div>
        <div>Email Content:</div>
        <%= HTML.TextArea(this, 'emailContent', {
            style: "height: 63px;width:100%;box-sizing:border-box;margin:0;"}) %>
    </div>
    <button>Send</button>
  </div>
</div>
<div id="taskContainer" style="display:none;">
    <h4>Tasks</h4>
    <table id="tasks" class="wikitable" style="width:100%;">
        <thead>
            <tr>
                <th style="width:15%;">Task Name</th>
                <th style="width:12%;">Task Type</th>
                <th style="width:15%;">Assignees</th>
                <th style="width:10%;">Due&nbsp;Date</th>
                <th style="width:10%;">Status</th>
                <th style="width:35%;">Instructions</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>

<style>
    #emailAccordion .ui-accordion-content {
        height: auto !important;
    }
</style>
