<div id="dialogMessages"></div>
<% if(!this.isDialog){ %>
    <a class="button backButton" href="#">Back to Contacts</a>
<% } %>
<div style="display:flex;">
    <div style="margin-right:15px;">
    </div>
</div>
<h3>Requests</h3>
<div id="opportunities"></div>
<button id="addOpportunity" >Add Activity</button>
<br />
<br />
<% if(!this.isDialog){ %>
    <div style="width:180px;display:inline-block;">
        <button id="save">
            <% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Contact
        </button><span class="throbber" style="display:none;"></span>
    </div>
    <div style="width:180px;display:inline-block;">
        <button id="cancel">Cancel</button>
    </div>
<% } %>
