<% 
if (assignees && assignees.length > 0) { 
    var isEveryoneAssigned = assignees.some(function(a) { return a.id === -1; });
    var displayAssignees;
    if (isEveryoneAssigned && project && project.members) {
        displayAssignees = project.members;
    } else {
        displayAssignees = assignees.filter(function(a) { return a.id !== -1; });
    }
%>
    <table class="wikitable" border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Assignee</th>
                <th>Status</th>
                <th>Document</th>
                <th>Reviewer</th>
            </tr>
        </thead>
        <tbody> 
            <% 
            displayAssignees.forEach(function(assignee) { 
            %>
                <tr>
                    <td valign="top"><%= assignee.name %></td>
                    <td valign="top">
                        <% 
                        var assigneeId = (assignee.id != undefined) ? assignee.id : assignee;
                        var currentStatus = statuses[assigneeId] || 'Assigned';
                        var fileObj = files[assigneeId] || {};
                        var reviewerObj = reviewers[assigneeId] || {};
                        %>
                        <%= currentStatus %>
                    </td>
                    <td valign="top">
                        <% if (fileObj.filename) { %>
                            <a href="<%= fileObj.url %>" target="_blank" download>Download</a>
                        <% } else { %>
                            No document
                        <% } %>
                    </td>
                    <td valign="top">
                        <% if (reviewerObj.name) { %>
                            <%= reviewerObj.name %>
                        <% } else { %>
                            —
                        <% } %>
                    </td>
                </tr>
            <% }.bind(this)); %>
        </tbody>
    </table>
<% 
} else { 
%>
    <div>No assignees</div>
<% 
}
%>
