<div style="display:flex;">
    <% if(owner.name != ''){ %>
        <div>
            <b>Owner:</b> <a href="<%= owner.url %>"><%= owner.name %></a>
        </div>
    <% } %>
</div>
<%= description %>
<div id="taskContainer" style="display:none;">
    <h4>Tasks</h4>
    <table id="tasks" class="wikitable" style="width:100%;">
        <thead>
            <tr>
                <th style="width:35%;">Task</th>
                <th style="width:20%;">Assignee</th>
                <th style="width:10%;">Due Date</th>
                <th style="width:10%;">Status</th>
                <th style="width:25%;">Details</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>
