<% 
if (displayAssignees && displayAssignees.length > 0) { 
%>
    <table class="wikitable">
        <thead>
            <tr>
                <th>Assignee</th>
                <th>Status</th>
                <th>Document</th>
                <th>Reviewer</th>
                <th>Email Feedback</th>
                <% if (isLeaderAllowedToEdit) { %>
                    <th>Comment History</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% displayAssignees.forEach(function(assignee, index) { %>
                 <% 
                    var assigneeId = (assignee.id != undefined) ? assignee.id : assignee; 
                    var currentStatus = displayStatuses[assigneeId];

                    var isCurrentUserTheAssignee = (me.get('id') == assigneeId);
                    
                    var reviewer = displayReviewers[assigneeId];
                    var isCurrentUserTheReviewer = reviewer && (me.get('id') == reviewer.id);
                    
                    var allStatusOptions = ['Assigned', 'Done', 'Closed'];
                    var assigneeStatusOptions = ['Assigned', 'Done'];
                    var reviewerStatusOptions = [...assigneeStatusOptions, 'Closed'];

                    var statusOptionsToShow = isLeaderAllowedToEdit 
                                                ? allStatusOptions : (isCurrentUserTheReviewer
                                                ? reviewerStatusOptions
                                                : assigneeStatusOptions);    
                    
                    var canCurrentUserEdit = isLeaderAllowedToEdit || isCurrentUserTheAssignee;
                    var shouldShowRow = isLeaderAllowedToEdit || isCurrentUserTheAssignee || isCurrentUserTheReviewer;
                %>

                <% if (shouldShowRow) { %>
                <tr>
                    <td valign="top"><%= assignee.name %></td>
                    <td valign="top">
                        <%
                        if (canCurrentUserEdit || isCurrentUserTheReviewer) { 
                        %> 
                            <%= HTML.Select(this, 'displayStatuses.' + assigneeId, { 
                                options: statusOptionsToShow
                            }) 
                        %>
                        <% } else { %> 
                            <%= currentStatus %>
                        <% } %> 
                    </td>
                    <td valign="top">
                        <%
                            var fileObj  = (displayFiles && displayFiles[assigneeId]) || {};
                            var filename = fileObj.filename || '';
                            var fileUrl  = fileObj.url || '#';
                            var toDelete = fileObj.delete || false;
                        %>

                        <% if (currentStatus !== 'Closed' || isLeaderAllowedToEdit) { %>
                            <% if (canCurrentUserEdit) { %>
                                <% if (filename && !toDelete) { %>
                                    <a href="<%= fileUrl %>" target="_blank"><%= filename %></a>
                                    <span class="delete-icon deleteFile" data-assignee="<%= assigneeId %>">×</span>
                                <% } else { %>
                                    <%= HTML.File(this, 'displayFiles.' + assigneeId) %>
                                <% } %>
                            <% } else if (filename) { %>
                                <a href="<%= fileUrl %>" target="_blank"><%= filename %></a>
                            <% } else { %>
                                <span>No document</span>
                            <% } %>

                        <% } %>
                    </td>
                    <td valign="top">
                        <%
                            var peopleList = this.project.members.map(function(member) {
                                return { value: member.get('id'), option: member.get('fullName') };
                            });
                        %>
                        <% if (isLeaderAllowedToEdit) { %>
                            <%
                            var reviewerOptions = peopleList.filter(function(person) {
                                return person.value != assigneeId;
                            });
                            %>
                            <%= HTML.Select(this, 'displayReviewers.' + assigneeId + '.id', {
                                options: reviewerOptions
                            }) %>
                        <% } else { %>
                            <%= reviewer ? reviewer.name : "Not Assigned" %>
                        <% } %>
                    </td>

                    <td valign="top" height>
                        <% if (canCurrentUserEdit || isCurrentUserTheReviewer) { %>
                            <%= HTML.TextArea(this, 'displayComments.' + assigneeId, {placeholder: "Enter your comments here", style: "height: 75px;width:100%;box-sizing:border-box;margin:0;"}) %>
                        <% } %>
                    </td>
                     <% if (isLeaderAllowedToEdit) { %>
                        <td>
                            <button class="view-comment-history" 
                                data-assignee-id="<%= assigneeId %>" 
                                style="font-size: 11px;">
                                    All Comments
                            </button>
                        </td>
                        <!-- <button id="showCommentHistory" type="button">Change Status</button> -->
                    <% } %>
                </tr>
                <% } %>
            <% }.bind(this)); %>
        </tbody>
    </table>
<% 
} else { 
%>
    <div>No assignees</div>
<% 
}
%>


<button id="cancelButton">Close</button>
