<table id="chair_table" class="wikitable" width="100%">
    <thead>
        <tr>
            <th>Student</th>
            <th>Email</th>
            <th>Program</th>
            <th width="100px">Supervisor(s)</th>
            <th width="150px">Background</th>
            <th width="150px">Supervisory Committee Meetings</th>
            <th width="150px">Ethics and FGSR Teaching Sessions</th>
            <th width="150px">Required Courses</th>
            <th width="150px">Notes</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
