/* Any custom styles should go here */

.backButton {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}

#opportunities {
    margin-left: 25px;
    margin-bottom: 1em;
}
