/* Any custom styles should go here */

.backButton {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}

#opportunities {
    margin-bottom: 1em;
}

.opportunity {
    background: #F8F8F8;
    border: 1px solid #dfdfdf;
    padding: 15px;
    margin-bottom: 15px;
}

#tasks {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#transactions {
    width: 100%;
}

#transactions td {
    width: 50%;
}
