/* Any custom styles should go here */

.backButton {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
}

#opportunities {
    margin-bottom: 1em;
}

.opportunity {
    background: #F8F8F8;
    border: 1px solid #dfdfdf;
    padding: 15px;
    margin-bottom: 15px;
}

#tasks {
    margin-left: 1.5em;
}

#tasks > li::marker {
    font-weight: bold;
}

#tasks > li:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
