<p>
    <h3>Title</h3>
    <%= HTML.TextBox(this, 'scientific_title', {size: '60'}) %>
    <h3>Description:</h3>
    <%= HTML.TextArea(this, 'description', {style: 'height:150px;width:650px;'}) %>
</p>
<div id="preview" style="display:none;"></div>
<table>
    <tr>
        <td class="label">UofA PI:</td>
        <td colspan="3"><%= HTML.Select(this, 'pi.id', {options: [{option: "", value: 0}].concat(this.allPeople.map(function(o){ return {option: o.get('fullName'), value: o.get('id')}; }))}) %></td>
    </tr>
    <tr>
        <td class="label">External PI:</td>
        <td colspan="3">
            <%= HTML.TextBox(this, 'external_pi') %>
            <small>If the PI is not part of the Faculty, then enter their name</small>
        </td>
    </tr>
    <tr>
        <td class="label">Co-Applicants:</td>
        <td colspan="3">
            <div id="coapplicants"></div>
        </td>
    </tr>
    <tr>
        <td class="label">Sponsor:</td>
        <td colspan="3"><%= HTML.TextBox(this, 'sponsor') %></td>
    </tr>
    <tr>
        <td class="label">Start Date:</td>
        <td colspan="3"><%= HTML.DatePicker(this, 'start_date', {format: 'yy-mm-dd', id: 'start_date'}) %></td>
    </tr>
    <tr>
        <td class="label">End Date:</td>
        <td colspan="3"><%= HTML.DatePicker(this, 'end_date', {format: 'yy-mm-dd', id: 'end_date'}) %></td>
    </tr>
    <tr>
        <td class="label">Project Title:</td>
        <td colspan="3"><%= HTML.TextBox(this, 'title', {size: '40'}) %></td>
    </tr>
    <tr>
        <td class="label">Project ID:</td>
        <td colspan="3"><%= HTML.TextBox(this, 'project_id') %></td>
    </tr>
    <tr>
        <td class="label">Total Amount ($):</td>
        <td colspan="3"><span style="vertical-align: middle;"><%= HTML.TextBox(this, 'total') %></td>
    </tr>
    <tr>
        <td class="label">My Portion ($):</td>
        <td colspan="3"><span style="vertical-align: middle;"><%= HTML.TextBox(this, 'myportion') %></td>
    </tr>
</table>
<!--h2>Contributions</h2>
<p>Choose from the following list of contributions.  If you do not see a contribution then you may need to <a href="<%= wgServer %><%= wgScriptPath %>/index.php/Special:AddContributionPage">add it</a>.</p>
<div id="contributions" class="edit">
    <div class="sortable-widget">
        <div class="sortable-search">
            <div>
                <input type="text" placeholder="Search Available Contributions..." />
            </div>
        </div>
        <div class="sortable-container">
            <div class="sortable-left">
                <div class="sortable-header">Associated Contributions</div>
                <div class="sortable-list">
                    <ul id="sortable1">

                    </ul>
                </div>
            </div>
        </div>
        <div class="sortable-container">
            <div class="sortable-right">
                <div class="sortable-header">Available Contributions</div>
                <div class="sortable-list">
                    <ul id="sortable2">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div-->
<button id="save"><% if(this.model.isNew()) { %>Create Revenue Account<% } else { %>Save Revenue Account<% } %></button><span class="throbber" style="display:none;"></span>
