<p>
    <b>NOTE: If you make any changes on this page and have other tabs open, the changes will not be reflected on those other tabs until you refresh the page.</b>
</p>
<p><a href="#/new" class="button">Add Revenue Account</a><!--&nbsp;<a href="<%= wgServer + wgScriptPath %>/index.php/Special:GrantAwardPage" class="button">Show Awarded NSERC Applications</a></p>-->
<table id="grants" frame="box" rules="all">
    <thead>
        <tr>
            <th>Title</th>
            <th>Excluded&nbsp;<span class="tooltip" title="If a Revenue Account is marked as excluded, it will NOT show up in your profile or Annual Report.">&#9432;</span></th>
            <th>PI</th>
            <th>Co-PI</th>
            <th>Sponsor</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total ($)</th>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(grant){ %>
            <tr>
                <td>
                    <% if(grant.get('scientific_title').trim() != ''){ %>
                        <a href="<%= grant.get('url') %>"><%= grant.get('scientific_title') %></a>
                    <% } else { %>
                        <a href="<%= grant.get('url') %>">(Missing Title)</a>
                    <% } %>
                    <div style="width:100%;max-height:100px;overflow-y:auto;"><%= grant.get('description') %></div>
                </td>
                <td align="center">
                    <% if(grant.get('exclude')){ %>Yes<% } %>
                </td>
                <td>
                    <% if(grant.get('pi').id != 0){ %>
                        <%= grant.get('pi').reversedName %>
                    <% } %>
                    <% if(grant.get('external_pi') != ""){ %>
                        <%= grant.get('external_pi') %>
                    <% } %>
                </td>
                <td><div style="width:100%;max-height:118px;overflow-y:auto;"><%= grant.get('copi_string') %></div></td>
                <td><div style="width:100%;max-height:118px;overflow-y:auto;"><%= grant.get('sponsor') %></div></td>
                <td><%= grant.get('start_date') %></td>
                <td><%= grant.get('end_date') %></td>
                <td align="right"><%= number_format(grant.get('total')) %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
