<div id="deleteDialog" style="display:none;" title="Delete Grant">
    <div class="ui-icon ui-icon-alert" style="float:left; margin:50px 12px 50px 0;"></div><p>Use <b>"Exclude"</b> in to disassociate this Grant from your record. "Delete" will delete it for all the co-PI. Are you sure you want to delete it?</p>
    <input id="deleteCheck" type="checkbox" /> I have read and understand the implications of the above statement.
    <div class="throbber" style="float:right;display:none;"></div>
</div>
<p>
    <%= description %>
</p>
<table>
    <% if(this.person.get('id') != 0){ %>
        <tr>
            <td class="label">UofA PI:</td>
            <td><a href="<%= this.person.get('url') %>"><%= this.person.get('fullName') %></a></td>
        </tr>
    <% } %>
    <% if(external_pi != ""){ %>
        <tr>
            <td class="label">External PI:</td>
            <td><%= external_pi %></td>
        </tr>
    <% } %>
    <% if(copi.length > 0) { %>
        <tr>
            <td class="label">Co-PI:</td>
            <td id="copi"></td>
        </tr>
    <% } %>
    <% if(sponsor != ""){ %>
    <tr>
        <td class="label">Sponsor:</td>
        <td><%= sponsor %></td>
    </tr>
    <% } %>
    <% if(start_date != ""){ %>
    <tr>
        <td class="label">Start Date:</td>
        <td><%= start_date.substring(0, 10) %></td>
    </tr>
    <% } %>
    <% if(end_date != ""){ %>
        <tr>
            <td class="label">End Date:</td>
            <td><%= end_date.substring(0, 10) %></td>
        </tr>
    <% } %>
    <% if(title != ""){ %>
        <!--tr>
            <td class="label">Project Title:</td>
            <td><%= title %></td>
        </tr-->
    <% } %>
    <% if(project_id != ""){ %>
        <tr>
            <td class="label">Project ID:</td>
            <td><%= project_id %></td>
        </tr>
    <% } %>
    <tr>
        <td class="label">Total Amount:</td>
        <td>$<%= number_format(total, 2) %></td>
    </tr>
    <tr>
        <td class="label">My Portion:</td>
        <td>$<%= number_format(myportion, 2) %></td>
    </tr>
    <% if(adjusted_amount > 0){ %>
        <tr>
            <td class="label">Adjusted $/Year:</td>
            <td><%= number_format(adjusted_amount, 2) %></td>
        </tr>
    <% } %>
    <tr>
        <td class="label">Exclude<sup><span class="clicktooltip" style="font-size:1.25em;" title="If a Grant is marked as excluded, it will NOT show up in your profile or Annual Report.">&#9432;</span></sup>:</td>
        <td><%= HTML.CheckBox(this, 'exclude', {value: 1, default: 0, style: 'vertical-align:bottom;'}) %></td>
    </tr>
</table><br />
<button id="edit">Edit Grant</button>&nbsp;<button id="delete">Delete Grant</button>
