<td align="center" >
   <b><a href="<%= url %>" id="sop<%= id %>"><%= author.name %></a></b><br />
   <%=date_created %>   
</td>
<td align="right" style="white-space: nowrap;" id='GPA60'>
    <%= gsms.gpa60 %>
</td>
<td align="right" style="white-space: nowrap;" id='GPABest'>
    <% if(gsms.gpafull != ''){ %>
    <%= gsms.gpafull %>/<%= gsms.gpafull_credits %>
    <% } %>
</td>
<td id='anatomy'>
    <%= gsms.anatomy %>
</td>
<td id='stats'>
    <%= gsms.stats %>
</td>
<td id='degree'>
    <%= gsms.degree %><br /><%= gsms.institution %>
</td>
<td id='failures_withdrawals'>
    <%= gsms.failures %>
</td>
<td style="white-space: nowrap;" id='notes'>
    <%= gsms.notes %>
</td>
<td style="white-space: nowrap;">
<% for(var i=0; i < reviewers.length;i++){ %>
        <a href="<%= reviewers[i].url %>"><%= reviewers[i].name %></a> (<%= reviewers[i].decision %>)<br>

<% } %>
</td>
<td style="">
    <span id="span<%= id %>"></span>
</td>
