<td align="center" >
   <b><a href="<%= url %>" id="sop<%= id %>"><%= author.name %></a></b><br />
   <%=date_created %>   
</td>
<td align="right" style="white-space: nowrap;">
<%= word_count %>
</td>
<td align="right" style="white-space: nowrap;">
<%= reading_ease %> (of 100)
</td>
<td style="white-space: nowrap;">
<%= sentiment_type %> (<%= sentiment_val %>)
</td>
<td>
    <%if(pdf_data.Education != undefined){ %>
         <%= pdf_data.Education[0].degree%>/<%= pdf_data.Education[0].institution%>
    <%}else{%>
    <%}%>
</td>
<td style="white-space: nowrap;">

    <%if(pdf_data.Referees != undefined){ %>
        <% for(var i=0; i < pdf_data.Referees.length;i++){ %>
                <%= pdf_data.Referees[i].name %><br />
        <%}%>
    <%}else{%>
    <%}%>
</td>
<td style="white-space: nowrap;">
<% for(var i=0; i < reviewers.length;i++){ %>
        <a href="<%= reviewers[i].url %>"><%= reviewers[i].name %></a> (<%= reviewers[i].decision %>)<br>

<% } %>
</td>
<td style="">
    <span id="span<%= id %>"></span>
</td>
