#wgMessages > div {
    margin: 10px 10px 0 10px !important;
}

#bodyContent > h1 {
    display:none !important;
}

#bodyContent {
    padding:0 !important;
}

#footer {
    display: none;
}

#outerReport {
    width:100%;
    height:100%;
    position:relative;
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}

.hiddenFile {
    height: 30px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 100px;
  z-index: 2;

  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

.outerReportCustom {
    height:100%;
}

.bodyContentNoRoundedShadow {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.bodyContentCustom {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    z-index: 1001 !important;
    margin:0;
    padding:0 !important;
    border-width: 0 !important;
    min-height:100%;
    overflow: hidden;
}

table.small textarea {
    padding: 3px !important;
    font-size: 110%;
}

#contentSub {
    display:none !important;
}

#aboveTabs {
    height:10px;
    max-height:10px;
    min-height:10px;
    width:200px;
    background:#FFFFFF;
    
    -moz-top-left-border-radius:5px;
    -webkit-top-left-border-radius:5px;
    border-top-left-radius:5px;
    font-size: 0;
    line-height: 0;
}

#reportTabs {
    background: #FFFFFF;
    padding-bottom:15px;
    min-width:200px;
    padding-top:15px;
    padding-bottom:15px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #cccccc;
    position:absolute;
    top:0;
    bottom:0;
    display:block;
    width:200px;
}

#autosaveDiv {
    position:relative;
    text-align: right;
    right: 6px;
    margin-left:12px;
    margin-top:10px;
    height: 25px;
    color:#222222;
    text-shadow:1px 1px 0px #FFFFFF;
}

#optionsDiv {
    position: relative;
    left: 15px;
    right: 0;
    margin-right:30px;
    height:100%;
    color: #222222 !important;
    text-shadow:1px 1px 0px #FFFFFF;
}

#optionsDiv h3 {
    text-align: center;
    color: #222222 !important;
    text-shadow:1px 1px 0px #FFFFFF;
    font-weight: normal; 
}

#reportMain {
    width: 100%;
    display: table-cell;
    overflow: hidden;
    vertical-align:top;
    min-height:650px;
    height:650px;
}

#reportMain > div {
    overflow-x:auto !important;
    overflow-y:hidden !important;

    height:100%;
    position:relative;
    margin-left:1px;
    min-height:650px;
    height:650px;
}

#reportMain > div > div {
    min-width:650px;
    position:absolute;
    padding:10px;
    left:0;
    right:0;
}

#reportMain form {
    display:block;
}

#reportHeader{
    font-size: 160%;
    margin-bottom:11px;
    display:block;
    margin-left:10px;
    margin-right:10px;
}

#instructionsHeader {
    width: 100%;
    text-align:center;
    font-size: 160%;
    margin-bottom:11px;
    display:block;
}

#reportProgressLabel {
    display:inline-block;
    float:right;
    position: relative;
    font-size:14px;
    line-height: 20px;
    font-weight:bold;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #000000;
    width:100%;
    text-align: center;
}

#reportProgress {
    float: right;
    width: 225px;
    height: 20px;
    border: 1px solid #cccccc;
    position: relative;
}

#reportProgressBar {
    display:inline-block;
    height:100%;
    position: absolute;
    background-size: 1px 18px;
    background-repeat: repeat-x;
    color: #222222; 
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: #000000 1px 1px 2px;
}

#reportBody {
    margin:10px;
    display:block;
    min-height:550px;
}

#reportFooter {
    margin-top:15px;
    display:block;
    margin-left:10px;
    margin-right:10px;
    padding-bottom:5px;
}

.program-body #reportFooter input {
    width: 140px !important;
}

#reportInstructions {
    font-size: 11px;
    display:table-cell;
    max-height: 550px;
    position:static;
    vertical-align:top;
    min-width: 230px;
    max-width: 230px;
}

#reportInstructions > div {
    overflow: auto;
    position:absolute;
    max-height:550px;
    min-width: 210px;
}

#reportInstructions > div > div {
    padding:10px;
    text-align: left;
}

.reportInstructionsCustom {
    min-height: 100% !important;
    max-height: 100% !important;
    position: static !important;
}

.reportInstructionsCustom > div {
    min-height: 100% !important;
    max-height: 100% !important;
    position: static !important;
}

#instructionsToggle {
    min-width: 6px;
    max-width: 6px;
    height: 100%;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 0 1px;
    border-style: solid;
    border-color: #cccccc;
    background:-webkit-gradient( linear, left top, right top, color-stop(0.05, #f8f8f8), color-stop(1, #E8E8E8) );
    background:-moz-linear-gradient(left, #f8f8f8 5%, #E8E8E8 100% );
    background: -o-linear-gradient(left, #f8f8f8, #E8E8E8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#E8E8E8', GradientType=1);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #E8E8E8 100%);
    background-color:#f8f8f8;
    text-decoration:none;
    font-weight: bold;
    text-shadow:1px 1px 0px #FFFFFF;
    box-shadow:inset 0 0 1px 0 #f8f8f8;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    top:0;
    bottom:0;
    cursor: ew-resize;
}

a.reportTab {
    display:block;
    white-space: nowrap;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left:15px;
    padding-left:17px;
    padding-right:5px;
    line-height:25px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #cccccc;
    margin-bottom:5px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f8f8f8), color-stop(1, #E8E8E8) );
    background:-moz-linear-gradient( center top, #f8f8f8 5%, #E8E8E8 100% );
    background: -o-linear-gradient(top, #f8f8f8, #E8E8E8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#E8E8E8');
    background: -ms-linear-gradient(top, #f8f8f8 0%, #E8E8E8 100%);
    background-color:#f8f8f8;
    -moz-top-left-border-radius:3px;
    -moz-bottom-left-border-radius:3px;
    -webkit-top-left-border-radius:3px;
    -webkit-bottom-left-border-radius:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    font-family: "Roboto", Arial, Verdana, sans-serif;
    font-size:13px;
    text-decoration:none;
    font-weight: bold;
    text-shadow:1px 1px 0px #FFFFFF;
    box-shadow:inset 0 0 1px 0 #f8f8f8;
    position:relative;
    cursor: pointer;
}

a.reportTab:hover {
    text-decoration:none;
    -moz-box-shadow:inset 0 0 3px 0 #f8f8f8, 0 0 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:inset 0 0 3px 0 #f8f8f8, 0 0 2px rgba(0, 0, 0, 0.25);
    box-shadow:inset 0 0 3px 0 #f8f8f8, 0 0 2px rgba(0, 0, 0, 0.25);
    background-color:#E8E8E8;
    cursor: pointer;
}

a.selectedReportTab, a.fakeSelectedReportTab {
    padding-right:6px;
    background:#FFFFFF !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
    margin-right:-1px;
    -moz-box-shadow:inset 0 0 3px 0 #ffffff, 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow:inset 0 0 3px 0 #ffffff, 0 0 0 rgba(0, 0, 0, 0);
    box-shadow:inset 0 0 3px 0 #ffffff, 0 0 0 rgba(0, 0, 0, 0);
}

a.selectedReportTab:hover, a.fakeSelectedReportTab:hover {
    background:#FFFFFF !important;
    -moz-box-shadow:inset 0 0 3px 0 #ffffff, 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow:inset 0 0 3px 0 #ffffff, 0 0 0 rgba(0, 0, 0, 0);
    box-shadow:inset 0 0 3px 0 #ffffff, 0 0 0 rgba(0, 0, 0, 0);
}

span.tabPercent {
    float:right;
    text-decoration:none !important;
    color:#8C529D !important;
}

.curr_chars {
	color:red; 
	font-weight:normal; 
	font-style:italic;
	font-size: 12px;
}

a.disabled_lnk, div.disabled_bg{
    pointer-events:none !important; 
    cursor:none; 
    color:#999 !important; 
    background: lightgray !important;
}

div.disabled_bg h4{
    color: #999 !important;
}

div.eula {
    background: #EEEEEE;
    color: #555555;
    max-height: 500px;
    overflow-y: scroll;
    padding: 5px;
    border: 1px solid #cccccc;
}


/* For radiobuttons -> checkmarks? */

div.options{
	padding-top:10px;
}

div.options > label > input {
	visibility: hidden;
}

div.options > label {
	display: block;
}

div.options > label > img {
	display: inline-block;
	padding: 0px;
	height:30px;
	width:30px;
	background: none;
	float:right;
	border: 2px solid #00587e;
}

div.options > label > input:checked +img {
	background: url(../../../../skins/checkavoid.png);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:30px 30px;
	border: 2px solid #00587e;
}
.label-top-slider{
    display: block;
    width: 170px;
    margin-bottom: 20px;
    font-size: 0.8em;
    text-align:center;
}

.label-bottom-slider{
    display: block;
    width: 170px;
    font-size: 0.8em;
    text-align:center;
}


.slider-wrapper {
  display: inline-block;
}

.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin-left: 63px;
  transform-origin: 125px 120px;
  transform: rotate(-90deg);
}

.flex-slider {
    position: absolute; 
    top: 30px; 
    right: 20px;
    overflow: hidden;
}

.label-health{
    display: inline-block;
    width: 7em;
    min-width: 150px;
    height: 4.5em;
    border-style: solid;
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 260px;
    margin-right: 125px;
}

.headers-behaviour{
    padding-top:30px;
}

@media only screen and (max-width: 767px) {
    
    .flex-slider {
        position: static;
    }
    
    .label-health {
        margin-right: 0;
    }
    
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
