<% if(isAllowedToCreateElitePostings){ %>
    <a href="#/<%= this.model.type.toLowerCase() %>/new" class="button" id="add"><span class='en'>Create New</span><span class='fr'>Créer un nouveau</span></a><br /><br />
<% } %>
<table id="postings" frame="box" rules="all">
    <thead>
        <tr>
            <th width="1%" style="white-space: nowrap;">Date</th>
            
            <th style="white-space: nowrap;"><span class='en'>Company Name</span><span class='fr'>Nom de la compagnie</span></th>
            <th style="white-space: nowrap;"><span class='en'>Position Title</span><span class='fr'>Titre de la position</span></th>
            <th width="1%" style="white-space: nowrap;"><span class='en'>Status</span><span class='fr'>Statut</span></th>
            <% if(isAllowedToCreateElitePostings){ %>
                <th width="1%"><span class='en'>Clone</span><span class='fr'>Dupliquer</span></th>
                <th width="1%"><span class='en'>Delete</span><span class='fr'>Supprimer</span></th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(posting){ %>
            <tr>
                <td style="white-space: nowrap;">
                    <span style="display:none;"><%= posting.get('created') %></span><%= dateTimeHelpers.formatDate(posting.get('created')) %>
                </td>
                <td>
                    <%= posting.get('extra').companyName %>
                </td>
                <td>
                    <a href="<%= posting.get('url') %>" ><%= posting.get('title') %></a>
                </td>
                <td align="center">
                    <%= posting.get('visibility') %>
                </td>
                <% if(isAllowedToCreateElitePostings){ %>
                    <td align="center">
                        <% if(posting.get('isAllowedToEdit')){ %>
                            <span id="<%= posting.get('id') %>" class="copy-icon"></span>
                        <% } %>
                    </td>
                    <td align="center">
                        <% if(posting.get('isAllowedToEdit')){ %>
                            <span id="<%= posting.get('id') %>" class="delete-icon"></span>
                        <% } %>
                    </td>
                <% } %>
            </tr>
        <% }.bind(this)) %>
    </tbody>
</table>
