<div>
    <p>All items with a <span style="color:red;">*</span> require mandatory responses</p>
    <table>
        <tr>
            <td class="label required" style="width: 1%;">Position Title:</td>
            <td class="value"><%= HTML.TextBox(this, 'title', {style: 'width: 675px;'}) %></td>
        </tr>
        <tr>
            <td class="label required">Company Name:</td>
            <td class="value"><%= HTML.TextBox(this, 'extra.companyName', {size: 50}) %></td>
        </tr>
        <tr>
            <td class="label">Company Website:</td>
            <td class="value"><%= HTML.TextBox(this, 'articleLink', {size: 50}) %></td>
        </tr>
        <tr>
            <td class="label required">Company Profile:</td>
            <td clas="value"><%= HTML.TextArea(this, 'extra.companyProfile', {style: 'height: 150px; width:685px;'}) %></td>
        </tr>
        <tr>
            <td class="label required">Reports to:</td>
            <td class="value"><%= HTML.TextBox(this, 'extra.reportsTo', {size: 50}) %></td>
        </tr>
        <tr>
            <td class="label required">Based in:</td>
            <td class="value"><%= HTML.Select(this, 'extra.basedAt', {options: _.pluck(cities, 'name')}) %></td>
        </tr>
        <tr>
            <td class="label required">Contact Person:</td>
            <td class="value"><%= HTML.TextBox(this, 'extra.contact', {size: 20}) %></td>
        </tr>
        <tr>
            <td class="label required">Email Address:</td>
            <td class="value"><%= HTML.TextBox(this, 'extra.email', {size: 20}) %></td>
        </tr>
        <tr>
            <td class="label required">Phone Number:</td>
            <td class="value"><%= HTML.TextBox(this, 'extra.phone', {size: 20}) %></td>
        </tr>
        <tr>
            <td class="label required">Project Description:</td>
            <td class="value"><%= HTML.TextArea(this, 'summary', {style: 'height: 150px; width:685px;'}) %></td>
        </tr>
        <tr>
            <td class="label left-align required" colspan="2">Specialized Training and Skills Development:</td>
        </tr>
        <tr>
            <td></td>
            <td class="value"><%= HTML.TextArea(this, 'extra.training', {style: 'height: 200px; width:685px;'}) %></td>
        </tr>
        <tr>
            <td class="label left-align required" colspan="2">Specific Responsibilities Include:</td>
        </tr>
        <tr>
            <td></td>
            <td class="value"><%= HTML.TextArea(this, 'extra.responsibilities', {style: 'height: 200px; width:685px;'}) %><br /></td>
        </tr>
        <tr>
            <td class="label required">Required Qualifications:</td>
            <td class="value"><%= HTML.TextArea(this, 'extra.qualifications', {style: 'height: 200px; width:685px;'}) %><br /></td>
        </tr>
        <tr>
            <td class="label">Desired Qualifications:</td>
            <td class="value"><%= HTML.TextArea(this, 'extra.skills', {style: 'height: 200px; width:685px;'}) %><br /></td>
        </tr>
        <tr>
            <td class="label required" title="Desired Academic Level of Intern">Desired Academic Level:</td>
            <td class="value"><%= HTML.Select(this, 'extra.level', {options: ["Any Level","High School","Post-secondary"] }) %></td>
        </tr>
        <tr>
            <td class="label required" title="Number of Positions Available"># Positions Available:</td>
            <td class="value"><%= HTML.TextBox(this, 'extra.positions', {size: 4}) %></td>
        </tr>
    </table>
</div>
<div style="width:120px;display:inline-block;">
    <button id="savePosting">
        <% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %>
    </button><span class="throbber" style="display:none;"></span>
</div>
<div style="width:120px;display:inline-block;">
    <button id="cancel">Cancel</button>
</div>
