<div id="reviewDialog" title="Review of Candidate Interview">
    
</div>
<table id="profiles" frame="box" rules="all">
    <thead>
        <tr>
            <th width="1%" style="white-space: nowrap;">Created</th>
            <th style="white-space: nowrap;">Applicant</th>
            <th>Matched Projects</th>
            <th width="1%">Profile</th>
            <!--th>Interview/Review</th-->
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(profile){ %>
            <tr>
                <td style="white-space: nowrap;">
                    <span style="display:none;"><%= profile.get('created') %></span><%= dateTimeHelpers.formatDate(profile.get('created')) %>
                </td>
                <td>
                    <%= profile.get('user').fullName %>
                </td>
                <td>
                    <% _.each(_.filter(profile.get('matches'), function(match){ return match.userId == me.get('id'); }), function(match){ %>
                        <%= match.title %> (<%= match.extra.companyName %>)<br />
                    <% }) %>
                </td>
                <td align="center" style="white-space:nowrap;">
                    <a href="<%= profile.get('pdf') %>">Download PDF</a>
                    <% _.each(_.first(profile.get('letters'), 2), function(letter, i){ %>
                        <div><a href="<%= letter %>">Reference <%= i+1 %></a></div>
                    <% }) %>
                </td>
                <!--td>
                    <button class="review" data-id="<%= profile.get('id') %>">Review</button>
                    <div id="review_<%= profile.get('id') %>" style="display:none;">
                        <h3>Review</h3>
                        <textarea></textarea>
                        <h3>Would you like to hire this candidate?</h3>
                        <input type="radio" value="Yes" /> Yes<br />
                        <input type="radio" value="No" /> No
                    </div>
                </td-->
            </tr>
        <% }.bind(this)) %>
    </tbody>
</table>
