<% if(!this.isDialog){ %>
    <a class="button" href="<%= wgServer + wgScriptPath %>/index.php/Special:ElitePostingPage#" style="position: absolute; top: 15px; right: 20px;">Back to Project Proposals</a>
<% } %>
<div>
    <% if(visibility == "Requested More Info"){ %>
        <div class="info">
            <b><%= visibility %></b><br />
            <%= nl2br(comments) %>
        </div>
    <% } %>
    <table>
        <tr>
            <td class="label">Position Title:</td>
            <td class="value"><%= title %></td>
        </tr>
        <tr>
            <td class="label">Company Name:</td>
            <td class="value">
                <% if(articleLink != ""){ %>
                    <a target="_blank" href="<%= articleLink %>"><%= companyName %></a>
                <% } else { %>
                    <%= companyName %>
                <% } %>
            </td>
        </tr>
        <% if(companyProfile != ""){ %>
            <tr>
                <td class="label">Company Profile:</td>
                <td class="value"><%= companyProfile %></td>
            </tr>
        <% } %>
        <% if(reportsTo != ""){ %>
            <tr>
                <td class="label">Reports to:</td>
                <td class="value"><%= reportsTo %></td>
            </tr>
        <% } %>
        <% if(basedAt != ""){ %>
            <tr>
                <td class="label">Based in:</td>
                <td class="value"><%= basedAt %></td>
            </tr>
        <% } %>
        <% if(contact != ""){ %>
            <tr>
                <td class="label">Contact Person:</td>
                <td class="value"><%= contact %></td>
            </tr>
        <% } %>
        <% if(email != ""){ %>
            <tr>
                <td class="label">Email Address:</td>
                <td class="value"><a href="mailto:<%= email %>"><%= email %></a></td>
            </tr>
        <% } %>
        <% if(phone != ""){ %>
            <tr>
                <td class="label">Phone Number:</td>
                <td class="value"><%= phone %></td>
            </tr>
        <% } %>
        <% if(summary != ""){ %>
            <tr>
                <td class="label">Project Description:</td>
                <td class="value"><%= summary %></td>
            </tr>
        <% } %>
        <% if(training != ""){ %>
            <tr>
                <td class="label left-align" colspan="2">Specialized Training and Skills Development:</td>
            </tr>
            <tr>
                <td class="value" colspan="2"><%= training %></td>
            </tr>
        <% } %>
        <% if(responsibilities != ""){ %>
            <tr>
                <td class="label left-align" colspan="2">Specific Responsibilities Include:</td>
            </tr>
            <tr>
                <td class="value" colspan="2"><%= responsibilities %></td>
            </tr>
        <% } %>
        <% if(qualifications != ""){ %>
            <tr>
                <td class="label left-align" colspan="2">Required Qualifications:</td>
            </tr>
            <tr>
                <td class="value" colspan="2"><%= qualifications %></td>
            </tr>
        <% } %>
        <% if(skills != ""){ %>
            <tr>
                <td class="label left-align" colspan="2">Desired Qualifications:</td>
            </tr>
            <tr>
                <td class="value" colspan="2"><%= skills %></td>
            </tr>
        <% } %>
        <% if(level != ""){ %>
            <tr>
                <td class="label left-align" colspan="2">Desired Academic Level:</td>
            </tr>
            <tr>
                <td class="value" colspan="2"><%= level %></td>
            </tr>
        <% } %>
        <% if(positions != ""){ %>
            <tr>
                <td class="label left-align" colspan="2">Number of Positions Available:</td>
            </tr>
            <tr>
                <td class="value" colspan="2"><%= positions %></td>
            </tr>
        <% } %>
    </table>
</div>
<% if(isAllowedToEdit && !this.isDialog){ %>
    <button id='editPosting'>Edit</button>&nbsp;<button id='deletePosting'>Delete</button>
<% } %>
