<div id="acceptDialog" title="Accept Profile" style="display:none;">
    Are you sure you want to accept this profile?<br />
    <div id='fileSizeError' class='error' style='display:none;'>This file is too large, please choose a file smaller than 5MB</div>
    <b>Attachment:</b><br /><input type="file" name="document" /> (5MB max)
</div>
<div id="shortlistDialog" title="Shortlist Profile" style="display:none;">
    Are you sure you want to shortlist this profile?
</div>
<div id="moreDialog" title="Request More Information" style="display:none;">
    <b>Message:</b><br />
    <textarea id="moreComments" style="width:400px;height:100px;"></textarea>
</div>
<div id="receivedDialog" title="Receive Profile" style="display:none;">
    Are you sure you want to receive this profile?
</div>
<div id="rejectDialog" title="Reject Profile" style="display:none;">
    Are you sure you want to reject this profile?
</div>
<div id="declineDialog" title="Decline Profile" style="display:none;">
    Are you sure you want to decline this profile?
</div>
<div id="matchDialog" title="Match Profile to Projects">
    
</div>
<div id="matchConfirmDialog" title="Match Profile to Projects">
    Are you sure you want to match this profile to the following projects?
    <ul>
        
    </ul>
</div>
<table id="profiles" frame="box" rules="all">
    <thead>
        <tr>
            <th width="1%" style="white-space: nowrap;">Created</th>
            <th style="white-space: nowrap;">Applicant</th>
            <th style="white-space: nowrap;">Region</th>
            <th width="1%">Profile</th>
            <th>Projects</th>
            <th width="1%" style="white-space: nowrap;">Status</th>
            <th width="1%" style="white-space: nowrap;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% this.model.each(function(profile){ %>
            <tr>
                <td style="white-space: nowrap;">
                    <span style="display:none;"><%= profile.get('created') %></span><%= dateTimeHelpers.formatDate(profile.get('created')) %>
                </td>
                <td>
                    <%= profile.get('user').fullName %>
                </td>
                <td>
                    <%= profile.get('region') %>
                </td>
                <td align="center" style="white-space:nowrap;">
                    <a href="<%= profile.get('pdf') %>">Download PDF</a>
                    <% _.each(_.first(profile.get('letters'), 2), function(letter, i){ %>
                        <div><a href="<%= letter %>">Reference <%= i+1 %></a></div>
                    <% }) %>
                </td>
                <td>
                    <% _.each(profile.get('projects'), function(project){ %>
                        <span style="<% if(_.pluck(profile.get('matches'), 'id').indexOf(project.id) !== -1){ %> font-weight:bold; <% } %>
                                     <% if(profile.get('hires')[project.id] == 'Accepted'){ %> color:green; <% } %>
                                     <% if(profile.get('hires')[project.id] == 'Rejected'){ %> color:red; <% } %>">
                            <%= project.title %> - <%= project.extra.companyName %> (<%= project.extra.region %>)<br />
                        </span>
                    <% }) %>
                </td>
                <td align="center">
                    <%= profile.get('status') %>
                </td>
                <td style="white-space:nowrap;" align="center">
                    <% if(profile.get('status') == "Submitted"){ %>
                        <button class="received" data-id="<%= profile.get('id') %>">Receive</button>
                    <% } else if(profile.get('status') == "Received"){ %>
                        <button class="shortlist" data-id="<%= profile.get('id') %>">Shortlist</button>
                        <!--button class="more" data-id="<%= profile.get('id') %>">More Info</button-->
                        <button class="reject" data-id="<%= profile.get('id') %>">Reject</button>
                    <% } else if(profile.get('status') == "Shortlist"){ %>
                        <button class="match" data-id="<%= profile.get('id') %>">Match</button>
                        <button class="accept" data-id="<%= profile.get('id') %>">Accept</button>
                        <div id="match_<%= profile.get('id') %>" style="display:none;">
                            <ol>
                                <% _.each(profile.get('projects'), function(project){ %>
                                    <li><input type="checkbox" value="<%= project.id %>" <% if(_.pluck(profile.get('matches'), 'id').indexOf(project.id) !== -1){ %> checked <% } %> /> <%= project.title %> - <%= project.extra.companyName %> (<%= project.extra.region %>)</li>
                                <% }) %>
                                <% _.each(profile.get('otherProjects'), function(project){ %>
                                    <li><%= project.name %> <% if(project.email != ''){ %> (<%= project.email %>) <% } %></li>
                                <% }) %>
                            </ol>
                        </div>
                        <button class="reject" data-id="<%= profile.get('id') %>">Reject</button>
                        <button class="decline" data-id="<%= profile.get('id') %>">Decline</button>
                    <% } %>
                </td>
            </tr>
        <% }.bind(this)) %>
    </tbody>
</table>
