<div id="dialogMessages"></div>
<form id="eventform" class="navbar-form">
<table id="eventData">
    <tr>
        <td class="label">Name of Expert:</td>
	<td class="field"><input type="text" id="name_of_expert" name="name_of_expert" value="<%= name_of_expert%>"></td>
    </tr>
    <tr>
        <td class="label">Expert Field:</td>
        <td class="field"><input type="text" id="expert_field" name="expert_field" value="<%= expert_field %>"></td>
    </tr>
    <tr>
        <td class="label">Date:</td>
        <td class="field"><input type="date" id="date_of_event" name="date_of_event" value="<%= date %>"></td>
    </tr>
    <tr>
        <td class="label">Time:</td>
        <td><input type="time" id="time_of_event" name="time_of_event" value="<%= time %>"></td>
    </tr>
    <tr>
        <td class="label">Zoom Link:</td>
        <td class="field"><input type="text" id="zoomlink" name="zoomlink" value="<%= zoomlink%>"></td>
    </tr>
</table>
<br />
    <% if(!this.isDialog){ %>

    <div style="display:inline-block;">
        <button id='saveEvent'>Save</button><span class="throbber" style="display:none;"></span>
    </div>

    <div style="display:inline-block;">
        <button id='cancel'>Cancel</button>
    </div>
    <% } %>
</form>
