/* Any custom styles should go here */
/* Tooltip container */

#bodyContent {
    overflow-y: auto !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.annotator-filter{top: inherit;
		}

span#infinity {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

span#infinity:hover {
    cursor: pointer;
}

#editDialog {
    font-size: 9pt;
}

div.ui-dialog-buttonpane {
    margin: 0 !important;
    padding: 0.5em 1em 0.5em !important;
}

table.wikitable {
    border: hidden !important;
    margin: 0;
    padding: 0;
}

table.wikitable tr.even {
    background: #FFFFFF;
}

table.wikitable tr.odd {
    background: #F2F2F2;
}

table.wikitable tr.deleted {
    background: #FEB8B8;
}

/* AtD error styles */

.hiddenSpellError
{
   border-bottom: 2px solid red;
   cursor: default;
}

.hiddenGrammarError
{
   border-bottom: 2px solid green;
   cursor: default;
}

.hiddenSuggestion
{
   border-bottom: 2px solid blue;
   cursor: default;
}

/* */
.AtD_proofread_button 
{
   width: 14px;
   height: 14px;
   background-image: url('../images/writing.gif');
   display: block;
}

.AtD_edit_button 
{
   width: 14px;
   height: 14px;
   background-image: url('../images/editing.gif');
   display: block;
}

/* Menu styles derived from:
 * jquery.spellchecker.js - a simple jQuery Spell Checker
 * Copyright (c) 2008 Richard Willis
 * MIT license  : http://www.opensource.org/licenses/mit-license.php
 * Project      : http://jquery-spellchecker.googlecode.com
 */

#suggestmenu 
{
   background: #fff;
   position: absolute;
   display: none;
   z-index: 9999;
   overflow: none;
   margin-top: 1px;
   text-align: left;
   font-size: 12px;
   font-family: Tahoma, Verdana, Arial, Helvetica;
}

#suggestmenu strong 
{
   background: #ddd;
   font-weight: bold;
   padding:3px 6px 3px 6px;    
   display:block;               
   border:1px solid #ccc;
   color: black;
}

#suggestmenu em 
{
   text-align:center;    
   padding:3px 6px 3px 6px;    
   display:block;               
   border-top:1px solid #ccc;
   border-left:1px solid #ccc;
}

#suggestmenu a, #suggestmenu a:visited 
{
   background: #fff;
   border-left:1px solid #bbb;
   border-right:1px solid #bbb;
   padding:3px 6px 3px 6px;
   display:block;
   margin:0px;
   text-decoration:none;
   color:#333;
   outline:none
}

#suggestmenu a.first, #suggestmenu a.first:visited 
{
   border-top:1px solid #ccc
}

.spell_sep_bottom 
{
   border-bottom: 1px solid #ccc;
}

.spell_sep_top 
{
   border-top: 1px solid #ccc;
}

#suggestmenu a:hover 
{
   color:#000;
   background: #dbecf3
}

#suggestmenu .foot 
{
   border-top:1px solid #ddd;
   background:#fff
}

#suggestmenu .foot a, #suggestmenu .foot a:visited 
{
   outline:none
}


/***
 * Annotator Categories Plugin CSS.
 ***/

.annotator-categories {
    border-top: solid 1px #eee;
}

.annotator-category:hover {
    cursor: pointer;
}

.annotator-categories h4{
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 5px;
}

.annotator-viewer ul li .annotator-category {
    text-align: center;
    width: 33%;
}

.annotator-category {
    padding: 7px;
    margin: 1px 1px 0px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    color: black;
    display: inline-block;
    background-color: rgba(255, 255, 10, .3);
}

.annotator-category-none {

}

/* For different color categories, set different color values here */
.annotator-category-0,
.annotator-category-1,
.annotator-category-2,
.annotator-category-3,
.annotator-category-4,
.annotator-category-5,
.annotator-category-6,
.annotator-category-7
{
    background-color: rgba(22,147,165, .2);
}

.annotator-category-selected {
    background-color: rgba(196,223,44,1) !important;
}

#annotation-plugin-select-category{
    width: 100%;
}
.annotator-filter{
    position:static !important;

}

    .multiselect {
        width: 350px;
    }

    .multiselect2 {
        width: 30px;
    }
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}
.checkboxesSelect {
    display: none;
    border: 1px #dadada solid;
    z-index:10000;
}
.checkboxesSelect label {
    display: block;
}
.checkboxesSelect label:hover {
    background-color: #1e90ff;
}

#nationboxes {
    display: none;
    border: 1px #dadada solid;
    z-index:10000;
    width:130px;
}
#nationboxes label {
    display: block;
}
#nationboxes label:hover {
    background-color: #1e90ff;
}

.ellipsis {
  overflow: hidden;
  max-height: 94px;
  line-height: 1.5em;
  display: inline-block;
}

.ellipsis:before {
  content:"";
  float: left;
  width: 5px; height: 100px; }

.ellipsis > *:first-child {
  text-align: left;
  float: right;
  width: 100%;
  margin-left: -5px; }    

.ellipsis:after {
  content: "\02026";  

  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

  float: right; position: relative;
  top: -20px; left: 100%; 
  width: 3em; margin-left: -3em;
  padding-right: 5px;
  
  text-align: right;
}

.ellipsis .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#filter-pane {
  width: 310px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  background: #FCFCFC;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  position: fixed;
  left: -365px;
  top: 125px;
  bottom: 10px;
  z-index: 2;
}

#filter-header {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #079651;
  text-align: center;
}

#filter-container {
  overflow-y: auto;
  padding-right: 16px;
  overflow-x: hidden;
  width: 100%;
  height: -moz-calc(100% - 45px);
  height: -webkit-calc(100% - 45px);
  height: -o-calc(100% - 45px);
  height: calc(100% - 45px);
  margin-top: 8px;
}

#clearFiltersButton {
  width: 50%;
  margin: 0 auto;
}

.flex-container {
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
  -webkit-align-items: baseline; /* Safari */
  align-items:         baseline;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

.flex-item {
  -webkit-flex-grow: <number>; /* Safari */
  flex-grow:         <number>;
  min-width: 0px; 
  max-width: 1000px;
  flex-grow: 1;
  /*flex-basis: 350px;*/
  display: inline-block;
  vertical-align: top;
  /*box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);*/
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  line-height: 18px;
  padding: 6px;
  background: #F5F5F5;
  border-radius:5px;
  /*border: 1px solid darkgrey;*/
  font-family: Helvetica, Verdana, sans-serif;
  color: #444444;
}

table.gsms-mini-table tr:nth-child(even) {
  background-color: #EEE;
}

table.gsms-mini-table tr:nth-child(odd) {
  background-color: #FFF;
}

#scrollOuter {
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
  overflow-x: scroll;
  z-index: 1;
}

#customScroll {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#notes .assign_button a, #notes .assign_button a:hover {
    margin: 0 0 3px 10px;
}

.dataTables_scrollHead {
    width: auto !important;
    margin-right: 15px;
    border-right: 1px solid #c8c8c8 !important;
}

.dataTables_scroll {
    background: #e3e3e3;
}

td.scrollableCell {
    padding: 0 !important;
}

td.scrollableCell > div.scrollableCell {
    padding: 3px 10px;
    overflow-y: auto;
    height: 150px;
    max-height: 150px;
}

