.basic_info {
	margin-bottom: 20px;
}

.label {
	font-weight: bold;
}

#publication_details, #details_div, #leaders_details_div, #total_details_div {
	border: 1px solid #ccc;
	width: 880px;
	margin-top: 10px;
    padding: 10px;
	position: relative;
}

button.hide_div {
	position: absolute; 
	top: 3px; 
	right: 3px;
}

.workflow_nav {
	font-size: 14px;
	margin: 40px 0;
}

#instructions {
	margin: 20px 0;
}

input.short {
	width: 40px;
}

/*HQP/NI REPORT*/
#hqp_report_wrapper, #ni_report_wrapper, #ni_budget_wrapper, #ldr_report_wrapper, #ldr_comments_wrapper, #ldr_budget_wrapper {
	width: 900px;
}

#hqp_report_wrapper textarea, #ni_report_wrapper textarea{
	resize: vertical;
	width: 99.5%;
}

.blob_header {
	font-weight: bold;
	font-size: 13px;
}

.project_header {
	font-weight: bold;
	font-size: 12px;
	font-style: italic;
}
.curr_chars {
	color:red; 
	font-weight:normal; 
	font-style:italic;
	font-size: 12px;
}

.report_button {
	background-color: #F3EBF5;
	/*border: 2px outset #DDDDDD;*/
	color: #003399;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}
.report_button:active {
	background-color: #EADDED;
}

/*PROJECT REPORTS*/
.project_ldr_q_wrapper fieldset table td input {
	margin-left: 0em;
}
.project_ldr_q_wrapper dl dt {
	padding-top: 5px;
	padding-bottom: 5px;
}

th.headerSortUp { 
    background-image: url(asc.gif) !important; 
    background-color: #EADDED !important; 
}

th.headerSortDown { 
    background-image: url(desc.gif) !important; 
    background-color: #EADDED !important; 
}

th.header { 
    background-image: url(asc_desc.gif);     
    cursor: pointer; 
	color: #003399;
    background-repeat: no-repeat; 
    background-position: center left; 
	background-color: #F3EBF5;
	padding-left: 20px;
	padding-right: 3px; 
	border-right: 1px solid #dad9c7; 
	text-align: left;
	/*margin-left: -1px;*/
}

th.header2 { 
	color: #003399;
	background-color: #F3EBF5;
}
#loadingDiv {
	background-color: #F3EBF5;
	left: 500px;
	padding: 80px;
	position: absolute;
	top: 300px;
	display: none;
}
