<% if(this.model.length > 0){ %>
    <p style="margin-bottom: 0;"><b>Action Plans Log - Review your accomplishments!</b></p>
    <div style="max-height: 9em; overflow-y: auto;">
    <ul>
        <% this.model.each(function(action){ %>
            <% if(action.get('submitted')){ %>
                <li>
                    <a class="viewActionPlan" href="#" data-id="<%= action.id %>">
                        <%= dateTimeHelpers.formatDate(action.get('date'), 'yyyy-MM-dd', 'd MMMM, yyyy') %>
                        <% if(action.getComponents().length > 0){ %>
                            <span> - <%= action.getComponents().join(", ") %></span>
                        <% } %>
                    </a>
                </li>
            <% } %>
        <% }) %>
    </ul>
    </div>
<% } %>
