<p><b>Action Plan Daily Tracker - Accomplished your plan today?</b></p>
<table class='wikitable' style='width: 100%;'>
    <tr>
        <th style='width: 14.2%;'>Mon</th>
        <th style='width: 14.2%;'>Tue</th>
        <th style='width: 14.2%;'>Wed</th>
        <th style='width: 14.2%;'>Thu</th>
        <th style='width: 14.2%;'>Fri</th>
        <th style='width: 14.2%;'>Sat</th>
        <th style='width: 14.2%;'>Sun</th>
     </tr>
     <tr>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Mon', {value: 1}) %></td>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Tue', {value: 1}) %></td>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Wed', {value: 1}) %></td>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Thu', {value: 1}) %></td>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Fri', {value: 1}) %></td>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Sat', {value: 1}) %></td>
        <td class='checkCell' align='center'><%= HTML.CheckBox(this, 'tracker.Sun', {value: 1}) %></td>
     </tr>
</table>
