<h3>What is one broader goal you’d like to start working on now?</h3>
<%= nl2br(goals) %>

<h3>What do you think are the barriers or challenges to meeting this goal?</h3>
<%= nl2br(barriers) %>

<h3>My Action Plan This Week</h3>
<b>Date:</b> <%= dateTimeHelpers.formatDate(date, 'yyyy-MM-dd', 'd MMMM, yyyy') %><br /><br />
<%= nl2br(plan) %>

<p><b>Action Plan Daily Tracker - Accomplished your plan today?</b></p>
<table class='wikitable' style='width: 100%;'>
    <tr>
        <th style='width: 14.2%;'>Mon</th>
        <th style='width: 14.2%;'>Tue</th>
        <th style='width: 14.2%;'>Wed</th>
        <th style='width: 14.2%;'>Thu</th>
        <th style='width: 14.2%;'>Fri</th>
        <th style='width: 14.2%;'>Sat</th>
        <th style='width: 14.2%;'>Sun</th>
     </tr>
     <tr>
        <td class='checkCell' align='center'><% if(tracker.Mon == 1){ %> &#10003; <% } %></td>
        <td class='checkCell' align='center'><% if(tracker.Tue == 1){ %> &#10003; <% } %></td>
        <td class='checkCell' align='center'><% if(tracker.Wed == 1){ %> &#10003; <% } %></td>
        <td class='checkCell' align='center'><% if(tracker.Thu == 1){ %> &#10003; <% } %></td>
        <td class='checkCell' align='center'><% if(tracker.Fri == 1){ %> &#10003; <% } %></td>
        <td class='checkCell' align='center'><% if(tracker.Sat == 1){ %> &#10003; <% } %></td>
        <td class='checkCell' align='center'><% if(tracker.Sun == 1){ %> &#10003; <% } %></td>
     </tr>
</table>
