<img src="<%= wgServer + wgScriptPath %>/skins/bg_top2.png" style="z-index: -2; position: absolute; top:0; left: 0; right:0; width: 100%;" />
<div class='logos'>
    <img src="<%= wgServer + wgScriptPath %>/skins/logo3.png" />
    <img style="width:12.5%;" src="<%= wgServer + wgScriptPath %>/skins/logo2.png" />
    <img src="<%= wgServer + wgScriptPath %>/skins/logo1.png" />
</div>

<div class="actionPlanTitle">My Weekly<br />Action Plan</div>

<h3>What is one broader goal you’d like to start working on now?</h3>
<div class="textarea">
    <%= nl2br(goals) %>
</div>

<h3>What do you think are the barriers or challenges to meeting this goal?</h3>
<div class="textarea">
    <%= nl2br(barriers) %>
</div>

<h3>My Action Plan This Week</h3>
<div class="textarea">
    <b>Date:</b> <%= dateTimeHelpers.formatDate(date, 'yyyy-MM-dd', 'd MMMM, yyyy') %><br /><br />
    <%= nl2br(plan) %>
</div>

<h4>What AVOID component(s) does your action plan address?</h4>
<% if(components != null){ %>
    <ul>
        <% if(components.A == "1"){ %>
            <li>Activity</li>
        <% } if(components.V == "1"){ %>
            <li>Vaccinate</li>
        <% } if(components.O == "1"){ %>
            <li>Optimize Medication</li>
        <% } if(components.I == "1"){ %>
            <li>Interact</li>
        <% } if(components.D == "1"){ %>
            <li>Diet & Nutrition</li>
        <% } if(components.S == "1"){ %>
            <li>Sleep</li>
        <% } if(components.F == "1"){ %>
            <li>Falls Prevention</li>
        <% } %>
    </ul>
<% } %>

<h4>Action Plan Daily Tracker - Accomplished your plan today?</h4>
<table class='wikitable' style='width: 100%;'>
    <tr>
        <th style='width: 14.2%;'>Mon</th>
        <th style='width: 14.2%;'>Tue</th>
        <th style='width: 14.2%;'>Wed</th>
        <th style='width: 14.2%;'>Thu</th>
        <th style='width: 14.2%;'>Fri</th>
        <th style='width: 14.2%;'>Sat</th>
        <th style='width: 14.2%;'>Sun</th>
     </tr>
     <tr>
        <td align='center'><% if(tracker.Mon == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
        <td align='center'><% if(tracker.Tue == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
        <td align='center'><% if(tracker.Wed == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
        <td align='center'><% if(tracker.Thu == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
        <td align='center'><% if(tracker.Fri == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
        <td align='center'><% if(tracker.Sat == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
        <td align='center'><% if(tracker.Sun == 1){ %> &#10003; <% } else { %>&nbsp;<% } %></td>
     </tr>
</table>

<img src="<%= wgServer + wgScriptPath %>/skins/bg_bottom.png" style="z-index: -2; position: absolute; left: 0; right:0; width: 100%;" />
