/* Any custom styles should go here */

tbody#productRows td:not(.checkboxCell) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

#saveN {
    vertical-align: top;
}

#editDialog {
    font-size: 9pt;
}

#showOnly {
    float: right;
    margin-right: 250px;
}
