/* Any custom styles should go here */

tbody#productRows td:not(.checkboxCell) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

#saveN {
    vertical-align: top;
}

#editDialog {
    font-size: 9pt;
}

#showOnly {
    float: right;
    margin-right: 250px;
}

span#infinity {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

span#infinity:hover {
    cursor: pointer;
}

.instructions-qtip { max-width: 500px !important; }

table#listTable tr.ar.even td {
    background-color: rgba(0, 100, 50, 0.15);
}

table#listTable tr.ar.odd td {
    background-color: rgba(0, 100, 50, 0.17);
}

table#listTable tr.reported td {
    opacity: 0.35;
}

