/* Any custom styles should go here */

.checkboxCell {
    text-align: center;
}

.popupBlock {
    text-align: left;
}

tbody#productRows td:not(.checkboxCell) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

#saveN {
    vertical-align: top;
}

#editDialog {
    
}

#availableTagsDiv {
    position: absolute;
    width: 220px;
    background: #F7F7F7;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
}

#importOrcidButton > img {
    vertical-align: text-top;
}
