<td style="overflow:visible;max-width:none;" align="left">
    <span class="edit-icon" style="margin-right:3px;"></span><span class="copy-icon" title="Duplicate" style="margin-right:3px;"><span class="throbber" style="display:none;" ></span></span><span class="delete-icon" style="margin-left:3px;"></span>
</td>
<td>
    <%= code %>
</td>
<td>
    <%= date %>
</td>
<td>
    <%= type %>
</td>
<td>
    <%= data.version %>
</td>
<td style="overflow: visible">
    <span style="display:inline-block; vertical-align: middle; max-width: 100%; overflow: hidden; text-overflow: ellipsis;"><%= title %></span>
</td>
<td style="overflow: visible">
    <% if(data.file != undefined){ %>
        <a id="productLink" href="<%= wgServer + wgScriptPath %>/index.php?action=api.productFile/<%= id %>/file/<%= data.file['filename'] %>">
            <span style="display:inline-block; vertical-align: middle; max-width: 100%; overflow: hidden; text-overflow: ellipsis;"><%= data.file['filename'] %></span>
        </a>
    <% } %>
</td>
