<div>
    
</div>
<div>
	<h3>Contact</h3>
    <table style="margin-left: 15px;">
        <tr>
            <td><b>Name</b></td>
            <td><%= personName %></td>
        </tr>
        <tr>
            <td><b>Position</b></td>
            <td><%= position %></td>
        </tr>
    </table>

    <h3>Funding</h3>
    <% if (funding == 0) { %>
    	<span>Not funded</span>
    <% } else { %>
    	$<%= funding %>
    <% } %>

	<h3>Sector</h3>
	<%= sector %>

	<h3>Country</h3>
	<%= country %>

	<% if (!knowledgeUser) { %>
	<div style="display:block; margin-top:15px; margin-bottom:15px;">
		<h3>Attributes</h3>
		<% if ((planning == 1) || (designDataCollection == 1) || (analysisOfResults == 1) || 
			   (exchangeKnowledge == 1) || (userKnowledge == 1)) { %>
			<ul>
		<% } else { %>
			<span style="color: #AAAAAA">None specified</span>
		<% } %>

	    <% if (planning == 1) { %>
	    	<li>Planning of Research</li>
		<% } %>

	    <% if (designDataCollection == 1) { %>
	    	<li>Design/Data Collection</li>
		<% } %>

	    <% if (analysisOfResults == 1) { %>
	    	<li>Analysis of Results</li>
		<% } %>

	    <% if (exchangeKnowledge == 1) { %>
	    	<li>Exchange/Disseminate Research Knowledge</li>
		<% } %>

	    <% if (userKnowledge == 1) { %>
	    	<li>User of Research Knowledge</li>
		<% } %>

		<% if ((planning == 1) || (designDataCollection == 1) || (analysisOfResults == 1) || 
			   (exchangeKnowledge == 1) || (userKnowledge == 1)) { %>
			</ul>
		<% } %>
	</div>
	<% } %>

	<% if (!knowledgeUser) { %>
        <h3>Other</h3>
    <% } else { %>
        <h3>Brief Description</h3>
    <% } %>
    <% if (other == "") { %>
    	<span style="color: #AAAAAA">No 'other' comments provided</span>
	<% } else { %>
    	<%= nl2br(striphtml(other)) %>
    <% } %>
    <br />

    <h3>Related Projects</h3>
	<div id='collaborationProjects'></div>

</div>

<div id="loadPublicationsSpinner" style="width: 100%;
text-align: center;"></div>
<div id="products">
    <ol>
    
    </ol>
</div>
<% if(me.isLoggedIn()){ %>
    </br>
    <button id="editCollaboration">Edit <%= formType %></button>
    <button id="deleteCollaboration">Delete <%= formType %></button>
<% } %>





