<a class="button backButton" href="#/leverages">Back to <%= formType.pluralize() %></a>
<div style="padding-top:5px;">
    <span style="margin-left: 10px;font-size: 1.1em;font-weight: bold;margin-right: 5px;">Year</span>
    <% if(endYear != 0){ %>
        <span style="font-size: 1.1em;"><%= (endYear - 1) %>/<%= endYear.toString().substr(2, 2) %></span>
    <% } else { %>
        <span style="font-size: 1.1em;">Active</span>
    <% } %>
</div>
<div style="display:flex;padding:5px;">
    <div class="collab_box" style="flex-grow:3;max-width: 330px;">
        <div>
            <fieldset style="width: 240px; background: white; border: 1px solid #E0E0E0; border-radius: 4px;">
                <legend style="font-size: 1em;">Contact</legend>
                <table style="border-spacing:10px 0px;">
                    <tr>
                        <td style="vertical-align: baseline;"><b>Name</b></td>
                        <td><%= personName %></td>
                    </tr>
                    <tr>
                        <td><b>Position</b></td>
                        <td><%= position %></td>
                    </tr>
                    <% if(email != ''){ %>
                        <tr>
                            <td><b>Email</b></td>
                            <td><a href="mailto:<%= email %>"><%= email %></a></td>
                        </tr>
                    <% } %>
                </table>
            </fieldset>
        </div>
        <table style="max-width:100%; margin-top: 5px;">
            <tr>
                <td><b>Country</b></td>
                <td></td>
                <td><%= country %></td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;"><b>Sector</b></td>
                <td></td>
                <td><%= sector %></td>
            </tr>
            <tr>
                <td><b>Existed prior to FES grant?</b></td>
                <td></td>
                <td><%= existed %></td>
            </tr>
            <tr>
                <td><b>Cash</b></td>
                <td></td>
                <td>
                    <% if (cash == 0) { %>
                        <span>Not funded</span>
                    <% } else { %>
                        $<%= cash %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><b>In-Kind</b></td>
                <td></td>
                <td>
                    <% if (inkind == 0) { %>
                        <span>Not funded</span>
                    <% } else { %>
                        $<%= inkind %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><b>Projected Cash</b></td>
                <td></td>
                <td>
                    <% if (projectedCash == 0) { %>
                        <span>Not funded</span>
                    <% } else { %>
                        $<%= projectedCash %>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><b>Projected In-Kind</b></td>
                <td></td>
                <td>
                    <% if (projectedInkind == 0) { %>
                        <span>Not funded</span>
                    <% } else { %>
                        $<%= projectedInkind %>
                    <% } %>
                </td>
            </tr>
        </table>
    </div>

    <div class="collab_box" style="max-width:150px;">
        <h3>Related Projects</h3>
        <div id='collaborationProjects'>
        </div>
    </div>
</div>

<div style="margin-left:10px;">
    <h3>Funding title (if any) AND brief description of partnership activities:</h3>
    <% if (other == "") { %>
        <span style="color: #AAAAAA">No 'Description' provided</span>
    <% } else { %>
        <%= nl2br(striphtml(other)) %>
    <% } %>
</div>
<br />

<% if(me.isLoggedIn()){ %>
    </br>
    <button id="editCollaboration">Edit <%= formType %></button>
    <button id="deleteCollaboration">Delete <%= formType %></button>
<% } %>
