<a class="button backButton" href="#/leverages">Back to <%= formType.pluralize() %></a>
<div style="padding-top:5px;">
    <span style="margin-left: 10px;font-size: 1.1em;font-weight: bold;margin-right: 5px;">Year</span>
    <% if(endYear != 0){ %>
        <span style="font-size: 1.1em;"><%= (endYear - 1) %>/<%= endYear.toString().substr(2, 2) %></span>
    <% } else { %>
        <span style="font-size: 1.1em;">Active</span>
    <% } %>
</div>
<div style="display:flex;padding:5px;">
    <div class="collab_box" style="flex-grow:3;max-width:625px;">
        <div>
            <fieldset style="width: 240px; background: white; border: 1px solid #E0E0E0; border-radius: 4px;">
                <legend style="font-size: 1em;">Contact</legend>
                <table style="border-spacing:10px 0px;">
                    <tr>
                        <td style="vertical-align: baseline;"><b>Name</b></td>
                        <td><%= personName %></td>
                    </tr>
                    <tr>
                        <td><b>Position</b></td>
                        <td><%= position %></td>
                    </tr>
                    <% if(email != ''){ %>
                        <tr>
                            <td><b>Email</b></td>
                            <td><a href="mailto:<%= email %>"><%= email %></a></td>
                        </tr>
                    <% } %>
                </table>
            </fieldset>
        </div>
        <table id="fields" style="max-width:100%; margin-top: 5px;">
            <tr>
                <td><b>Country</b></td>
                <td></td>
                <td><%= country %></td>
            </tr>
            <tr>
                <td style="vertical-align: baseline;"><b>Sector</b></td>
                <td></td>
                <td><%= sector %></td>
            </tr>
            <tr>
                <td><b>Existed prior to <%= networkName %> grant?</b></td>
                <td></td>
                <td><%= existed %></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table class="wikitable" style="white-space:nowrap;">
                        <tr>
                            <th></th>
                            <th>FY1-4</th>
                            <th>FY5-8</th>
                            <th>FY5</th>
                            <th>FY6</th>
                            <th>FY7</th>
                            <th>FY8</th>
                            <th>FY9</th>
                            <th>FY10</th>
                            <th>FY11</th>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap;"><b>Cash:</b></td>
                            <td align="right"><% if (!isFunded(cash)) { %><div style="text-align:center;">-</div><% } else { %>$<%= cash %><% } %></td>
                            <td align="right"><% if (!isFunded(projectedCash)) { %><div style="text-align:center;">-</div><% } else { %>$<%= projectedCash %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY5)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY5,2,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY6)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY6,2,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY7)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY7,2,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY8)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY8,2,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY9)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY9,2,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY10)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY10,2,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.cashFY11)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.cashFY11,2,'') %><% } %></td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap;"><b>In-kind:</b></td>
                            <td align="right"><% if (!isFunded(inkind)) { %><div style="text-align:center;">-</div><% } else { %>$<%= inkind %><% } %></td>
                            <td align="right"><% if (!isFunded(projectedInkind)) { %><div style="text-align:center;">-</div><% } else { %>$<%= projectedInkind %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY5)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY5,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY6)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY6,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY7)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY7,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY8)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY8,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY9)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY9,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY10)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY10,'') %><% } %></td>
                            <td align="right"><% if (!isFunded(extra.inkindFY11)) { %><div style="text-align:center;">-</div><% } else { %>$<%= number_format(extra.inkindFY11,'') %><% } %></td>
                        </tr>
                    </table>
                </tr>
            </tr>
        </table>
    </div>

    <div class="collab_box" style="max-width:150px;">
        <h3>Related Projects</h3>
        <div id='collaborationProjects'>
        </div>
    </div>
</div>

<div style="margin-left:10px;">
    <h3>Funding title (if any) AND brief description of partnership activities:</h3>
    <% if (other == "") { %>
        <span style="color: #AAAAAA">No 'Description' provided</span>
    <% } else { %>
        <%= nl2br(striphtml(other)) %>
    <% } %>
</div>
<br />

<% if(fileCount > 0){ %>
    <div style="margin-left:10px;">
        <h3>Documents:</h3>
        <ol>
        <% for(i=0; i<5; i++){ %>
            <% if(files[i] != undefined){ %>
                <li><a href="<%= wgServer + wgScriptPath %>/index.php?action=api.collaborationFile/<%= id %>/<%= i %>" target="_blank"><%= files[i].filename %></a></li>
            <% } %>
        <% } %>
        </ol>
    </div>
<% } %>

<% if(me.isLoggedIn() && !leveragesFrozen){ %>
    </br>
    <button id="editCollaboration">Edit <%= formType %></button>
    <button id="deleteCollaboration">Delete <%= formType %></button>
<% } %>
