<div id="editDialog" style="display:none;">
<div id="editThreadView"></div>
<div id="editPostView"></div>
</div>
<p>
    <%= description %>
</p>
<div>
    <button id="addThreadButton">Add Thread</button>
</div><br />
<div style="float:right;">
    <b>Search: </b><input type="text" id="advancedSearch" size="30" value="<%= this.threads.search %>" /><button id="advancedSearchButton">Search</button>
</div>
<table id="listTable" frame="box" rules="all">
    <thead>
        <tr>
            <th>Title</th>
            <th>Posts</th>
            <% if(networkName != "GlycoNet"){ %>
                <th width="5%" style="white-space: nowrap;">Group</th>
            <% } %>
            <th width="5%" style="white-space: nowrap;">Created By</th>
            <th width="5%" style="white-space: nowrap;">Date Created</th>
        </tr>
    </thead>
    <tbody id="stickies">
        
    </tbody>
    <tbody id="threads">
        
    </tbody>
</table>
