<% if(networkName == "GlycoNet"){ %>
    <p>
        This page is used for HQP to post questions to their peers and get answers.  Only HQP and Staff can view/reply to threads.
    </p>
<% } else { %>
    <p>
        This page is used to manage all your message threads.  Threads will show up in this list if one of the following conditions is true.
        <ul>
            <li>You are a member of the board/committee that is allowed to view the message board.</li>
            <li>Your role is higher than the board/committee that is allowed to view the message board.</li>
            <li>The thread is open for all roles</li>
        </ul>
    </p>
<% } %>
<table id="boards" frame="box" rules="all" style="border: 1px solid #AAAAAA; margin-bottom: 10px;">
    <thead>
        <th>Board</th>
        <th>Description</th>
        <th>#&nbsp;Threads</th>
    </thead>
    <tbody>
<% this.model.each(function(board){ %>
        <tr>
            <td style="white-space: nowrap;">
                <div style="font-size:120%; font-weight: bold; margin: 5px;">
                    <a href="<%= board.get('url') %>"><%= board.get('title') %></a>
                </div>
            </td>
            <td>
                <%= nl2br(board.get('description')) %>
            </td>
            <td align="right">
                <%= board.get('nThreads') %>
            </td>
        </tr>
<% }) %>
    </tbody>
</table>
