<td align="left">
    <% if(stickied == 1){ %>
        <b>
    <% } %>
    <a href="<%= url %>"><%= striphtml(title) %></a>
    <% if(stickied == 1){ %>
        </b>
    <% } %>
</td>
<td align="right" style="width:10px">
    <%= posts.length %>
</td>
<% if(networkName != "GlycoNet"){ %>
    <td align="center" style="white-space: nowrap;">
        <%= roles %>
    </td>
<% } %>
<td style="white-space: nowrap;">
    <a href="<%= author.url %>"><%= author.name %></a>
</td>
<td style="white-space: nowrap;">    
    <%= date_created %>
</td>
