<% if(id != null){ %>
    <div class="thread-message" width="100%">
        <% if(isMine && !this.editing){ %>
            <span class="delete-icon" style="float:right; margin-left: 3px;"></span>
            <span class="edit-icon" style="float:right; margin-right: 3px;"></span>
        <% } %>
        <table padding="0">
            <tbody>
                <tr>
                    <td rowspan="2">
                        <img class="photo" src="<%= author.photo %>">
                    </td>
                    <td valign="top">
                        <b>From:</b>
                    </td>
                    <td valign="top">
                        <a href="<%= author.url %>"><b><%= author.name %></b></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <b>Date:</b>
                    </td>
                    <td valign="top">
                        <%= date_created %>
                    </td>
                </tr>
            </tbody>
        </table>
        <% if(this.editing){ %>
            <%= HTML.TextArea(this, 'message', {style: 'max-height: 200px; resize: none;'}) %>
            <div style="margin-top:5px; text-align: right;">
                <button id="cancel" type="button">Cancel</button>&nbsp;<button id="save" type="button">Save</button>
            </div>
        <% } else { %>
            <div class="inner-message">
                <%= message %>
            </div>
        <% } %>
    </div>
<% } else { %>
    <% if(!this.isDialog && !this.isComment){ %>
        <h2 id="replyHeader">Reply to Thread</h2>
    <% } %>
    <div id="addMessage">
        <%= HTML.TextArea(this, 'message', {style: 'max-height: 200px; resize: none;'}) %>
        <br>
        <% if(!this.isDialog && !this.isComment){ %>
            <div style="margin-top:5px; text-align: right;">
                <button id="submitPost" type="button">Add Reply</button>
            </div>
        <% } else if (!this.isDialog && this.isComment) { %>
            <div style="margin-top:5px; text-align: right;">
                <button id="submitPost" type="button">Add Comment</button>
            </div>
        <% } %>
        <span class="throbber" style="display:none;"></span>
    </div>
<% } %>
