<table>
<tr>
    <td><b>Title:</b></td>
    <td><%= HTML.TextBox(this, 'title', {style: 'width:547px;'}) %></td>
</tr>
<tr>
    <td>
        <% var def = [{option: "Choose Group...", value: ""}]; %>
        <b>Group:</b>
    </td>
    <td><%= HTML.Select(this, 'roles', {options: def.concat(allowedRoles)}) %></td>
</tr>
</table>
<br/>
<div id="threadPeople"></div>
<% if(this.isDialog){ %>
<h2>Description</h2>
<% } %>
<% if(!this.isDialog){ %>
    <div style="width:180px;display:inline-block;">
        <button id="saveThread"><% if(this.model.isNew()){ %>Create<% } else { %>Save<% } %> Thread </button>
        <span class="throbber" style="display:none;"></span>
    </div>
    <div style="width:180px;display:inline-block;">
        <button id="cancel">Cancel</button>
    </div>
<% } %>
