<div class="en">
<p>
    This page is used to search through a list of pharmacies that provide Mifepristone. To search for a pharmacy in your location, enter your address in the address box or click "Find My Location" and hit "Enter". The closest 10 searches will be plotted on the map. Click on the plots to read more information about the Pharmacy.
</p>
</div>
<div class="fr">
<p>
Cette page est utilisée pour rechercher dans une liste de pharmacies qui fournissent mifépristone . Pour rechercher une pharmacie dans votre région , entrez votre adresse dans le champ d'adresse ou cliquez sur "Find My Location" et appuyez sur " Entrée" . Les plus proches de 10 recherches seront tracées sur la carte . Cliquez sur les parcelles pour lire plus d'informations sur la pharmacie.
</p>
</div>
<br />
<span class='en' style='display:none'>Address</span><span class='fr' style='display:none'>Adresse</span> <input type="text" id="lat" style="width:399px" />&nbsp<button id="findLocation"><span class='en' style='display:none'>Find my Location</span><span class='fr' style='display:none'>Trouver mon Endroit</span></button>

<br /><br /><br />
<div id="map-container">
    <div id="map"></div>
</div>
